/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@import url(../fonts/stylesheet.css);

body {
    background-color: #efefef;
    font-family: 'gotham_mediumregular', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #475756;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .sidebar > div > ul > li > a, .select-country{
    font-family: 'gotham_lightregular', sans-serif;
    font-weight: 600;
}
.sidebar > div > ul > li > a {
    font-weight: 600;
}
#wrapper {
    width: 100%;
    background-color: #fff;
}

#page-wrapper {
    min-height: 568px;
}
.navbar-inverse a{
    color: #ccc;
}
.navbar-inverse a:hover, a:focus{
    color: #ccc;
}
.navbar-toggle .icon-bar {
    background-color: #666;
    margin-top: 8px;
}
.navbar-Lebara {
    min-height: 55px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.navbar-brand {
    padding: 10px 5px 5px 0px;
}
.navbar-top-links > li {
    float: left;
}
.panel-smart {
    border: none;
    box-shadow: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.pad-l0 {
    padding-left: 0px;
}
.select-country{
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-size: 14px;
}
.select-country li{
    margin: 10px 0 0;
}
.select-country li a{
    color: #666;
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
    }
    #wrapper {
        border-top: 8px #b4b1b1 solid;
    }
    .navbar-header {
        float: none;
    }
    .navbar-top-links > li > a {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navbar-collapse-cart {
        float: right;
    }
}
.shipping-name-panel, #shipping-name-panel{
    border-radius: 0px;
}
.panel-default{
    position: relative;
}
/*Defaults*/
.form-control {
    background-color: #f5f5f5;
}
.panel, .form-control, .btn{
    border-radius: 0;
}
.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0,1,2,0.15);
    box-shadow: 0 1px 2px rgba(0,1,2,0.15);
}
.panel-default{
    border:0;
}
.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f0d7";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    position: absolute;
    right: 10px;
    top: 8px;
}
.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0da";    /* adjust as needed, taken from bootstrap.css */
}
.bg-primary-card {
    background-color: #00adef;
}
.bg-primary-card {
    padding: 10px;
    margin-left: 0px;
    display: block;
    margin-bottom: 15px;
    color: #fff;
    background-image: 
}
.bg-primary-card label{
    font-weight: normal;
}
.mar--l15 {
    margin-left: -7px;
}
.retailer-address .name {
    text-transform: uppercase;
}
.retailer-address > .col-xs-12::before{
    content: " ";
    line-height: 2em;
}
.retailer-address > .col-xs-12 {
    border-bottom: #ccc 1px solid;
    margin-top: 15px;
}
.navbar-toggle {
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links > li > a {
    padding: 10px;
    margin-top: 8px;
    font-size: 1.2em;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    font-size: .9em;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links > li > a {
    color: #666;
}
.navbar-top-links > li.open > a {
    color: #00a6ec;
}
.navbar-top-links > li > a:hover, .nav-top-links > li > a:focus {
    color: #00a6ec;
}
.payment-tabs > li > a > .fa {
    display: block;
    text-align: center;
}

h4.navbar-brand{
    font-family: 'gotham_boldregular';
    color: rgba(0,0,0,.4);
    margin-top: 5px;
}
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 10px;
    border-width: 0;
    font-weight: bold;
    font-size: 1.6em;
    color: #00adef;
}
@media(min-width: 992px){
    h4.navbar-brand{
        margin-left: 0px !important;
    }
}
@media(max-width:767px) {
    .navbar-top-links {
        max-width: 124px;
    }
    .navbar-top-links li a {
        padding: 10px 5px;
    }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 10px 10px;
        font-size: 18px;
        line-height: 20px;
        margin-top: 5px;
        margin-left: -7px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-Lebara {
        min-height: 50px;
    }
    .navbar-top-links li:last-child {
        margin-right: 0px;
    }
	
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts,
.navbar-top-links .dropdown-cart {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -130px;
}
.navbar-top-links .dropdown-cart {
    margin-left: -250px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.user-card{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.dropdown-ftc{
    left: -78px;
    top: -63px;
}
.navbar-right .dropdown-menu {
    top: 63;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar.col-md-3{
    padding: 0px;
}
.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    -webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
    transition: color 2s;
}

@media(min-width: 992px){
    .sidebar ul li.active {
        background-color: #00adef;
    }   
}
.sidebar ul li.active .nav-second-level li.active a{
    color: #fff !important;
    background-color: rgba(0,0,0,.2);
}
.sidebar ul li.active .nav-second-level li.active a::after {
    content: "";
    position: relative;
    right: -5px;
    float: right;
    background-color: #fff;
    border-right: 2px solid #fff;
}
.nav-second-level li.active a{
    background-color: #055f82;
}
.sidebar ul li.active .nav-second-level li.active a:hover, .sidebar ul li.active .nav-second-level li.active a:focus{
    background-color: rgba(0,0,0,.1) !important;
}
.sidebar ul li a.active {
    color: #fff;
}
.sidebar ul li.active > a {
    color: #fff;
}
.k-connect {
    width: 230px;
}
@media(min-width: 768px and max-width: 991px){
    .k-connect {
        width: 200px !important;
    }
}
@media(max-width: 991px){
    #side-menu > li {
        width: 31%;
        display: inline-table;
        text-align: center;
        font-size: .7em;
    }
    #side-menu > li > a .fa.arrow {
        display: none;
    }
    #side-menu > li > a{
        min-height: 100px;
    }
    #side-menu > li > ul.nav-second-level li{
        width: 32%;
        float: left;
        min-height: 100px;
    }
    #side-menu > li > ul.nav-second-level li:first-child{
        clear: both;
    }
    .sidebar > ul > li.active {
        background-color: transparent;
    }
    #side-menu > li.left {
        margin-left: 15px;
        border-right: 1px solid rgba(255,255,255,.5);
    }
     #side-menu > li > ul.nav-second-level{
        width: 303%;
        position: relative;
        background-color: #055f82;
    }
    #side-menu > li.left > ul.nav-second-level{
        left: 0%;
    }
    #side-menu > li.middle > ul.nav-second-level{
        left: -105.5%;
        margin: 0 10px;
    }
    #side-menu > li.right > ul.nav-second-level{
        left: -207%;
        margin: 0 10px;
    }
    .sidebar ul li.active .nav-second-level li.active a:hover, .sidebar ul li.active .nav-second-level li.active a:focus {
        background-color: rgba(0,0,0,.1) !important;
    }
	

}
a > div > h4.panel-title{
    color: #475756;
}
.accordion-toggle:hover, .accordion-toggle:focus {
    text-decoration: none;
}
button.edit{
    font-size: 1.1em;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    padding: 5px;
    background-color: #bbb;
    color: #000;
    text-shadow: 0 0px 0 #fff;
}
a p .text-lg{
    font-size: 2em;
}
.panel-body-login form {
    max-width: 320px;
}
.bg-primary1 {
    color: #fff;
    background-color: #00adef;
}
.bg-warning-btn .panel-footer {
    background-color: #f4aa00;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    font-family: 'gotham_lightregular';
    font-weight:  bold;
}
.bg-warning-btn .panel-footer p{
    margin-bottom: 0px;
    font-size: 13px;
}
.bg-warning-btn:hover, .bg-warning-btn:focus{
    text-decoration: none;
}
.bg-warning-btn:hover .panel-footer, .bg-warning-btn:focus .panel-footer{
    background-color: #fabb2b;
}
.offer-applied-btn .panel-footer {
    background-color: #00adef;
}
.offer-applied-btn:hover .panel-footer, .offer-applied-btn:focus .panel-footer{
    background-color: #63CEFC;
}
.link-primary:hover{
    text-decoration: none;
}
.link-primary .panel {
    background-color: #fff;
    font-family: 'gotham_lightregular';
    color: #333;
}
.link-primary .panel .fa-3x{
    color: #665b9b;
}
.table {
   font-size: 1em;
   color: #666;
}
h4 {
    font-size: 16px;
}
.panel-group .panel{
    border-radius: 0px;
}
.panel-smart .table * {
    text-align: left;
}
.panel-smart .table {
   border-collapse: separate;
   border-spacing: 0px 5px;
}
.panel-smart .table>thead>tr>th:last-child, .panel-smart .table>tbody>tr>td:last-child, .panel-smart .table>tfoot>tr>td:last-child{
    text-align: right;
}
.panel-smart .table>tfoot>tr>td:last-child{
    border-bottom: 1px solid #999;
}
.panel-smart .table>tfoot>tr>td{
    text-align: right;
    padding-right: 20px;
}
 .panel-smart .table>tfoot>tr>td>p{
    text-align: right;
}
.offer-applied {
    display: inline-block;
    text-align: right !important;
}
 .panel-smart .table>tfoot>tr>td>p>span{
    min-width: 120px;
    display: inline-block;
    text-align: right;
 }
 .panel-smart .table>tfoot>tr>td>ul{
    min-width: 120px;
    display: inline-block;
    text-align: right;
    list-style: none;
 }
  .panel-smart .table>tfoot>tr>td>ul>li>a{
    text-align: right;
    margin-left: 40px;
  }
 .adjust-ftc {
    min-width: 120px;
    display: inline-block;
    text-align: right;
    list-style: none;
 }
.panel-smart .table>thead>tr>th {
    border-width: 0;
}
.panel-smart .table>tbody>tr>td {
    border-width: 0;
    background-color: #ededed;
}
.cart-panel .table > tbody > tr > td {
    vertical-align: middle;
}
.panel-smart .table>tfoot>tr>td {
    border-width: 0;
}
.panel-smart .table>tbody>tr {
}
.panel-smart .table>tbody>tr>td:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.panel-smart .table>tbody>tr>td:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.panel-smart .table>thead>tr>th{
    text-transform: capitalize;
}
.btn-info{
    background-color: #00adef;
}
.btn-info:hover, .btn-info:focus{
    background-color: #0094cd;
}
.btn-inverse{
    background-color: #666666;
    color: #fff;
}
.btn-inverse:hover, .btn-inverse:focus{
    background-color: #444;
    color: #fff;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: inline-block;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|";
}
.breadcrumb > .active {
  color: #777;
}
.wid-100 {
    width: 150px;
}
.profile-card h4{
    margin-bottom: 20px;
}
.products {
}
.account-details {
    padding-top: 30px;
}
.user-image-card {
    border: 1px solid #00adef;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.user-image-card:hover, .user-image-card:focus {
    border: 1px solid #666;
}
.user-image-card:hover .btn-profile-image {
    background-color: #666;
}
.btn-profile-image {
    text-transform: none !important;
    color: #fff;
    background-color: #00adef;
    width: 100%;
    font-size: 12px !important;
}
.panel-infoform {
    padding: 15px;
}
.panel-infoform .alert{
    margin-bottom: 0px !important;
    border-radius: 0;
    border-width: 0;
}
.btn-profile-image:hover, .btn-profile-image:focus{
    background-color: #666;
    color: #fff;
}
.products > div > .product {
    background-color: #ededed;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    min-height: 260px;
    margin-left: -5px;
}
.product > img {
    height: 60px;
}
.product .form-group{
    width: 48%;
    display: inline-block;
}
.btn-inline {
    display: inline-block;
    float: left;
    margin-right: 8px;
}
.btn-inline {
    padding: 3px 0 !important;
}
.strike-line{
    text-decoration: line-through;
}
.qdetails {
    padding: 0px;
    margin-top: 5px;
}
.offer {
    float: left;
}
.sidebar .nav>li>a:hover, .sidebar .nav>li>a:focus {
    background-color: rgba(255,255,255,.2);
    /*color: #00A6EC;*/
}
.nav-second-level {
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f105";
}



.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}
.btn, .form-control{
    font-size: inherit;
}
.sidebar .nav-second-level li a {
    padding-left: 55px;
    color: rgba(255,255,255,.85);
}
.sidebar > div > ul > li > a{
    color: #475756;
}
.sidebar > div > ul > li > a > .fa {
    margin-right: 5px;
    font-size: 1.4em !important;
    position: relative;
    top: 2px;
    opacity: .85;
    color: #00adef;
}
.sidebar > div > ul > li > a > .arrow {
    color: #475756;
}
.sidebar > div > ul > li.active > a > .fa {
    color: #fff;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
.new-address-popup:hover {

}
@media(min-width: 1200px){
    .login-selectdetails {
        margin-left: 20px;
    }
}
@media(min-width:992px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        margin-top: 40px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
    .content-body {
        margin-top: 25px;
    }
}
@media(min-width:768px) { 
    .navbar-brand img {
        width: 130px;
    }
}
.sidebar-container{
    position: relative;
    clear: both;
}
@media(max-width: 991px) {
    .sidebar-container {
        margin: 0;
    }
}
@media(min-width:992px) {
    .sidebar-container{
        margin-right: 25px;
    }
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.btn-addcart {
    color: #fff;
    background-color: #e52f66;
    border-color: #d52a5e;
}
.btn-addcart:hover,
.btn-addcart:focus,
.btn-addcart:active,
.btn-addcart.active,
.open > .dropdown-toggle.btn-addcart {
  color: #fff;
  background-color: #d52a5e;
  border-color: #c02654;
}
.btn-addcart:active,
.btn-addcart.active,
.open > .dropdown-toggle.btn-addcart {
  background-image: none;
}
.btn-addcart .badge {
  color: #d52a5e;
  background-color: #fff;
}
.font-bold {
    font-weight: bold;
}
.inline-el{
    display: inline-block;
}
.total-price {
    font-family: 'gotham_mediumregular', Arial, Helvetica, sans-serif;
    margin-top: 0;
}
.lead-new-address {
    font-size: 16px;
}
.panel-title {
    font-size: 1.1em;
}
.address-content {
    min-height: 75px;
}
.badge-xs-number {
    position: absolute;
    font-weight: normal;
    font-size: 10px;
    padding: 6px 5px;
    border-radius: 100%;
    top: 0px;
    color: #fff;
    background-color: #00adef;
    min-width: 22px;
}
.help-block-right{
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: .8;
    font-size: .9em;
}
.search-button {
    padding: 0 !important;
}
.btn-link{
    color: #666;
}
.btn-link:hover, .btn-link:focus{
    color: #333;
    text-decoration: none;
}
/******************TREE Table ************************/
table.tree-table tbody tr.child td:first-child {
    
}
tr.child td:first-child span {
    padding-left: 37px;
    position: relative;
}
.summary-container .table > tbody > tr.child.open > td:nth-child(n), .summary-container .table > tbody > tr.parent.open > td:nth-child(n) {
    border-bottom: 1px solid #eee !important;
}
.summary-container .table > tbody > tr.parent > td:nth-child(n) {
    border-top: 1px solid #999 !important;
}
tr.child.open td:first-child span::before, tr.child.open td:first-child span::after{
    content: ".";
    color: #fff;
    left: 16px;
    position: absolute;
    border-color: #ccc;
}
tr.child.open td:first-child span::before{
    border-left-width: 1px;
    border-left-style: solid;
    top: -30px;
    height: 38px;
}
tr.child.open td:first-child span::after{
    border-top-width: 1px;
    border-top-style: solid;
    top: 8px;
    width: 15px;
}
@media(max-width: 991px){
    .badge-xs-number {
        left: 15px;
    }
}
@media(min-width: 992px){
    .badge-xs-number {
        left: 20px;
    }
}
/************************************************************************************************************************************************************************************************/
.mar-l5{
    margin-left: 5px;
}
.mar-l10{
    margin-left: 10px;
}
.mar-l15{
    margin-left: 15px;
}
.mar-l20{
    margin-left: 20px;
}
.mar-l25{
    margin-left: 25px;
}
.mar-l30{
    margin-left: 30px;
}
.mar-l35{
    margin-left: 35px;
}
.mar-l40{
    margin-left: 40px;
}
.mar-t5{
    margin-top: 5px;
}
.mar-t10{
    margin-top: 10px;
}
.mar-t15{
    margin-top: 15px;
}
.mar-t20{
    margin-top: 20px;
}
.mar--t20{
    margin-top: -20px;
}
.mar-t25{
    margin-top: 25px;
}
.mar-t30{
    margin-top: 30px;
}
.mar-t35{
    margin-top: 35px;
}
.mar-t40{
    margin-top: 40px;
}
.mar-r5{
    margin-right: 5px;
}
.mar-r10{
    margin-right: 10px;
}
.mar-r15{
    margin-right: 15px;
}
.mar-r20{
    margin-right: 20px;
}
.mar-r25{
    margin-right: 25px;
}
.mar-r30{
    margin-right: 30px;
}
.mar-r35{
    margin-right: 35px;
}
.mar-r40{
    margin-right: 40px;
}
.mar-b5{
    margin-bottom: 5px;
}
.mar-b10{
    margin-bottom: 10px;
}
.mar-b15{
    margin-bottom: 15px;
}
.mar-b20{
    margin-bottom: 20px;
}
.mar-b25{
    margin-bottom: 25px;
}
.mar-b30{
    margin-bottom: 30px;
}
.mar-b35{
    margin-bottom: 35px;
}
.mar-b40{
    margin-bottom: 40px;
}
.mar-t0 {
    margin-top: 0;
}
.mar-r0 {
    margin-right: 0;
}
.mar-b0 {
    margin-bottom: 0;
}
.mar-l0 {
    margin-left: 0;
}
.mar-v0{
    margin-top: 0;
    margin-bottom: 0;
}
.mar-h0{
    margin-right: 0;
    margin-left: 0;
}

.pad-t0 {
    padding-top: 0;
}
.pad-r0 {
    padding-right: 0;
}
.pad-b0 {
    padding-bottom: 0;
}
.pad-l0 {
    padding-left: 0;
}
.pad-v0{
    padding-top: 0;
    padding-bottom: 0;
}
.pad-h0{
    padding-right: 0;
    padding-left: 0;
}
.column-3{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.btn-sm-nobg{
 background:#FFF !important;
 outline:none !important;
}
