.panel-login{
	padding: 10px 30px 20px 30px;
}
.left-login{background-color:#00A6EC;border-radius:25px 0px;padding-top:25px;}
.logo-position{padding:0px 15px;border-right:1px solid #fff;}
.left-login h2{color:#fff;}

@media(min-width: 320px){
	.left-login h2{font-size:1em;margin-top: 5px;}
}
@media(min-width: 450px){
.left-login h2{font-size:1.3em;margin-top:15px;}
}
@media(min-width: 768px){
	.left-login h2{font-size:1.1em;margin-top: 5px;}
}
@media(min-width:992px){
	.left-login h2{font-size:1.4em;margin-top: 5px;}
}

/*.form-signin{max-width: 80%;}*/
.bottom-no-radius > .input-group-addon {
	border-bottom-left-radius: 0;
	margin-bottom: 0px;
	border-bottom-color: rgba(0,0,0,.2) !important;
}
.bottom-no-radius > .form-control {
	border-bottom-right-radius: 0;
	margin-bottom: 0px;
	border-bottom-color: rgba(0,0,0,.2) !important;
}
.top-no-radius > .input-group-addon {
	border-top-left-radius: 0;
	min-width: 36px;
}
.top-no-radius > .form-control {
	border-top-right-radius: 0;
}
/*.form-signin .form-control{
	background-color: rgba(255,255,255,.3);
	border-color: transparent;
	color: #fff;
}
.form-signin .input-group-addon {
	background-color: rgba(255,255,255,.85);
	border-color: transparent;
}
.form-signin .form-control:focus{
	background-color: rgba(255,255,255,.5);
}*/
h2.form-signin-heading{width:182px; margin-top: 40px; color: #025272;line-height:.8em;font-size:30px;}
h2.form-signin-heading span{font-size:15px;}

.language-section{
	background-color:#6D6E70; 
	margin-top:60px;
	padding-top: 10px;
	border-radius: 0px 8px 8px 0px;
}
.panel-login-right {
    margin-top: 60px;
}
.panel-login-right .panel-body{
    padding: 0px;
}
.panel-login-right .panel-body >.img-responsive {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media(max-width:767px) {

	.panel.panel-login{
        margin: 0px 15px 0 15px;
    }
    .language-section {
        margin: 0px 0px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }
    .language-section ul li {
        display: inline-block;
        margin-right: 10px;
        width: 120px;
    }
}
.btn-custom{width: 67%;}
.text-inverse{color: #fff;}

.language-section ul{padding-left:20px;padding-top:30px;padding-bottom:30px;}
.language-section ul li{list-style-type:none;padding-bottom:5px;}
.language-section ul li a{color:#fff;}

.clear{clear:both;}

.panel-login-right ul{
	padding:0px 0px 30px 20px;
	margin-top: 20px;
	background-image: url("../images/bg-links.png");
	background-repeat: no-repeat;
	background-position: 95% 5%;
}
.panel-login-right ul li{list-style-type:none;}
.panel-login-right ul li a{color:#00A6FC;}
.panel-login-right .panel{background-color: #F1F1F1;margin-bottom: 0px;border-radius:8px;}

.language-section .active:before{
	content:"\f0da";
	color:#fff;
	margin-left:-8px;
}
.language-section .active a{
	font-family: "gotham_lightregular";
	padding-left: 4px;
}


/* Payment HTML*/

@media (min-width: 768px) {

	.login-footer .col-md-8 .clear{width:86%;}

	.nav-tabs-left{float:left;border-bottom:none;width:120px; font-size:.9em; padding-right:0px;}
	.nav-tabs-left li{display: block; margin-bottom: 0px; width:100%;}
	.tab-content-customize{border-left:1px solid #ddd; margin-left:-2px;}

	.nav-tabs-left > li.active > a, .nav-tabs-left > li.active > a:hover, .nav-tabs-left > li.active > a:focus {border-bottom-color:#ddd;border-right-color:transparent; }
	.nav-tabs-left > li > a {border-radius:4px 0px 0px 4px; font-size: 12px;}
	.form-control-custom{padding: 0px 5px;}
	.prepend-left-5px{padding-left:5px;}
	.append-right-0px{padding-right:0px;}
}

/* Added for Dashboard*/
@media(min-width: 992px){
	.navbar-Lebara .sidebar{
		/*background-color: #00A6EC;*/
		background-color: #fff;
		padding-bottom:8px;
	}
}
@media(max-width: 991px){
	.navbar-Lebara .sidebar{background-color:#fff;}
}
.panel-lebara {
	background-color:#ebebeb;
	border-radius:0;
	margin-top: 20px;
	box-shadow: none;
	padding: 8px;
	min-width: 242px;
	webkit-transition: box-shadow ease-in-out 0.15s, background-color ease-in-out 0.15s;
	-o-transition: box-shadow ease-in-out 0.15s, background-color ease-in-out 0.15s;
	transition: box-shadow ease-in-out 0.15s, background-color ease-in-out 0.15s;
}
.panel-lebara:hover{
    background-color: #fefefe;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.panel-lebara .panel-heading{
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,.4);
	color:#6d6f71;
	padding-left: 0px;
}
.panel-lebara .panel-heading {
	padding: 0px;
	padding-top: 5px;
}
.panel-lebara .panel-footer{
	padding-right: 0px;
}
.panel-lebara .table {
	margin-bottom: 0px;
}
.panel-lebara .table>thead>tr>th {
	border-width: 0;
}
.panel-lebara .table>thead>tr>th, .panel-lebara .table>tbody>tr>th, .panel-lebara .table>tfoot>tr>th, .panel-lebara .table>thead>tr>td, .panel-lebara .table>tbody>tr>td, .panel-lebara .table>tfoot>tr>td {
	border-width: 0;
}
.panel-lebara .table>tfoot {
	border-top: 1px solid rgba(0,0,0,.2);
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.pro-name {
    display: block;
    color: #333;
}
.product h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.4em;
    font-weight: bold;
}
.text-right {
	font-weight: bold;
}
.panel-lebara table>thead>tr>th:first-child{
	padding-right: 32px;
}
.panel-lebara .panel-footer{border-top: 1px solid transparent; background-color: transparent;}
.panel-lebara .panel-body {padding: 0px;}
.mar-t5{margin-top:5px;}
.mar-l10{margin-left:10px;}
.mar-l30{margin-left:30px;}
.input-group-addon {
	font-size: inherit;
}
/* Sim Card Section*/


@media(min-width: 768px){
	.sim-cards {
		font-size: .9em;
	}
}
.sim-header{
		padding: 0 10px;
	}


/* Order Flow */

.order-flow {margin-top: 20px;}
.order-flow ul{list-style-type: none; height: 100px; margin: 0; padding: 0;}
.order-flow ul li{float: left; width:100px; text-align:center; position: relative;}
.order-flow ul li a > .label{
	border:2px solid #fff;
	margin:10px auto;
	display: block;
	border-radius:50%;
	width:45px; 
	padding: 10px 0px;
	background-color: #fff;
	color:#666;
	box-shadow: 0px 0px 2px rgba(0,0,0,.2);
}
.order-flow ul li a{color: #666;}
.order-flow ul li a:hover{text-decoration: none;}
.order-flow ul li a:hover > .label{border:2px solid #FFF; color:#666; background-color: #FFF;}

.order-flow ul li a:active > .label {
     border:2px solid #FFF; color:#666; background-color: #FFF;

}
.order-flow ul li a:active > .label{
    background-color:#00A6EC;
    border:2px solid #00A6EC;
    color:FFF;
}
.order-flow ul li a:active > span {

}

.order-flow ul li::after{
	width: 40px;
	height: 1px;
	background-color: #ccc;
	position: absolute;
	z-index: 10;
	top: 30px;
	left: 80px;
	content: "";
}
.order-flow ul li:last-child::after{
	width: 0px;
	height: 0px;
}
.span-pad-t5 {padding-top: 5px; display: block;}

.order-flow .active a > .label{border:2px solid #00A6EC;color:#fff; background-color: #00A6EC;}
.order-flow .active a > span{color: #00A6EC;}

@media(max-width:399px) {
	.order-flow .span-pad-t5{padding-top: 10px;}
	.order-flow span{font-size: 11px;}
	.order-flow ul li:after{width:22px;}
	.order-flow ul{padding-left:7px;}
	.order-flow ul li{width:70px;}
	.order-flow ul li:after{left:58px;top: 34px;}

	.nav-tabs.nav-tabs-left>li>a {
		max-width: 70px;
		text-align: center;
		font-size: 12px;
		padding: 6px 10px;
	}
}

/* Quick Buy */
.centered{vertical-align: middle;}
.product-container{
	padding:10px;
}

	.image-section{
		border-radius: 4px 0 0 4px;
	    bottom:0;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 25%;
		vertical-align: middle;
		border-right:1px solid #efefef;
		 }

	

	.product-section{
		border-radius: 0px 4px 4px 0px;
		margin-left: 25%;
	}
	.product-section h4{margin-bottom: 5px;}

@media(min-width: 768px) {
	.image-section img {
		margin: 0 auto;
		margin-top: 35%;
	}
}
@media(max-width: 767px)  {
	.image-section img {
		margin: 0 auto;
		margin-top: 60%;
	}
} 

/* Order Summary Styles*/

.order-summary .col-sm-12 {padding-left:0px;}
.order-summary .row .col-sm-4 {padding-left:0px;}
.order-detail{
	background-color:#EDEDED;
	padding:15px;
	margin-top:10px;
	}
.order-detail p{margin-bottom:0px;}
.pad-l0{padding-left: 0px;}

.summary-container .table > thead > tr > th:nth-child(n){border-bottom:1px solid #999;}

.summary-container .table > tbody > tr > td:nth-child(n){
	background-color: #fff;
	border-bottom:1px solid #999;
	border-radius:0px !important;
	padding:10px;
}
.summary-container .table > tfoot > tr > td:nth-child(n){
	background-color: #fff;
	border-bottom:1px solid #999;
	border-radius:0px !important;
	padding:10px;
}
.summary-container .table > tbody > tr > td:last-child, .summary-container .table > tfoot > tr > td:last-child,
.table.table-cart  > tbody > tr > td:last-child, .table.table-cart > tfoot > tr > td:last-child{
	color: #333;
}
.border-none{border:none !important;}
.align-left{text-align: left !important;}

@media(max-width: 767px)  {
	.payment-summary-table{font-size:.85em;}
} 
.panel-mar-t15{margin-top: 15px !important;}
.color-00ADEF{color:#00adef;}

/* View cart*/

.btn-cross{
	background-color: rgba(0,0,0,.6);
	border: transparent;
	color: #fff;
}
.btn-shipping{
	color: #475756 !important;
}
.btn {
	text-transform: uppercase;
}file:///C:/wamp/www/lebara-htmls/view-cart.html
.btn-warning {
	background-color: #f4aa00;
}
.lead {
	font-size: 18px;
}
.pad-l5{padding-left:5px;}
.panel-footer .table > tbody{background-color: transparent;}
.payment-panel .panel-footer{padding-left: 0px;}
.shipping-panel .panel-footer{padding-left: 0px;}
.cart-panel{
	background-color: transparent;
	box-shadow: none;
}
.cart-panel .table > tbody > tr > td{background-color: #fff;}


/* Mobile Navigation Styles*/

@media(max-width: 991px){
	#side-menu{
		margin: 20px;
	}
    #side-menu > li {
        width: 33.2%;
        display: inline-table;
        text-align: center;
        font-size: .7em;
    }
    #side-menu > li > a .fa.arrow {
        display: none;
    }
    #side-menu > li > a{
        min-height: 100px;
    }
    #side-menu > li > ul.nav-second-level li{
        width: 32%;
        float: left;
        min-height: 100px;
    }
    #side-menu > li > ul.nav-second-level li:first-child{
        clear: both;
    }
    .sidebar > ul > li.active {
        background-color: transparent;
    }
    #side-menu > li.left {
      
        margin-left: -1px;
    }
    #side-menu > li.middle {
      
        
        margin-left: -1px;
    }
    #side-menu > li.right {
       
      
        margin-left: -1px;
    }
     #side-menu > li > ul.nav-second-level{
        width: 300%;
        position: relative;
        background-color: #055f82;
    }
    #side-menu > li.left > ul.nav-second-level{
        left: 0%;
    }
    #side-menu > li.middle > ul.nav-second-level{
        left: -107%;
    
    }
    #side-menu > li.right > ul.nav-second-level{
        left: -206.5%;
       
    }
    .sidebar ul li.active .nav-second-level li.active a:hover, .sidebar ul li.active .nav-second-level li.active a:focus {
        background-color: rgba(0,0,0,.1) !important;
    }

	.smd-nav-icon::before{
		font-size:2em;
		display: block;
	}
	.smd-nav-icon{
		margin-top:25px;
		margin-bottom: 10px;
	}
	
	.smd-nav{font-size:1.2em; display: block;}

	.smd-nav:before,
	.smd-nav:after{
	  display: table;
	  content: " ";
	}
	.smd-nav:after{clear:both;}
}

@media(max-width: 991px){
    
.sidebar ul li.active a{background-color: #00adef;}

.sidebar .nav>li.active>a:hover, .sidebar .nav>li.active>a:focus {
    background-color: #33BDF2;
}
.nav-second-level {
    background-color: #00adef !important;
  } 
#side-menu > li > ul.nav-second-level li{
        width: 33.3%;
        float: left;
        min-height: 100px;
    }
.sidebar ul li.active .nav-second-level li.active a:hover, .sidebar ul li.active .nav-second-level li.active a:focus {
    background-color: rgba(0,0,0,.1) !important;height:100px;
    } 
.sidebar ul li.active .nav-second-level li.active a{
    min-height:100px;
}
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus{min-height: 100px;}
.sidebar .nav-second-level li a{padding-left: 15px;}


}

@media(min-width:992px){
	.nav-second-level-icon{display:none !important;}
}

/*Added for mobile navigatiopn on 7th october  */  

@media(max-width:991px){

.left a,.middle a,.right a{padding:0px !important;}
.left,.middle,.right{float:left;}
.left{clear:both;}

}

@media(min-width:768px) and (max-width:991px) {

#side-menu > li.middle > ul.nav-second-level{
        margin: 0 5px 0px 15px;
    }
#side-menu > li.right > ul.nav-second-level{
    	margin: 0 5px 0px 15px;
    }
.smd-nav{font-size:1.5em;}

}


/* Menu Button animation*/

#mbtn {
  display: inline-block;
   border: none;
   float: right;
   margin:8px 7px 8px 5px;
   background-color: transparent;
   position: relative;
 }
#mbtn span {
  display: block;
}

.lines-button {
  padding: 1.65rem 1rem !important;
  transition: .3s;
  cursor: pointer;
  opacity: .7
  /* */
}

.lines {
  display: inline-block;
  width: 3rem;
  height: 0.47143rem;
  background: #666666;
  border-radius: 0.28571rem;
  transition: .5s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 3rem;
  height: 0.47143rem;
  background: #666666;
  border-radius: 0.28571rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: 1rem;
}
.lines:after {
  top: -1rem;
}

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
  opacity: .7;
}

.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 3rem;
}
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}


@media(max-width:991px){

/* Added for Mobile and Tablet Navigation*/

.nav-sm{
	margin-top:20px !important;
	position: relative;
}
.nav-sm:after, .nav-sm:before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 15%;
    pointer-events: none;
    position: relative;
    top:-30px;
    width: 0;
}
.nav-sm:before {
    border-bottom-color: #00adef;
    border-width: 15px;
}
.centre-tip:after, .centre-tip:before {left:50%;}
.right-tip:after, .right-tip:before {left:82%;}

.nav-sm li:nth-child(1), .nav-sm li:nth-child(2), .nav-sm li:nth-child(3){margin-top: -20px;}

}

/*********** Styles 2***************/
.open-order-panel button h5{
  float:left;
  text-transform:capitalize;
  line-height:0;
}

.open-order-panel .btn-lg{
 padding:0;
 margin-bottom:10px;
}

.open-order-panel button span.fa.arrow{
 outline:none !important;
}
.open-order-panel button span.fa.arrow:before{
 content: "\f106" !important;
}

.open-order-panel button.collapsed span.fa.arrow:before{
 content: "\f107" !important;
}
.open-order-panel button.collapsed{
 margin-bottom:0;
}
.open-order-panel button.collapsed, .open-order-panel .close:hover, .open-order-panel .close:focus{
 opacity:1;
}

.open-order-panel .btn:active,.open-order-panel .btn.active{
 box-shadow:none;
}

.open-order-panel table.payment-summary-table th, .open-order-panel table.table-condensed th{
  font-weight:normal;
}
label.password-reset span{
	font-weight:normal;
	font-size:10px;
}

.account-details div h3{
 color:#000 !important;
 font-size:14px !important;
 font-weight:bold !important;
 text-transform:uppercase;
}

.account-details .user-card{
 border-bottom:none;
}

.child-account p{
 color:#999;
 font-weight:normal;
}

.child-account > table.table-striped > thead > tr > th{
  text-transform:uppercase;
  font-size:11px;
  background:#E6E6E6;
  border-bottom:none;
}

.avlStock-sum > div > table.table-striped  > thead > tr > th{
  font-size:11px;
  background-color:rgb(235, 235, 235);
  font-weight:normal;
  border-bottom:1px solid #FFF;
}

.avlStock-sum > div > table.table-striped  > tbody > tr > td{
 font-weight:normal;
 font-size:12px;
 border-bottom:1px solid #f9f9f9;
}

.avlStock-sum > div > table.table-striped  > tbody > tr:nth-child(even)> td{
 background-color:rgb(253, 253, 253);
}
a.xcel-icon{
 width:16px;
 height:19px;
 float:right;
 background:url('../images/xsl-icon.jpg') no-repeat;
 outline:none;
 text-decoration:none;
 display:inline-block;
 margin-top:-23px;
 cursor:pointer;
}

.avlStock-rprt > div > table  > thead > tr > th {
  border:none;
  font-size:11px;
  font-weight:normal;
  color:#6666;
}

.avlStock-rprt > div > table  > thead > tr > th > div > a{
  color:#666 !important;
}
.avlStock-rprt > div > table > thead > tr > th > div.btn-group{
 width:100%;
 height:30px;
 padding-left:10px;
 line-height:30px;
 background:#FFF;
}

.avlStock-rprt > div > table  > thead > tr > th > div.open{
 width:100%;
 height:30px;
 line-height:30px;
 padding-left:10px;
 background:#FFF;
 position:relative;
 z-index:9999;
 border:1px solid rgb(225, 225 225);
 border-bottom:0px;
}

.avlStock-rprt > div > table  > thead > tr > th > div > a:hover{
 text-decoration:none;
}
.avlStock-rprt > div > table > thead > tr > th > div > a.dropdown-toggle{
 box-shadow:none !important;
 text-decoration:none;
}



.avlStock-rprt > div > table  > thead > tr > th > div > a >.glyphicon{
  margin-left:5px;
}

.avlStock-rprt > div > table  > thead > tr > th > div > ul {
 box-shadow:0px 5px  10px #999;
 border:1px solid rgb(225, 225 225);
 border-top:0px;
 border-radius:0;
}
.avlStock-rprt > div > table > thead > tr > th > div > ul > li {
	display: inline-block !important;
	list-style: none !important;
}

.avlStock-rprt > div > table > thead > tr > th > div > ul > li >a{
 color:#333;
 text-transform:uppercase;
 font-size:11px;
 display: inline-block;
}

.avlStock-rprt > div > table  > tbody > tr > td{
 vertical-align: middle !important;
}

.avlStock-rprt > div > table  > tbody > tr > td.selected{
 background:rgb(247, 247, 247)
}

.avlStock-rprt > div > table  > tbody > tr.selected{
 background:rgb(247, 247, 247)
}
.avlStock-rprt > div > table  > tbody > tr > td{
 padding-left:2%;
}
.alStock-sele > label{
 font-weight:normal;
}
.alStock-sele > select{
 height:35px;
 background-color: rgb(250, 250, 250);
}

.all-stock >ul.nav-tabs{
 border-bottom:none;
 border-left:1px solid #ddd;
}

.all-stock > ul.nav-tabs > li{
 margin-right:0;
 margin-left:0;
 padding-left:0;
 padding-right:0;
 background-color: rgb(251, 251, 251);
}



.all-stock > ul.nav-tabs > li > a{
 color: rgb(110, 110, 110);
 text-align:center;
 border-radius:0;
 margin-right:0;
 margin-left:0;
 padding-right:0;
 border-right:1px solid  #ddd;
 border-top:1px solid #ddd;
 border-bottom:1px solid #ddd;
}

.all-stock >ul.nav-tabs>li.active>a{
 background-color:#FFF;
 border-top:1px solid #ddd;
 border-bottom:none;
 border-left:0;
}

.all-stock >.tab-content{
 padding-top:30px;
 position:relative;
 height:125px;
 border:1px solid #ddd;
 border-top:none; 
}

.selectSIM{
 height:35px;
 background-color: rgb(250, 250, 250);
}
.all-stock >.tab-content>.tab-pane>div>.circle{
 background-color:rgb(247, 247, 247);
 border-radius:50%;
 height:50px;
 width:50px;
 line-height:50px;
 text-align:center;
 vertical-align:middle;
 margin-left:40%;
}

.all-stock >.tab-content>.tab-pane>div>.input-group{
 display:inline-block;
}
.all-stock >.tab-content>.tab-pane>div>.input-group>input.form-control{
  background-color: rgb(250, 250, 250);
  box-shadow:none;
  height:35px;
  width:70%;
}

.all-stock >.tab-content>.tab-pane>div>.input-group>span.input-group-btn{
 width:30%;
}

.all-stock >.tab-content>.tab-pane>div>.input-group>span>button{
 background-color:rgb(244, 169, 0);
 color:#FFF;
 height:35px;
  width:100%;
  outline:none;
  font-size:12px;
  padding:0px;
  text-transform:capitalize;
}

.st-sum > label{
 font-weight:normal;
}


.st-sum  > div > label{
 font-weight:normal;
 text-transform:uppercase;
}

.st-sum  .input-group{
 text-align:left;
 width:100%;
 text-align:left;
 width:100%;
 margin-left:10%;
}
/*
.st-sum  .input-group button:nth-child(1){
 background-color:rgb(222, 165, 0);
 color:#FFF;
}
*/
.st-sum  .input-group button:nth-child(2){
 background-color:rgb(244, 169, 0);
 color:#FFF;
 }
 
 .dot-panel{
  position:relative;
  box-shadow:none;
 }
 
 .dot-panel div.dot-con{
  background-color:#efefef;
  box-shadow:none;
  padding-left:0 !important;
 }
 
 .dot-panel div .dot{
   width:15px;
   height:15px;
   border-radius:50%;
   float:left;
 }
 
 .dot-panel div label{
  font-weight:normal;
  text-transform:uppercase;
  float:left;
  margin-left:5px;
  line-height:16px;
 }
 
 .dot-panel div .voilet{
  background-color: rgb(123, 111, 173);
 }
 
 .dot-panel div .mejentha{
  background-color: rgb(219, 37, 111);
 }
 
 .dot-panel div .yellow{
  background-color: rgb(247, 183, 0);
 }
 
 .dot-panel div .black{
  background-color: rgb(104, 104, 104);
 }
 
 .sub-ac> div.table-responsive> table> thead> tr> th{
  border-right:0 !important;
  border-left:0 !important;
  text-transform:uppercase;
  font-weight:normal;
  padding-left:10%;
 }
 
  .sub-ac> div.table-responsive> table> thead> tr> th:nth-child(4){
   padding-left:0%;
   text-align:right;
  }
  
  .sub-ac> div.table-responsive> table> tbody> tr> td:nth-child(4){
   padding-left:0;
  }
 
 .sub-ac> div.table-responsive> table> thead> tr> th> select{
  height:25px;
  background-color: rgb(250, 250, 250);
  border-color:#ccc;
  display:inline-block;
  margin-right:10%;
  min-width:30%;
 }
 
  .sub-ac> div.table-responsive> table> tbody> tr> td:nth-child(1){
   line-height:35px;
  }
  
  .sub-ac> div.table-responsive> table> tbody> tr> td:nth-child(3){
    text-align:center;
  }
  
  .sub-ac> div.table-responsive> table> tbody> tr> td:nth-child(4){
    text-align:right;
	vertical-align:middle;
  }
  
  .sub-ac> div.table-responsive> table> tbody> tr:nth-child(1)> td> span{
    margin:0 0 0 -10;
  }
  
  .lasttrselect{
     height:25px;
     background-color: rgb(250, 250, 250);
     border-color:#ccc;
	 margin-right:10%;
	 min-width:30%;
  }
  
  .sub-ac> div.table-responsive> table> tbody> tr> td .fa-minus-circle-own{
   width:15px;
   height:15px;
   border-radius:50%;
   background-color:  rgb(123, 111, 173);
   margin-top:-3px;
   content:"-";
   color:#FFF;
  }
  
  .sub-ac> div.table-responsive> table> tbody> tr> td .fa-plus-circle-own{
    width:15px;
   height:15px;
   border-radius:50%;
   background-color: rgb(219, 37, 111);
   margin-top:-3px;
   content:"+";
   color:#FFF;
   padding-top: 2px;
  }
  .sub-ac  .input-group button:nth-child(1){
 background-color:rgb(222, 165, 0);
 color:#FFF;
}

.sub-ac .input-group button:nth-child(2){
 background-color:rgb(244, 169, 0);
 color:#FFF;
 }
 
 .sub-ac  tr.child.open td:first-child span::before {
  height:60px;
 }
 
 @media(max-width: 768px){
  .st-sum  .input-group{
    text-align:left;
  }
  .all-stock >.tab-content{
   height:250px;
  }
   div#sim {
   max-width:50% !important;
  }
  .alStock-sele > select{
   min-width:50% !important;
  }


 }
 
 @media(max-width: 450px){
  div#sim {
    min-width:100% !important;
  }
  
  .alStock-sele > select{
   min-width:100% !important;
  }
  

	.table.table-main-cart>thead>tr>th, .table.table-main-cart>tbody>tr>th, .table.table-main-cart>tfoot>tr>th, .table.table-main-cart>thead>tr>td, .table.table-main-cart>tbody>tr>td, .table.table-main-cart>tfoot>tr>td {
		padding: 4px;
	}
	.table.table-main-cart {
		font-size: .7em;
	}
	.btn-cross {
		padding: 6px;
	}
	.table.table-main-cart .input-group-addon {
		padding: 2px;
	}
	.table.table-main-cart .form-control {
		
	}
 }
 
 @media(min-width:992px){
  .alStock-sele > select{
   min-width:250px !important;
  }
  .selectSIM{
   margin-left:25px;
  }
  .input-group{
   margin-right:25px;
  }
 }

 .top-up-panel > .row  > div.col-lg-1{
   width:3% !important;
 }
 
 
  form >  fieldset > .top-up-panel > .row{
   position:relative;
  }
  
  .top-up-panel div input{
   padding-left:0 !important;
   padding-right:0 !important;
  }
 
.divOr{
  display:inline-block;
  width:25px;
  height:25px;
  background-color:#999;
  border-radius:50%;
  position:absolute;
  top:48%;
  left:50%;
  color:#FFF;
  font-size:1em;
  text-transform:uppercase;
  font-size:11px;
  text-indent: 3px;
  line-height:25px;
}
 .divOr2{
   top:69%;
 }

 .orBadge {
 	position: relative;
 	left: 48%;
 	top: -5px;
 }

  .top-up-panel select{
   padding-left:0;
  }

 
 .top-up-panel-msg h2{
   color:#5bc0de;
 }
 
 .top-up-panel-msg h2 b{
  text-decoration:underline;
  font-size:1em;
 }
 
 thead.THheightlighted > tr > th{
  background-color:#00adef;
  color:#FFF;
 }
 tbody.commission > tr.selected > td{
  background-color:#aacf46;
  color:#FFF;
 }
 .mar-t70{
  margin-top:70px;
}
 .no-uppercase {
 	text-transform: none !important;
 }
 tr.highlight > td {
 	background-color: #ffe0b2 !important;
 }
 
 div.note p{
  font-size:11px;
  font-weight:normal;
 }
 
.voucher-form1, .voucher-form2, .voucher-form3 {
	padding: 15px;
}
.table-generic-responsive {
	border-collapse: collapse;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table.table-generic-responsive, .table-generic-responsive thead, .table-generic-responsive tbody, .table-generic-responsive th, .table-generic-responsive td, .table-generic-responsive tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-generic-responsive thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-generic-responsive tr { border: 1px solid #ccc; }
	
	.table-generic-responsive td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
		min-height: 45px;
	}
	
	.table-generic-responsive td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		font-size: 12px;
		max-width: 120px;
	}
	
	/*
	Label the data
	*/
	.responsive-table td:nth-of-type(1):before { content: "First Name"; }
	.responsive-table td:nth-of-type(2):before { content: "Last Name"; }
	.responsive-table td:nth-of-type(3):before { content: "Job Title"; }
	.responsive-table td:nth-of-type(4):before { content: "Favorite Color"; }
	.responsive-table td:nth-of-type(5):before { content: "Wars of Trek?"; }
	.responsive-table td:nth-of-type(6):before { content: "Porn Name"; }
	.responsive-table td:nth-of-type(7):before { content: "Date of Birth"; }
	.responsive-table td:nth-of-type(8):before { content: "Dream Vacation City"; }
	.responsive-table td:nth-of-type(9):before { content: "GPA"; }
	.responsive-table td:nth-of-type(10):before { content: "Arbitrary Data"; }

	/*
	Label the data
	*/
	.print-epin td:nth-of-type(1):before { content: "LAST PRINT DATE"; }
	.print-epin td:nth-of-type(2):before { content: "E-PIN NAME"; }
	.print-epin td:nth-of-type(3):before { content: "VALUE"; }
	.print-epin td:nth-of-type(4):before { content: "TYPE"; }
	.print-epin td:nth-of-type(5):before { content: "BATCH ID"; }
	.print-epin td:nth-of-type(6):before { content: "SERIAL"; }
	.print-epin td:nth-of-type(7):before { content: "ACTION"; }

	/*
	Label the data
	*/
	.download-epin td:nth-of-type(1):before { content: "RECEIVING DATE"; }
	.download-epin td:nth-of-type(2):before { content: "FILE NAME"; }
	.download-epin td:nth-of-type(3):before { content: "TYPE &amp; NAME"; }
	.download-epin td:nth-of-type(4):before { content: "QTY"; }
	.download-epin td:nth-of-type(5):before { content: "DENOMINATION"; }
	.download-epin td:nth-of-type(6):before { content: "SERIAL NUMBER RANGE"; }
	.download-epin td:nth-of-type(7):before { content: "Action"; }
}

.dropdown-ftc {
    padding: 10px;
    font-size: .9em;
}
@media (max-width: 767px ){
	.dropdown-ftc {
	    font-size: 1em;
	}
}
.dropdown-ftc table{
    border-collapse: collapse !important;
    border-spacing: 0px important;
    margin-bottom: 5px;
}

.dropdown-ftc .table>thead>tr>th, .dropdown-ftc .table>tbody>tr>th, .dropdown-ftc .table>tfoot>tr>th, .dropdown-ftc .table>thead>tr>td, .dropdown-ftc .table>tbody>tr>td, .dropdown-ftc .table>tfoot>tr>td {
	padding: 4px;
}
.dropdown-ftc .table .radio, .dropdown-ftc .table .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}
.dropdown-ftc h4 {
	margin-top: 10px;
	margin-bottom: 5px;
}
.add-address-card {
	white-space: normal !important;
}
