
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <h4 class="mar-t15">Allocate Stock</h4>
						   
						   <div class="panel panel-default mar-t15">
						    <div class="panel panel-default">
						     <div class="panel-body alStock-sele">
							 
							    <label>Select Reseller</label> <br>
							    <div class="col-sm-4">
								    <select name="reseller" class="form-control mar-t10 mar-b10">
									  <option>Sales Agent</option>
									  <option>Sales Agent 2</option>
									  <option>Sales Agent 3</option>
									</select>
								</div>
							 </div>
							</div>
						   </div>

						   <div class="panel panel-default mar-t15">
						     <div class="panel-body all-stock">
							   <ul class="nav nav-tabs">
							     <li class="active col-sm-3 col-xs-12"><a data-toggle="tab" href="sim">SIM</a></li>
								 <li class="col-sm-3 col-xs-12"><a data-toggle="tab" href="Voucher">Voucher</a></li>
								 <li class="col-sm-3 col-xs-12"><a data-toggle="tab" href="Bundles">Bundles</a></li>
								 <li class="col-sm-3 col-xs-12"><a data-toggle="tab" href="E-pin">E-pin</a></li>
							   </ul>
							   <div class="tab-content">
							     <div id="sim" class="tab-pane fade in active">
								   <div class="col-sm-4 col-xs-12">
								    <select class="form-control mar-b10">
									  <option>UK SIM FREE</option>
									</select>
									<select class="form-control">
									  <option>NANO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
									</select>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								     <div class="circle mar-t10 mar-b10">OR</div>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								   <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Enter Barcode">
                                     <span class="input-group-btn">
                                      <button type="button" class="btn search">Search</button>
                                     </span>
                                   </div>
								   </div>
								 </div>
								 
								 <div id="Voucher" class="tab-pane">
								   <div class="col-sm-4 col-xs-12">
								    <select class="form-control mar-b10">
									  <option>UK SIM FREE</option>
									</select>
									<select class="form-control">
									  <option>NANO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
									</select>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								     <div class="circle mar-t10 mar-b10">OR</div>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								   <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Enter Barcode">
                                     <span class="input-group-btn">
                                      <button type="button" class="btn search">Search</button>
                                     </span>
                                   </div>
								   </div>
								 </div>
								 
								 <div id="Bundles" class="tab-pane">
								   <div class="col-sm-4 col-xs-12">
								    <select class="form-control mar-b10">
									  <option>UK SIM FREE</option>
									</select>
									<select class="form-control">
									  <option>NANO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
									</select>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								     <div class="circle mar-t10 mar-b10">OR</div>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								   <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Enter Barcode">
                                     <span class="input-group-btn">
                                      <button type="button" class="btn search">Search</button>
                                     </span>
                                   </div>
								   </div>
								 </div>
								 
								 <div id="E-pin" class="tab-pane">
								   <div class="col-sm-4 col-xs-12">
								    <select class="col-sm-12 col-xs-12 selectSIM">
									  <option>UK SIM FREE</option>
									</select><br>
									<select class="col-sm-12 col-xs-12 selectSIM mar-t15">
									  <option>NANO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
									</select>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								     <div class="circle mar-t10 mar-b10">OR</div>
								   </div>
								   <div class="col-sm-4 col-xs-12">
								   <div class="input-group">
                                     <input type="text" class="form-control" placeholder="Search&hellip;">
                                     <span class="input-group-btn">
                                      <button type="button" class="btn search">Search</button>
                                     </span>
                                   </div>
								   </div>
								 </div>
								 
							   </div>
							 </div>
						   </div>
						   
						   
						   <div class="panel panel-default mar-t15">
						     <div class="panel-body">
							   <label class="mar-b10">Selected Stock Summary</label><br/>
							   <div class="col-sm-2 col-xs-6">
							    <label>SIM : 14</label>
							   </div>
							   <div class="col-sm-3 col-xs-6">
							    <label>voucher : 44</label>
							   </div>
							   <div class="col-sm-2 col-xs-6">
							    <label>bundles : 23</label>
							   </div>
							   <div class="col-sm-2 col-xs-6">
							     <label>E-pin : 0</label>
							   </div>
							   <div class="col-sm-3 col-xs-12">
							     <div class="input-group cols-sm-12">
								   <a href="confirm-allocation.html" class="btn btn-warning">allocate</a>
								 </div>
							   </div>
							 </div>
						   </div>
						   
						   <div class="panel panel-default mar-t15  dot-panel">
						    <div class="panel-body dot-con">
						     <div class="col-lg-2 col-sm-3 col-xs-6">
							   <div class="voilet dot"></div><label>pallet</label>
							 </div>
							 <div class="col-lg-2 col-sm-3 col-xs-6">
							  <div class="dot mejentha"></div>
							  <label>outer box</label>
							 </div>
							 <div class="col-lg-2 col-sm-3 col-xs-6">
							  <div class="dot yellow"></div>
							  <label>display box</label>
							 </div>
							 <div class="col-lg-2 col-sm-3 col-xs-6">
							  <div class="dot black"></div>
							  <label>product</label>
							 </div>
							</div>
						   </div>
						   
							<div class="panel panel-default mar-t15 ">
							  <div class="panel-body sub-ac">
							    <div class="table-responsive">
								 <table class="table table-bordered">
								  <thead>
								   <tr>
								    <th>product</th>
									<th>iccid</th>
									<th>qty</th>
									<th>
									  <select>
									    <option>Select</option>
									  </select>
									  <input type="checkbox" class="large" checked="checked">
									</th>
								   </tr>
								  </thead>
								  <tbody>
								   <tr>
								     <td>
									   <a href="#" class="btn btn-sm btn-link"><i class="fa fa-minus-circle-own">-</i></a>
									   <span>8830 003</span>
									 </td>
									 <td></td>
									 <td>1100</td>
									 <td><input type="checkbox"></td>
								   </tr>
								   <tr class="child open">
								     <td>
									   <span><a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-circle-own">+</i></a>0031-004-123</span>
									 </td>
									 <td>
									 </td>
									 <td>
									  100
									 </td>
									 <td>
									  <input type="checkbox">
									 </td>
								   </tr>
								   <tr class="child open">
								     <td>
									   <span><a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-circle-own">+</i></a>0031-004-123</span>
									 </td>
									 <td>
									 </td>
									 <td>
									  285
									 </td>
									 <td>
									  <input type="checkbox">
									 </td>
								   </tr>
								   <tr class="child open">
								     <td>
									   <span><a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-circle-own">+</i></a>0031-004-123</span>
									 </td>
									 <td>
									 </td>
									 <td>
									  10
									 </td>
									 <td>
									  <input type="checkbox">
									 </td>
								   </tr>
								   <tr class="child open">
								     <td>
									   <span><a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-circle-own">+</i></a>0031-004-123</span>
									 </td>
									 <td>
									 </td>
									 <td>
									  2
									 </td>
									 <td>
									  <select class="lasttrselect">
									    <option>select</option>
									  </select>
									  <input type="checkbox">
									 </td>
								   </tr>
								  </tbody>
								 </table>
								 <div class="input-group cols-sm-12 pull-right">
								   <button class="btn btn-warning">allocate</button>
								 </div>
								</div>
							  </div>
							</div>
						   
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
	
  </script>