
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
                <!-- /.row -->
                <div class="row">
                    <div class="">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-md-push-3 products">
                             <h4 class="mar-t15"><strong>Sim Cards</strong></h4>
                            <div class="panel panel-default">
                                        <div class="panel-body">
                                <div class="sim-header">
                                    <img class="pull-left mar-t15 mar-l5" src="images/sim1.png" alt="">
                                    <h3 class="pull-left mar-l10"><strong>UK SIM 10</strong></h3>
                                    <div class="clear"></div>
                                </div>
                                <div class="sim-cards">
                                    <div class="col-sm-5 col-xs-12">
                                        <span class="col-xs-12">UK minutes: 250</span>
                                        <span class="clear col-xs-12">UK SMS: Unlimited</span>
                                        <span class="clear col-xs-12">Data: 1GB</span>
                                        <span class="clear col-xs-12">Lebara to Lebara UK calls/SMS: Unlimited</span>
                                    </div>  
                                    <div class="col-sm-7 col-xs-12">
                                        <div class="row">
                                            <div class="form-group col-xs-5">
                                                    <select class="form-control" id="select" name="">
                                                        <option value="">Standard</option>
                                                    </select>
                                            </div>  
                                            <div class="col-xs-4 form-group">
                                                <input placeholder="QTY" type="text" class="form-control">
                                            </div>
                                            <div class="col-xs-3 mar-t10">
                                                  <span class="pull-left">X 20</span>
                                            </div>  
                                        </div>
                                         <div class="row">
                                            <div class="col-xs-12">
                                                <div class="pull-left mar-t10">
                                                    <div>
                                                        <span class="strike-line"><strong>&#163;10</strong></span>
                                                        <span class="mar-l5 text-right"><strong>&#163;9.50</strong></span>
                                                    </div>
                                                    <span>Discount: 5%</span>
                                                </div> 
                                                <div class="pull-left mar-l20">
                                                    <a href="#" class="btn btn-circle btn-lg btn-info btn-inline"><img src="images/Add-To-Cart.png"></a>
                                                </div>   
                                            </div>        
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                        <div class="panel-body">
                                <div class="sim-header">
                                    <img class="pull-left mar-t15 mar-l5" src="images/sim1.png" alt="">
                                    <h3 class="pull-left mar-l10"><strong>UK SIM 15</strong></h3>
                                    <div class="clear"></div>
                                </div>
                                <div class="sim-cards">
                                    <div class="col-sm-5 col-xs-12">
                                        <span class="col-xs-12">UK minutes: 250</span>
                                        <span class="clear col-xs-12">UK SMS: Unlimited</span>
                                        <span class="clear col-xs-12">Data: 1GB</span>
                                        <span class="clear col-xs-12">Lebara to Lebara UK calls/SMS: Unlimited</span>
                                    </div>  
                                    <div class="col-sm-7 col-xs-12">
                                        <div class="row">
                                            <div class="form-group col-xs-5">
                                                    <select class="form-control" id="select" name="">
                                                        <option value="">Standard</option>
                                                    </select>
                                            </div>  
                                            <div class="col-xs-4 form-group">
                                                <input placeholder="QTY" type="text" class="form-control">
                                            </div>
                                            <div class="col-xs-3 mar-t10">
                                                  <span class="pull-left">X 20</span>
                                            </div>  
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="pull-left mar-t10">
                                                    <div>
                                                        <span class="strike-line"><strong>&#163;10</strong></span>
                                                        <span class="mar-l5 text-right"><strong>&#163;9.50</strong></span>
                                                    </div>
                                                    <span>Discount: 5%</span>
                                                </div> 
                                                <div class="pull-left mar-l20">
                                                    <a href="#" class="btn btn-circle btn-lg btn-info btn-inline"><img src="images/Add-To-Cart.png"></a>
                                                </div>   
                                            </div>        
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                             </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-md-push-3 mar-t20 hidden-xs">
                            <div class="panel panel-default panel-lebara">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <i class="fa fa-shopping-cart fa-2x"></i>
                                        </div>
                                        <div>
                                            <p class="mar-t5 mar-l10 col-xs-9">Cart Summary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                    <thead>
                                        <tr>
                                            <th>PRODUCTS</th>
                                            <th class="text-right">Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="pro-name">&#163;10 Sim - Micro</span><span class="pro-qty">Qty: 200</span></td>
                                            <td class="text-right">&#163;19,0000.00</td>
                                        </tr>

                                        <tr>
                                            <td><span class="pro-name">&#163;10 Sim - Micro</span><span class="pro-qty">Qty: 200</span></td>
                                            <td class="text-right">&#163;19,0000.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="text-right">
                                        <tr>
                                            <td>Subtotal</td>
                                            <td class="text-right"><strong>&#163;238,000.00</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                </div>
                                <div class="panel-footer">
                                    <a href="view-cart.html" class="pull-right btn btn-info">View Cart</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    
    <!-- /#wrapper -->

        <!-- /#page-wrapper -->
  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
  </script>
  <script>
    $('.footer').load("footer.html");
  </script>