
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <h4 class="mar-t0">Create Sub-Account</h4>
						   <div class="panel panel-default">
						     <div class="panel-body">
							   <div class="alert alert-warning">
							   		<p>Creating sub-accounts for your Sub-Wholesaler, Resellers, Sales Agent OR Employee, will let them login to this portal and manage their stock and sales performance.</p>
							   		<p>Similarly you will be able distribute stock and monitor sales performance on these accounts.</p>
								</div>
							<p>Please fill below form to create an sub-account. <br/><em class="text-muted"> Note: All Fileld marked with * are necessary</em></p>
							<hr>
						     	<form class="form-horizontal" role="form">

						     	  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Assign Role*</label>
								    <div class="col-sm-5">
								      <select name="" id="" class="form-control">
								      	<option value="">Select Role</option>
								      </select>
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Sub-Account Name*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="Enter Name">
								    </div>
								    <div class="col-sm-4"><p class="help-block help-block-right">This could be name of a person OR a firm</p></div>
								  </div>
								  <div class="form-group">
								    <label for="subacInputEmail" class="col-sm-3 control-label">Email</label>
								    <div class="col-sm-5">
								    	<input type="email" class="form-control" id="subacInputEmail" placeholder="Enter Email">
								    </div>
								    <div class="col-sm-4"><p class="help-block help-block-right">Contact email if of this sub-account</p></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Phone 1*</label>
								    <div class="col-xs-3 col-sm-1">
								      <input type="text" class="form-control" id="" placeholder="">
								    </div>
								    <div class="col-xs-9 col-sm-4">
								      <input type="text" class="form-control" id="" placeholder="">
								    </div>
								    <div class="col-sm-4"><p class="help-block help-block-right">You should provide at least one phone number of this sub-account</p></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Phone 2</label>
								    <div class="col-xs-3 col-sm-1">
								      <input type="text" class="form-control" id="" placeholder="">
								    </div>
								    <div class="col-xs-9 col-sm-4">
								      <input type="text" class="form-control" id="" placeholder="">
								    </div>
								  </div>
								  <h4 class="">Business Address</h4>
								  <hr class="mar-t0">
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Address Line 1*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="Enter Address Line 1">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Address Line 2*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="Enter Address Line 2">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">City*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="Enter City">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">ZIP Code*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="Enter ZIP Code">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Country*</label>
								    <div class="col-sm-5">
								      <select name="" id="" class="form-control">
								      	<option value="">United Kingdom</option>
								      </select>
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <!--
								  <div class="form-group">
								    <div class="col-sm-offset-3 col-sm-10">
								      <div class="checkbox">
								        <label>
								          <input type="checkbox"> Remember me
								        </label>
								      </div>
								    </div>
								  </div>
								  -->
								  <div class="form-group">
								    <div class="col-sm-offset-3 col-sm-10">
								      <a href="create_sub_account_acknowledgment.html" class="btn btn-warning mar-r5">Create</a>
								      <button type="submit" class="btn btn-default">Cancel</button>
								    </div>
								  </div>
								</form>
							 </div>
						   </div>
						   
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
	
  </script>