
<div class="header"></div>
        <div id="page-wrapper">
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3">
                    
                    <h1 class="pull-left title-header mar-t15">Invoice history</h1>

                      <div class="mar-l15  pull-right">
                          <form class="form-inline" role="search">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Search">
                              <div class="input-group-btn"><button type="submit" class="btn btn-primary" style="font-size: 14px;">Search</button></div>
                            </div>
                            <!--<a class="btn btn-link"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="fa fa-filter mar-r10"></i> Filter Orders <i class="fa fa-sort-desc mar-l5"></i>
                            </a>-->
                          </form>
                      </div>

                    <div class="" id="order-summary-panel">
                        <div class="order-summary">
                            <div class="clearfix">
                                <div class="col-sm-12">

                                       <!-- <div id="collapseOne" class="panel-collapse collapse">

                                    <div class="panel panel-default">
                                            <!--<form class="form-inline" role="form">
                                              <div class="form-group">
                                                <label class="mar-r10" for="">Search</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="text" placeholder="Search Order / Invoice #">
                                                    <div class="input-group-addon input-group-btn search-button">
                                                        <button class="btn btn-link" type="submit">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                              </div>
                                            </form>-->    <!--                                       
                                            <hr class="mar-b0 mar-t0">
                                            <div class="panel-body">
                                                <form class="form-inline" role="form">
                                                  <div class="form-group col-sm-3">
                                                    <label class="" for="exampleInputEmail2">Quick filter</label>
                                                    <select class="form-control col-xs-12" name="" id="">
                                                        <option value="">Last 1 Month</option>
                                                        <option value="">Last 2 Months</option>
                                                        <option value="">Last 3 Months</option>
                                                        <option value="">Last 6 Months</option>
                                                        <option value="">Last 9 Months</option>
                                                        <option value="">Last 1 Year</option>
                                                    </select>
                                                  </div>
                                                  <div class="form-group col-sm-8">
                                                   <label class="col-xs-12 pad-l0" for="exampleInputEmail2">Filter based on date range</label>
                                                   
                                                    <div class="input-group col-sm-4">
                                                      <input class="form-control" type="email" placeholder="From Date">
                                                      <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                    <div class="input-group col-sm-4">
                                                      <input class="form-control" type="email" placeholder="To Date">
                                                      <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                    </div>

                                                  </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>-->
                                    <p class="pull-left">Currently showing <b>102</b> Orders out of total 366 Orders</p>
                                    <p class="pull-right">Jul 6, 2014 - Sep 23, 2014</p>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-sm-2 text-left">
                                                            <span class="">Invoice date</span>
                                                        </th>  
                                                        <th class="col-sm-2">
                                                            <span class="">Invoice #</span>
                                                        </th> 
                                                        <th class="col-sm-2 text-left">
                                                            <span class="">Order date</span>
                                                        </th> 
                                                        <th class="col-sm-2 text-left">
                                                            <span class="">Order #</span>
                                                        </th>                       
                                                        <th class="col-sm-1">
                                                            <span class="">Total</span>
                                                        </th>
                                                        <th class="col-sm-3">
                                                            <span class="">Ship to</span>
                                                        </th>
                                                        <th class="col-sm-2">
                                                            <span class="">Action</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td rowspan="2" class="text-left">
                                                           02/03/2014
                                                        </td>
                                                        <td rowspan="2" class="text-left ">
                                                           1234006742
                                                        </td>
                                                        <td class="text-left">
                                                           02/03/2014
                                                        </td>
                                                        <td class="text-left ">
                                                           1234006742
                                                        </td>
                                                        <td class="text-right">
                                                           &#163;4,000
                                                        </td>  
                                                        <td class="text-left">
                                                            Raj Radio House
                                                            #4, Church Street
                                                        </td>                       
                                                        <td class="text-left">
                                                            <a href="#" class="btn btn-warning">Download &amp; Print</a></a>                         
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                       <td class="text-left">
                                                           02/03/2014
                                                        </td>
                                                        <td class="text-left ">
                                                           1234006742
                                                        </td>
                                                        <td class="text-right">
                                                           &#163;4,000
                                                        </td>  
                                                        <td class="text-left">
                                                            Raj Radio House
                                                            #4, Church Street
                                                        </td>                       
                                                        <td class="text-left">
                                                            <a href="#" class="btn btn-warning">Download &amp; Print</a></a>                         
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                           02/03/2014
                                                        </td>
                                                        <td class="text-left ">
                                                           1234006742
                                                        </td>
                                                        <td rowspan="2" class="text-left">
                                                           02/03/2014
                                                        </td>
                                                        <td rowspan="2" class="text-left ">
                                                           1234006742
                                                        </td>
                                                        <td class="text-right">
                                                           &#163;4,000
                                                        </td>  
                                                        <td class="text-left">
                                                            Raj Radio House
                                                            #4, Church Street
                                                        </td>                       
                                                        <td class="text-left">
                                                            <a href="#" class="btn btn-warning">Download &amp; Print</a></a>                         
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                           02/03/2014
                                                        </td>
                                                        <td class="text-left ">
                                                           1234006742
                                                        </td>
                                                        <td class="text-right">
                                                           &#163;4,000
                                                        </td>  
                                                        <td class="text-left">
                                                            Raj Radio House
                                                            #4, Church Street
                                                        </td>                       
                                                        <td class="text-left">
                                                            <a href="#" class="btn btn-warning">Download &amp; Print</a></a>                         
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        <!-- /#page-wrapper -->
		</div>
    
    <!-- /#wrapper -->

    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    
        jQuery(document).ready(function($) {
        
            $('.header').load("header.html");
            $('.footer').load("footer.html");

            var heights = $("div.blockHeight").map(function ()
                {
                    return $(this).height();
                }).get(),

                maxHeight = Math.max.apply(null, heights);
                maxHeight=maxHeight+40;
                $('.blockHeight').css('height', maxHeight+'px');


        });   
            
          
    </script>

