
<div class="header"></div>
        <div id="page-wrapper">
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3">

                    <div class="row" id="order-summary-panel">
                        <div class="panel-body order-summary">
                            <div class="clearfix">
                                <div class="col-sm-12">
                                    <div class="pull-left">
                                        <h3 class="h5">Open Order/Order Summary</h3>
                                    </div>
                                    <span class="mar-t10 pull-right hidden-xs hidden-sm">
                                        <a href="" class="btn btn-link"><i class="fa fa-print fa-2x"></i></a>
                                    </span>
                                    <button class="btn btn-warning pull-right mar-r20 mar-t10">Cancel Order</button>
                                </div>     
                            </div>       
                            <div class="clearfix mar-t10">
                                <div class="col-sm-4 pad-l0">
                                    <div class="panel panel-default blockHeight">
                                        <div class="panel-body">
                                            <div class="col-xs-2">
                                                <i class="fa fa-truck text-muted fa-2x mar-t10"></i>
                                            </div>
                                            <div class="col-xs-10">
                                                <p>Order # <strong>9591011190</strong></p>
                                                <p><span class="text-muted">Date</span> <span>23 Sep 2014</span></p>
                                            </div>
                                            <hr class="clear">      
                                            <div class="col-xs-2">
                                                <i class="fa fa-clock-o text-muted fa-2x mar-t10"></i>
                                            </div>
                                            <div class="col-xs-10">
                                                <p>Status</p>
                                                <p class="h5">InProgress</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-default blockHeight">
                                        <div class="panel-body">
                                            <h5>Bill To</h5>
                                            <p class="name"><strong>Marvin J. Converse</strong></p>
                                            <p>Monk House<br> 88 Warner Close,<br> HASTIGROW <br>KW1 6BA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-default blockHeight">
                                        <div class="panel-body">
                                            <h5>Delivery To</h5>
                                            <p class="name"><strong>Marvin J. Converse</strong></p>
                                            <p>Monk House<br> 88 Warner Close,<br> HASTIGROW <br>KW1 6BA</p>
                                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body  summary-container">
                                            <h5>Order Summary</h5>
                                            <table class="table payment-summary-table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-6 col-sm-3 text-left">
                                                            <span class="text-uppercase">Product name</span>
                                                        </th>   
                                                        <th class="col-sm-3 text-left hidden-xs text-uppercase">
                                                            <span class="text-uppercase">Product type</span>
                                                        </th>                        
                                                        <th class="col-sm-3 text-left hidden-xs text-uppercase">
                                                            <span class="text-uppercase">Price/Unit</span>
                                                        </th>
                                                        <th class="col-xs-2 col-sm-1 text-left text-uppercase">
                                                            <span class="text-uppercase">Qty</span>
                                                        </th>
                                                        <th class="col-xs-4 col-sm-2 text-right text-uppercase">
                                                            <span class="text-uppercase">Total</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">
                                                           UK SIM 10
                                                        </td>
                                                        <td class="text-left hidden-xs text-uppercase">
                                                           micro
                                                        </td>  
                                                        <td class="text-left hidden-xs">
                                                            &#163;9.50
                                                        </td>                       
                                                        <td class="text-left">
                                                            20                             
                                                        </td>
                                                        <td class="text-right">
                                                           &#163;150.00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                           UK SIM 15
                                                        </td>
                                                        <td class="text-left hidden-xs text-uppercase">
                                                           micro
                                                        </td>     

                                                        <td class="text-left hidden-xs">
                                                            &#163;9.50
                                                        </td>                   
                                                        <td class="text-left">
                                                            20                             
                                                        </td>
                                                        <td class="text-right">
                                                            &#163;150.00
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                        <td class="text-left">
                                                           UK SIM 25
                                                        </td>
                                                        <td class="text-left hidden-xs text-uppercase">
                                                           micro
                                                        </td>
                                                        <td class="text-left hidden-xs">
                                                        &#163;9.50
                                                        </td>                   
                                                        <td class="text-left">
                                                            20                             
                                                        </td>
                                                        <td class="text-right">
                                                            &#163;150.00
                                                        </td>
                                                    </tr> 
                                                </tbody>

                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5" class="text-right">
                                                            <p>
                                                                <span>Subtotal :</span>
                                                                <span>&#163;450.00</span>
                                                            </p>
                                                            <p>
                                                                <strong>Tax :</strong>
                                                                <span>&#163;50.00</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="align-left"><strong>Total</strong></td>
                                                        <td colspan="3" class="text-right  color-00ADEF">&#163;500.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="align-left">
                                                            <strong>Adjust with Commission(FTC)</strong>
                                                        </td>
                                                        <td colspan="3" class="text-right">
                                                            <p>
                                                                July FTC (#181) :
                                                                <span> - &#163;100.00</span>
                                                            </p>
                                                             <p>
                                                                August FTC (#222) :
                                                                <span> - &#163;100.00</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="align-left border-none"><strong>Total After Adjustment</strong></td>
                                                        <td colspan="3" class="text-right border-none  color-00ADEF">&#163;300.00</td>
                                                    </tr>
                                                </tfoot>
                                            </table>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clearfix">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h5>Payment</h5>
                                            <p>Mode: <span><strong>Credit Card</strong></span></p>
                                            <p>You have successfully made payment against this order using the card number: <strong> XXXX XXXX XXXX 1505</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        <!-- /#page-wrapper -->
		</div>
    
    <!-- /#wrapper -->

    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    
        jQuery(document).ready(function($) {
        
            $('.header').load("header.html");
            $('.footer').load("footer.html");

            var heights = $("div.blockHeight").map(function ()
                {
                    return $(this).height();
                }).get(),

                maxHeight = Math.max.apply(null, heights);
                maxHeight=maxHeight+40;
                $('.blockHeight').css('height', maxHeight+'px');


        });   
            
          
    </script>

