
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container">
           
            
			<div class="row">
            <div class="col-sm-9 col-sm-push-3">
			<h1 class="page-header">Checkout</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs payment-tabs" role="tablist">
				  <li class="active"><a href="#your-cart" role="tab" data-toggle="tab"><i class="fa fa-shopping-cart fa-2x"></i> Your cart</a></li>
				  <li><a href="#shipping" role="tab" data-toggle="tab"><i class="fa fa-truck fa-2x"></i> Shipping</a></li>
				  <li><a href="#payment" role="tab" data-toggle="tab"><i class="fa fa-gbp fa-2x"></i> Payment</a></li>
				  <li><a href="#confirm-order" role="tab" data-toggle="tab"><i class="fa fa-check-square-o fa-2x"></i> Confirm Order</a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
				  	<div class="tab-pane active" id="your-cart">
				  		<div class="panel panel-smart">
					 		<div class="panel-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<td class="text-center">
												Image
											</td>
											<td class="text-center">
												Product Details
											</td>							
											<td class="text-center">
												Quantity
											</td>
											<td class="text-center">
												Price
											</td>
											<td class="text-center">
												Total
											</td>
											<td class="text-center">
												Action
											</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">
												<a href="product.html">
													<img src="images/product-images/cart-thumb-img1.jpg" alt="Product Name" title="Product Name" class="img-thumbnail">
												</a>
											</td>
											<td class="text-center">
												<a href="product-full.html">Simply Organic seeds</a>
											</td>							
											<td class="text-center">
												<div class="input-group btn-block">
													<input type="text" name="quantity" value="1" size="1" class="form-control">
												</div>								
											</td>
											<td class="text-center">
												$150.00
											</td>
											<td class="text-center">
												$150.00
											</td>
											<td class="text-center">
												<button type="submit" title="" class="btn btn-default tool-tip" data-original-title="Update">
													<i class="fa fa-refresh"></i>
												</button>
												<button type="button" title="" class="btn btn-default tool-tip" data-original-title="Remove">
													<i class="fa fa-times-circle"></i>
												</button>
											</td>
										</tr>
										<tr>
											<td class="text-center">
												<a href="product.html">
													<img src="images/product-images/cart-thumb-img2.jpg" alt="Product Name" title="Product Name" class="img-thumbnail">
												</a>
											</td>
											<td class="text-center">
												<a href="product-full.html">Simply Organic seeds</a>
											</td>							
											<td class="text-center">
												<div class="input-group btn-block">
													<input type="text" name="quantity" value="1" size="1" class="form-control">
												</div>								
											</td>
											<td class="text-center">
												$150.00
											</td>
											<td class="text-center">
												$150.00
											</td>
											<td class="text-center">
												<button type="submit" title="" class="btn btn-default tool-tip" data-original-title="Update">
													<i class="fa fa-refresh"></i>
												</button>
												<button type="button" title="" class="btn btn-default tool-tip" data-original-title="Remove">
													<i class="fa fa-times-circle"></i>
												</button>
											</td>
										</tr>						
									</tbody>
									<tfoot>
										<tr>
										  <td colspan="4" class="text-right">
											<strong>Total :</strong>
										  </td>
										  <td colspan="2" class="text-left">
											$300
										  </td>
										</tr>
									</tfoot>
								</table>				
							</div>
						</div>
				  </div>
				  <!--/*Tabpane-->
				  <div class="tab-pane fade" id="shipping">
						<div class="panel panel-smart">
							<div class="panel-body">
							<!-- Form Starts -->
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label for="inputFname" class="col-sm-3 control-label">First Name :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputFname" placeholder="First Name">
										</div>
									</div>
									<div class="form-group">
										<label for="inputLname" class="col-sm-3 control-label">Last Name :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputLname" placeholder="Last Name">
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail" class="col-sm-3 control-label">Email :</label>
										<div class="col-sm-9">
											<input type="email" class="form-control" id="inputEmail" placeholder="Email">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPhone" class="col-sm-3 control-label">Phone :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputPhone" placeholder="Phone">
										</div>
									</div>
									<div class="form-group">
										<label for="inputAddress1" class="col-sm-3 control-label">Address/1 :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputAddress1" placeholder="Address/1">
										</div>
									</div>
									<div class="form-group">
										<label for="inputAddress2" class="col-sm-3 control-label">Address/2 :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputAddress2" placeholder="Address/2">
										</div>
									</div>
									<div class="form-group">
										<label for="inputCity" class="col-sm-3 control-label">City :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputCity" placeholder="City">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPostCode" class="col-sm-3 control-label">Postal Code :</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="inputPostCode" placeholder="Postal Code">
										</div>
									</div>
									<div class="form-group">
										<label for="inputCountry" class="col-sm-3 control-label">Country :</label>
										<div class="col-sm-9">
											<select class="form-control" id="inputCountry1">
												<option>- All Countries -</option>
												<option>India</option>
												<option>USA</option>
												<option>UK</option>
												<option>China</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputRegion" class="col-sm-3 control-label">Region :</label>
										<div class="col-sm-9">
											<select class="form-control" id="inputRegion1">
												<option>- All Regions -</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<button type="submit" class="btn btn-warning">
												Submit
											</button>
										</div>
									</div>
								</form>
							<!-- Form Ends -->
							</div>
						</div>
				  </div>
				  <!--/*Tabpane-->
				  <div class="tab-pane fade" id="payment">
				 	<div class="panel">
				 		<div class="panel-body">
							<ul class="nav nav-tabs nav-tabs-left col-sm-3">
								<li class="active "><a href="#tab1" data-toggle="tab">Offline Payment</a></li>
								<li ><a href="#tab2" data-toggle="tab">Credit Card</a></li>
								<li ><a href="#tab3" data-toggle="tab">Bank Transfer</a></li>
							</ul>
							<div class="tab-content col-sm-5 tab-content-customize">
								<div class="tab-pane active" id="tab1">
									<h3>Make an offline payment</h3>
									<h2>Security Check</h2>
									<p>Enter both words below, separated by space.</p>
									<form role="form">       
						      			<div class="form-group">
							      			<input type="text" class="form-control" name="" placeholder="" required="" autofocus=""/>
									    </div>
									    <div class="form-group">
									    	<img src="images\captcha.png">
									    </div>	
									    <button class="col-sm-4 btn btn-default btn-block btn-custom" type="submit">Proceed to Confirmation</button>   
						    		</form>	

								</div>
								<div class="tab-pane" id="tab2">
									<form>
										<div class="control-group">
		                					<label label-default="" class="control-label">Pay using Credit Card</label>
							                    <div class="row">
							                        <div class="col-sm-3">
							                            <img src="images\support-card.png">
							                        </div>
							                        <div class="col-sm-3">
							                            <img src="images\support-card.png">
							                        </div>
							                        <div class="col-sm-3">
							                            <img src="images\support-card.png">
							                        </div>
							                        <div class="col-sm-3">
							                            <img src="images\support-card.png">
							                        </div>
							                    </div>
							                    <p>(Support Cards)</p>

							            </div>
							            <div class="control-group form-group">        	
							                   	<input type="text" class="form-control" autocomplete="off" maxlength="16" title="card number" placeholder="Card Number" required="">
							            </div>  
							            <div class="control-group row">     	
							                <div class="col-sm-7">
							                	<div class="row">
							                        <div class="col-sm-6 form-group append-right-0px">
							                       		<input type="text" class="form-control form-control-custom" maxlength="5" title="Exp Date" placeholder="MM/YY" required="">
							                        </div>
							                        <div class="col-sm-6 prepend-left-5px append-right-0px">
							                      		<span>Expiry Date</span>
							                        </div>
							                    </div> 
							                </div>
							                <div class="col-sm-5">
							                   	<div class="col-sm-8 append-right-0px">
							                   		<input type="text" class="form-control form-control-custom" maxlength="3" title="CVV" placeholder="CVV" required="">
							                   	</div>
							                   	<div class="col-sm-4 prepend-left-5px">
							                   		<img src="images\cvv.png">
							                   	</div>	
							                </div>
							            </div>
							            <div class="control-group">
							                <div class="controls">
							                    <input type="text" class="form-control" pattern="\w+ \w+.*" title="First and last name" placeholder="Name on card" required="">
							                </div>
							            </div>
							            <div class="checkbox">
										    <label>
										    	<input type="checkbox"> Save this card for faster payment
										    </label>
										</div>
										<button class="col-sm-4 btn btn-default btn-block btn-custom" type="submit">Proceed to Confirmation</button>
		          					</form>
								</div>
								<div class="tab-pane" id="tab3">
									<h3>Make an Bank Transfer</h3>
									<h2>Security Check</h2>
									<p>Enter both words below, separated by space.</p>
									<form role="form">       
						      			<div class="form-group">
							      			<input type="text" class="form-control" name="" placeholder="" required="" autofocus=""/>
									    </div>
									    <div class="form-group">
									    	<img src="images\captcha.png">
									    </div>	
									    <button class="col-sm-4 btn btn-default btn-block btn-custom" type="submit">Proceed to Confirmation</button>   
						    		</form>
								</div>
							</div>
						</div>
				 	</div>

				  </div>
				  <!--/*Tabpane-->
				  <div class="tab-pane fade" id="confirm-order">...</div>
				  <!--/*Tabpane-->
				</div>
			</div>	
		</div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
  </script>
  <script>
    $('.footer').load("footer.html");
  </script>
