
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <div class="col-sm-8">
							 <h4 class="mar-t15">Top-Up</h4>
							 <div class="col-sm-12">
							   <div class="panel panel-default">
							     <div class="panel-body top-up-panel">
								   <!-- code for drop down and text box -->
								   <div class="row dropDtextBlabel">
								     <div class="col-xs-4 col-sm-2">
									   <span>Country</span>
									  </div>
									  <div class="col-xs-8 col-sm-6">
									   <span>Enter subscriber MSISDN</span>
									  </div>
								   </div>
								    <div class="row ropDtextB">
									  <div class="col-xs-4 col-sm-2">
									   <select class="form-control">
									    <option>+44</option>
									   <select>
									  </div>
									  <div class="col-xs-8 col-sm-6">
									   <input type="text" class="form-control"/>
									  </div>
									</div>
									<!-- code for balance Info -->
									<div class="row balance mar-t15">
									 <div class="col-xs-8 col-sm-6">
									   <label>Current Balance:</label>
									 </div>
									 <div class="col-xs-4 col-sm-2">
									  <label>$10</label>
									 </div>
									</div>
									<form role="form">
									<fieldset disabled>
									<!-- code for radio btn 'enter voucher number' -->
									<div class="row mar-t35 vNumber">
									 <div class="col-xs-4 col-sm-2 col-lg-1">
                                       <label>
                                         <input  type="radio" name="vnumber" id="vnumber">
                                       </label>
                                     </div>
									 <div class="col-xs-8 col-sm-6">
									    <span>Enter Voucher Number</span>
									 </div>
									 <div class="divOr">or</div>
									</div>
									<hr/>
									
									<!-- code for radio btn 'enter printed E-pin' -->
									<div class="row ePin">
									 <div class="col-xs-4 col-sm-2 col-lg-1">
                                       <label>
                                         <input  type="radio" name="vnumber" id="epin">
                                       </label>
                                     </div>
									 <div class="col-xs-8 col-sm-6">
									    <span>Enter Printed E-Pin</span>
									 </div>
									  <div class="divOr divOr2">or</div>
									</div>
									<hr/>
									<!-- code for radio btn 'pick E-pin from stock' -->
									<div class="row mar-t15 fstock">
									 <div class="col-xs-4 col-sm-2 col-lg-1">
                                       <label>
                                         <input  type="radio" name="vnumber" id="fstock">
                                       </label>
                                     </div>
									 <div class="col-xs-8 col-sm-6">
									    <span>Pick E-Pin From Stock</span>
									 </div>
									</div>
									</fieldset>
									</form>
									
									<!-- code for text box to enter voucher number -->
									<div class="row mar-t35 vnumber-row">
									<div class="col-xs-8">
									 <span>Enter Voucher Number</span>
									</div>
									 <div class="col-xs-8">
									  <input type="text" class="form-control col-xs-8"/>
									 </div>
									 <div class="col-xs-12 mar-t15" align="center">
									  <button type="button" class="btn btn-default back2">Cancel</button>
									  <button type="submit" class="btn btn-default">Submit</button>
									 </div>
									</div>
									
									
									<!-- code for text box to enter printed E-Pin -->
									<div class="row mar-t35 e-pin-row">
									<div class="col-xs-8">
									 <span>Enter Printed E-Pin</span>
									</div>
									 <div class="col-xs-8">
									  <input type="text" class="form-control col-xs-8"/>
									 </div>
									 <div class="col-xs-12 mar-t15" align="center">
									  <button type="button" class="btn btn-default back4">Cancel</button>
									  <button type="submit" class="btn btn-default">Submit</button>
									 </div>
									</div>
									
									<!-- code for select the top up scheme -->
									<div class="row mar-t15 pickEpin"  align="center">
									 <div class="row mar-t15">
									  <div class="col-xs-8 col-sm-6"><label>Click below to select</label></div>
									  <div class="col-xs-4 col-sm-2"><label>Available Qty</label></div>
									 </div>		
									 <div class="row mar-t15">
									  <div class="col-xs-8 col-sm-6">
									   <button type="button" class="btn btn-info btn-block mar-l10 selectScheme">£5 Top-Up</button>
									  </div>
									  <div class="col-xs-4 col-sm-2">
									    <button type="button" class="btn btn-info">£50</button>
									  </div>
									 </div>
									 
									 <div class="row mar-t15">
									  <div class="col-xs-8 col-sm-6">
									   <button type="button" class="btn btn-info  btn-block mar-l10 selectScheme">£10 Top-Up</button>
									  </div>
									  <div class="col-xs-4 col-sm-2">
									    <button type="button" class="btn btn-info">£50</button>
									  </div>
									 </div>
									 
									 <div class="row mar-t10" align="center">
									   <button type="button"  class="btn btn-default back3">cancel</button>
									 </div>
									</div>
									
									<!-- code for selected top up -->
									<div class="row mar-t15 sldtopup">
									  <div class="col-xs-12 col-sm-12">
									    <span class="col-xs-12 col-sm-12 btn btn-info btn-block">£10 Top-up:   ####-####-####-3456</span>
									  </div>
									  <div class="col-xs-12 col-sm-12 mar-t10" align="center">
									    <button type="button" class="btn btn-default sldtopup-btn">cancel</button>
										<button type="submit" class="btn btn-default top-up-btn">top-up</button>
									  </div>
									</div>
									
								 </div>
							   </div>
							 </div>
						   </div>

					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	$(document).ready(function(){	
	  $('div.balance').hide();
	  $('input:text:eq(0)').keyup(function(){
	    thisval=$(this).val();
		isnan=isNaN(thisval);
		if(isnan || 0==thisval.length){
		 $('div.balance').hide();
		 $('.divOr').css({'top':'48%'});
		 $('.divOr2').css({'top':'69%'});
		 $('fieldset').attr("disabled", "disabled");
		}else{
		 $('div.balance').show();
		 $('fieldset').removeAttr("disabled");
		 $('.divOr').css({'top':'53%'});
		 $('.divOr2').css({'top':'73%'});
		}
	  });
	  
	  $('.vnumber-row').hide();
	  
	  $('input:radio:eq(0)').change(function(){
	   var checkedr0=$(this).is(":checked");
	   if(checkedr0){
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').hide();
		$('.vNumber, .ePin, .fstock').hide();
	    $('.vnumber-row').show();
	   }else{
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	    $('.vnumber-row').hide();
	   }
	  })
	  
	  $('.e-pin-row').hide();
	  
	  $('input:radio:eq(1)').click(function(){
	   var checkedr1=$(this).is(":checked");
	   if(checkedr1){
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').hide();
		$('.vNumber, .ePin, .fstock').hide();
	    $('.e-pin-row').show();
	   }else{
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	    $('.e-pin-row').hide();
	   }
	  })
	  
	  $('.back2').click(function(){
	    $('input:radio:eq(0)').prop('checked', false);
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	    $('.vnumber-row').hide();
	  })
	  
	  $('.back4').click(function(){
	    $('.e-pin-row').hide();
	    $('input:radio:eq(1)').prop('checked', false);
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	  })
	  
	  $('.pickEpin').hide();
	  
	  $('input:radio:eq(2)').change(function(){
	   var checkedr2=$(this).is(":checked");
	   if(checkedr2){
	     $('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').hide();
		 $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').hide();
	     $('.pickEpin').show();
		}
	  })
	  
	  $('.back3').click(function(){
	     $('input:radio:eq(2)').prop('checked', false);
	     $('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
		 $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
	     $('.pickEpin').hide();
	  })
	  
	  $('.sldtopup').hide();
	  
	  $('.selectScheme').click(function(){
	    $('input:radio:eq(2)').prop('checked', true);
	    $('.ePin, .vNumber').hide();
		$('.ePin, .vNumber').next('hr').hide();
	    $('.dropDtextBlabel,   .ropDtextB, .fstock').show();
		$('.ropDtextB, .fstock').next('hr').show();
		$('.pickEpin').hide();
		$('.sldtopup').show();
	  })
	  
	  $('.sldtopup-btn').click(function(){
	    $('input:radio:eq(2)').prop('checked', false);
	    $('.dropDtextBlabel,   .vNumber, .ePin, .fstock').show();
		$('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
	    $('.sldtopup').hide();
	  })
	  
	  $('.top-up-btn').click(function(){
	    $(location).attr('href','http://localhost:86/top_up_sucess_msg.html');
	  })
	  
	  url= window.location.href.toString();
	  classFurl=url.split('?');
	  classtoShow=classFurl[1];
	  if(classtoShow=='pickEpin'){
	    $('input:radio:eq(2)').prop('checked', true);
	    $('.ePin, .vNumber').hide();
		$('.ePin, .vNumber').next('hr').hide();
		$('.sldtopup').show();
		 history.replaceState({}, '', window.location.href.slice(0, -9));
	  }
	})
  </script>