
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
				<div class="row">
	                <div class="col-xs-12 col-md-9 col-md-push-3 products">
						<div class="row">
					   		<div class="panel-body order-summary open-order-panel">
					   			<h4 class="mar-t0 title-header">Confirm allocation</h4>
					   			<div class="clearfix mar-b10 mar-t20">
					   				<button class="btn btn-primary">Back to allocation</button>
					   				<button class="btn btn-warning pull-right">Confirm &amp; Allocate stock</button>
					   			</div>
					   			 <div class="panel panel-default">
						     		<div class="panel-body">
						     			<div class="clearfix">
											<h4 class="pull-left">To: Sudha Mobile Communication</h4>
											<button class="btn btn-primary pull-right">Remove slected</button>
											<a href="" class="btn btn-link pull-right"><i class="fa fa-file-excel-o"></i> Export to Excel</a>
										</div>
						     		</div>
						     	</div>
						     	<div class="panel panel-default">
						     		<div class="panel-body">
						     			<h4>Done!</h4>
						     			<p>Below stock has been successfully allocated to</p>
						     			<p><strong>Sudha Mobile Communication.</strong></p>
						     		</div>
						     	</div>
					   		</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
	$('.header').load("header.html");
	$('.footer').load("footer.html");
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
</script>