
<div class="header"></div>
    <link href="styles/kendo.common.min.css" rel="stylesheet" />
    <link href="styles/kendo.default.min.css" rel="stylesheet" />
    <link href="styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="styles/kendo.dataviz.default.min.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
        <div id="page-wrapper">
           
            <div class="container content-body">
                <!-- /.row -->
                <div class="row mar-t15">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="panel panel-default clearfix">
                                <div class="panel-body col-xs-12 col-sm-12">
                                   <h3 class="mar-t0"> Welcome</h3>
                                   Welcome to our new lebara business portal. We hope you'll find everything here that you need to run a productive business.
                                   <br/><br/>
                                   Do use our contact us section to get in touch incase you have any queries.
                                   <br/><br/>
                                   Lebara Seles Team
                                   <br/><br/><br/>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div><img class="img-responsive" src="images/performance reports12.jpg" alt="..."></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="panel panel-default clearfix">
                                <div class="panel-body col-xs-12 col-sm-12">
                                   <div class="text-left"> <h3 class="mar-t0"> Gross Activation </h3></div>
                                        <div><img class="img-responsive" src="images/performance reports5.jpg" alt="..."></div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="panel panel-default clearfix">
                                <div class="panel-body col-xs-12 col-sm-12">
                                   <div class="text-left"> <h3 class="mar-t0"> Current GA Run rate</h3> </div>
                                        <div><img class="img-responsive" src="images/performance reports6.jpg" alt="..."></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
                <!-- /.row -->
            <div class="row">

            </div>
                <!-- /.row -->
        </div>
        
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
  <div class="footer"></div>
  <script>
    $('.header').load("header.html");
  </script>
  <script>
    $('.footer').load("footer.html");
  </script>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Churn 30% + RR"
                },
                legend: {
                    position: "bottom"
                },
                chartArea: {
                    height: 250
                },
                seriesDefaults: {
                    type: "line",
                    style: "smooth"
                },
                series: [{
                    data: [2.907, 1.943, 2.848, 3.284]
                },{
                    data: [2.988, 3.733, 3.994, 3.464]
                }],
                valueAxis: {
                    labels: {
                        format: "{0}%"
                    },
                    line: {
                        visible: false
                    },
                    axisCrossingValue: -5
                },
                categoryAxis: {
                    categories: [2002, 2003, 2008,2010],
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}%",
                    template: "#= series.name #: #= value #"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
    <script>
        function createChart() {
            $("#chart1").kendoChart({
                title: {
                    text: "Gross Activation"
                },
                legend: {
                    position: "bottom"
                },
                chartArea: {
                    height: 250
                },
                series: [{
                    type: "area",
                    data: [16.4, 21.7, 35.4, 19, 10.9],
                    color: "#73c100",
                    axis: "wind"
                }, {
                    type: "area",
                    data: [5.4, 2, 5.4, 3, 2, 1, 3.2, 7.4],
                    color: "#007eff",
                    axis: "rain"
                }],
                valueAxes: [{
                    name: "rain",
                    color: "#007eff",
                    min: 0,
                    max: 40,
                    line: {
                        visible: false
                    }
                }, {
                    name: "wind",
                    color: "#73c100",
                    min: 0,
                    max: 40,
                    line: {
                        visible: false
                    }
                }],
                categoryAxis: {
                    categories: ["1", "2", "3", "4", "5", "6", "7", "8"],
                    // Align the first two value axes to the left
                    // and the last two to the right.
                    //
                    // Right alignment is done by specifying a
                    // crossing value greater than or equal to
                    // the number of categories.
                    axisCrossingValues: [32, 32, 0],
                    justified: true,
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= category #/03: #= value #"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
    <script>
        var stats = [
            { value: 30, date: new Date("2011/12/20") },
            { value: 50, date: new Date("2011/12/21") },
            { value: 45, date: new Date("2011/12/22") },
            { value: 40, date: new Date("2011/12/23") },
            { value: 35, date: new Date("2011/12/24") },
            { value: 40, date: new Date("2011/12/25") },
            { value: 42, date: new Date("2011/12/26") },
            { value: 40, date: new Date("2011/12/27") },
            { value: 35, date: new Date("2011/12/28") },
            { value: 43, date: new Date("2011/12/29") },
            { value: 38, date: new Date("2011/12/30") },
            { value: 30, date: new Date("2011/12/31") },
            { value: 48, date: new Date("2012/01/01") },
            { value: 50, date: new Date("2012/01/02") },
            { value: 55, date: new Date("2012/01/03") },
            { value: 35, date: new Date("2012/01/04") },
            { value: 30, date: new Date("2012/01/05") }
        ];

        function createChart() {
            $("#chart2").kendoChart({
                dataSource: {
                    data: stats
                },
                title: {
                    text: "Voucher"
                },
                chartArea: {
                    height: 250
                },
                series: [{
                    type: "column",
                    aggregate: "avg",
                    field: "value",
                    categoryField: "date",
                    color: "#73c100",

                        opacity: 0.5
                }],
                categoryAxis: {
                    baseUnit: "weeks",
                    majorGridLines: {
                        visible: false
                    }
                },
                valueAxis: {
                    line: {
                        visible: false
                    }

                }
            });
        }

        $(document).ready(createChart);
        $("#example").bind("kendo:skinChange", createChart);
        $(".box").bind("change", refresh);

        function refresh() {
            var chart = $("#chart").data("kendoChart"),
                series = chart.options.series,
                categoryAxis = chart.options.categoryAxis,
                baseUnitInputs = $("input:radio[name=baseUnit]"),
                aggregateInputs = $("input:radio[name=aggregate]");

            for (var i = 0, length = series.length; i < length; i++) {
                series[i].aggregate = aggregateInputs.filter(":checked").val();
            };

            categoryAxis.baseUnit = baseUnitInputs.filter(":checked").val();

            chart.refresh();
        }
    </script>