
<div class="header"></div>
    <link href="styles/kendo.common.min.css" rel="stylesheet" />
    <link href="styles/kendo.default.min.css" rel="stylesheet" />
    <link href="styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="styles/kendo.dataviz.default.min.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/kendo.all.min.js"></script>
        <div id="page-wrapper">
           
            <div class="container content-body">
                <!-- /.row -->
                <div class="row mar-t15">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 clearfix">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="panel panel-default clearfix">
                                <div class="panel-body col-xs-12 col-sm-6">
                                    <div class="demo-section k-content mar-l5" style="width:190px; background-color: transparent;">
                                        <div id="chart"></div>
                                    </div>
                                </div>
                                <div class="panel-body col-xs-12 col-sm-6">
                                    <table class="table payment-summary-table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Churn</th>
                                                <th>RR</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1 AUG</td>
                                                <td>66.06</td>
                                                <td>34.04</td>
                                            </tr>
                                            <tr>
                                                <td>2 AUG</td>
                                                <td>77.07</td>
                                                <td>45.05</td>
                                            </tr>
                                            <tr>
                                                <td>3 AUG</td>
                                                <td>88.08</td>
                                                <td>56.06</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="demo-section k-content mar-l5" style="width: 190px; background-color: transparent;">
                                        <div id="chart1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="demo-section k-content mar-l5" style="width: 200px; background-color: transparent;">
                                        <div id="chart2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <div class="panel panel-default panel-dash-voucher">
                                <img src="images/53.jpg" class="img-responsive" alt="">
                                <div class="panel-float-text">
                                   <h3><span>Add &#163;100 free top-up when you cover... </span></h3>
                                   <p class="">Closes on 28 AUG</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 clear">
                            <a href="#" class="link-primary">
                                <div class="panel panel-default display-card">
                                    <div class="panel-head cMegentha">
                                        <h3>Your Commission</h3>
                                        <p class="btn btn-white btn-rounded"><i class="fa fa-gbp fa-2x"></i></p>
                                    </div>
                                    <div class="panel-body">
                                        <h2><span class="text-lg">&#163; 3,500.00 </span></h2>
                                        <h5 style="display:block" class="muted-text">From 14 Jun - 14 July</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <a href="#" class="link-primary">
                                <div class="panel panel-default display-card">
                                    <div class="panel-head cPurple">
                                        <h3>Loyalty Points</h3>
                                        <p class="btn btn-white btn-rounded"><i class="fa fa-trophy fa-2x"></i></p>
                                    </div>
                                    <div class="panel-body">
                                        <h2><span class="text-lg">&#163; 3,500.00 </span></h2>
                                        <h5 style="display:block" class="muted-text">From 14 Jun - 14 July</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- /#wrapper -->
  <div class="footer"></div>
  <script>
    $('.header').load("header.html");
  </script>
  <script>
    $('.footer').load("footer.html");
  </script>
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Churn 30% + RR"
                },
                legend: {
                    position: "bottom"
                },
                chartArea: {
                    height: 250
                },
                seriesDefaults: {
                    type: "line",
                    style: "smooth"
                },
                series: [{
                    data: [2.907, 1.943, 2.848, 3.284]
                },{
                    data: [2.988, 3.733, 3.994, 3.464]
                }],
                valueAxis: {
                    labels: {
                        format: "{0}%"
                    },
                    line: {
                        visible: false
                    },
                    axisCrossingValue: -5
                },
                categoryAxis: {
                    categories: [2002, 2003, 2008,2010],
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}%",
                    template: "#= series.name #: #= value #"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
    <script>
        function createChart() {
            $("#chart1").kendoChart({
                title: {
                    text: "Gross Activation"
                },
                legend: {
                    position: "bottom"
                },
                chartArea: {
                    height: 250
                },
                series: [{
                    type: "area",
                    data: [16.4, 21.7, 35.4, 19, 10.9],
                    color: "#73c100",
                    axis: "wind"
                }, {
                    type: "area",
                    data: [5.4, 2, 5.4, 3, 2, 1, 3.2, 7.4],
                    color: "#007eff",
                    axis: "rain"
                }],
                valueAxes: [{
                    name: "rain",
                    color: "#007eff",
                    min: 0,
                    max: 40,
                    line: {
                        visible: false
                    }
                }, {
                    name: "wind",
                    color: "#73c100",
                    min: 0,
                    max: 40,
                    line: {
                        visible: false
                    }
                }],
                categoryAxis: {
                    categories: ["1", "2", "3", "4", "5", "6", "7", "8"],
                    // Align the first two value axes to the left
                    // and the last two to the right.
                    //
                    // Right alignment is done by specifying a
                    // crossing value greater than or equal to
                    // the number of categories.
                    axisCrossingValues: [32, 32, 0],
                    justified: true,
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}",
                    template: "#= category #/03: #= value #"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
    <script>
        var stats = [
            { value: 30, date: new Date("2011/12/20") },
            { value: 50, date: new Date("2011/12/21") },
            { value: 45, date: new Date("2011/12/22") },
            { value: 40, date: new Date("2011/12/23") },
            { value: 35, date: new Date("2011/12/24") },
            { value: 40, date: new Date("2011/12/25") },
            { value: 42, date: new Date("2011/12/26") },
            { value: 40, date: new Date("2011/12/27") },
            { value: 35, date: new Date("2011/12/28") },
            { value: 43, date: new Date("2011/12/29") },
            { value: 38, date: new Date("2011/12/30") },
            { value: 30, date: new Date("2011/12/31") },
            { value: 48, date: new Date("2012/01/01") },
            { value: 50, date: new Date("2012/01/02") },
            { value: 55, date: new Date("2012/01/03") },
            { value: 35, date: new Date("2012/01/04") },
            { value: 30, date: new Date("2012/01/05") }
        ];

        function createChart() {
            $("#chart2").kendoChart({
                dataSource: {
                    data: stats
                },
                title: {
                    text: "Voucher"
                },
                chartArea: {
                    height: 250
                },
                series: [{
                    type: "column",
                    aggregate: "avg",
                    field: "value",
                    categoryField: "date",
                    color: "#73c100",

                        opacity: 0.5
                }],
                categoryAxis: {
                    baseUnit: "weeks",
                    majorGridLines: {
                        visible: false
                    }
                },
                valueAxis: {
                    line: {
                        visible: false
                    }

                }
            });
        }

        $(document).ready(createChart);
        $("#example").bind("kendo:skinChange", createChart);
        $(".box").bind("change", refresh);

        function refresh() {
            var chart = $("#chart").data("kendoChart"),
                series = chart.options.series,
                categoryAxis = chart.options.categoryAxis,
                baseUnitInputs = $("input:radio[name=baseUnit]"),
                aggregateInputs = $("input:radio[name=aggregate]");

            for (var i = 0, length = series.length; i < length; i++) {
                series[i].aggregate = aggregateInputs.filter(":checked").val();
            };

            categoryAxis.baseUnit = baseUnitInputs.filter(":checked").val();

            chart.refresh();
        }
    </script>