
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="">
					   <div class="order-summary open-order-panel">

						   <h4 class="mar-t0 title-header">Edit Profile</h4>
						   <div class="panel panel-default">
						     <div class="panel-body">
						     	<form class="form-horizontal" role="form">

						     	  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Role</label>
								    <div class="col-sm-5">
								      <h5 class="control-label">user&#39s role</h5>
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Name</label>
								    <div class="col-sm-5">
								    <h5 class="control-label">user&#39s account name</h5>
								    </div>
								    
								  </div>
								  <div class="form-group">
								    <label for="subacInputEmail" class="col-sm-3 control-label">Email</label>
								    <div class="col-sm-5">
								    	<h5 class="control-label">email address</h5>
								    </div>
								    
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 col-xs-12 control-label">Phone 1*</label>
								    
								    <div class="col-xs-9 col-sm-4">
								      <h5 class="control-label">phone number </h5>
								    </div>
								    
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 col-xs-12 control-label">Phone 2</label>
								    
								    <div class="col-xs-9 col-sm-4">
								      <h5 class="control-label">phone number </h5>
								    </div>
								  </div>
								  <h4 class="">Billing address</h4>
								  <hr class="mar-t0">
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">House No./ Address</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="#12 xyz layout">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">City</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="Bangalore">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Postal code*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="520078">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>

								  <h4 class="">Shipping address</h4>
								  <hr class="mar-t0">
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">House No./ Address</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="#12 xyz layout">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">City</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="Bangalore">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Postal code*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="520078">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>


								  <div class="form-group">
								    <label for="" class="col-sm-3 control-label">Country*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="United kingdom">
								    </div>
								    <div class="col-sm-4"></div>
								  </div>
								  <!--
								  <div class="form-group">
								    <div class="col-sm-offset-3 col-sm-10">
								      <div class="checkbox">
								        <label>
								          <input type="checkbox"> Remember me
								        </label>
								      </div>
								    </div>
								  </div>
								  -->
								  <div class="form-group">
								    <div class="col-sm-offset-3 col-sm-10">
								      <a href="create_sub_account_acknowledgment.html" class="btn btn-warning mar-r5">Save</a>
								      <button type="submit" class="btn btn-default">Cancel</button>
								    </div>
								  </div>
								</form>
							 </div>
						   </div>
						   
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
	
  </script>