        <div class="container footer-top-wrap">
                <h2>Connect with Lebara</h2>
                <div class="footer-social">

                    <a href="https://www.facebook.com/LebaraGlobal" title="Facebook" target="_blank" class="social fb">
                        <svg class="icon-fb" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                            <path stroke="#449FDB" d="M0 0"></path>
                            <path d="M17.996 32h-5.996v-16h-4v-5.514l4-.002-.007-3.248c0-4.498 1.22-7.236 6.519-7.236h4.412v5.515h-2.757c-2.064 0-2.163.771-2.163 2.209l-.008 2.76h4.959l-.584 5.514-4.37.002-.004 16z"></path>
                        </svg>
                    </a>
                    <a href="https://twitter.com/lebara" title="Twitter" target="_blank" class="social tw">
                        <svg class="icon-tw" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                            <path stroke="#449FDB" d="M0 0"></path>
                            <path d="M32 6.076c-1.177.522-2.443.875-3.771 1.034 1.355-.813 2.396-2.099 2.887-3.632-1.269.752-2.674 1.299-4.169 1.593-1.198-1.276-2.904-2.073-4.792-2.073-3.626 0-6.565 2.939-6.565 6.565 0 .515.058 1.016.17 1.496-5.456-.274-10.294-2.888-13.532-6.86-.565.97-.889 2.097-.889 3.301 0 2.278 1.159 4.287 2.921 5.465-1.076-.034-2.088-.329-2.974-.821l-.001.083c0 3.181 2.263 5.834 5.266 6.437-.551.15-1.131.23-1.73.23-.423 0-.834-.041-1.235-.118.835 2.608 3.26 4.506 6.133 4.559-2.247 1.761-5.078 2.81-8.154 2.81-.53 0-1.052-.031-1.566-.092 2.905 1.863 6.356 2.95 10.064 2.95 12.076 0 18.679-10.004 18.679-18.68 0-.285-.006-.568-.019-.849 1.283-.926 2.396-2.082 3.276-3.398z"></path>
                        </svg>
                    </a>

                    <a href="http://uk.linkedin.com/company/lebara-mobile" title="LinkedIn" target="_blank" class="social li">
                        <svg class="icon-li" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 33 32">
                            <path stroke="#449FDB" d="M0 0"></path>
                            <path d="M18.701 13.507zM7.481 31.792h-7.065v-21.403h7.065v21.403zm-3.533-24.311c-2.494 0-3.948-1.662-3.948-3.74s1.662-3.74 3.948-3.74c2.494 0 3.948 1.662 3.948 3.74.208 2.078-1.455 3.74-3.948 3.74zm29.299 24.311h-7.065v-11.429c0-2.909-1.039-4.779-3.532-4.779-1.87 0-3.117 1.247-3.74 2.701-.208.416-.208 1.039-.208 1.662v12.052h-7.065v-21.403h7.065v3.117c1.039-1.455 2.701-3.532 6.442-3.532 4.779 0 8.104 3.117 8.104 9.558v12.052z"></path>
                        </svg>
                    </a>
                </div>
                <div>
                    <ul class="footer-links">
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Sitemap</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="">Disclaimer</a></li>
                        <li><a href="">Code of Practice</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                        <li class="last"><a href="">Cookie</a></li>
                        <li class="last">2014 &copy; Lebara</li>
                    </ul>
                </div>         
         </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
        
    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>
</body>

</html>