
<div class="header"></div>
        <div id="page-wrapper">
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3">
                    <div class="order-flow">
                        <ul>
                            <li>
                                <a href="view-cart.html">
                                    <span class="label1">
                                        <i class="fa fa-check fa-2x"></i>
                                    </span>
                                    <span class="span-pad-t5">Your Cart</span>
                                </a>
                            </li>
                            <li>
                                <a href="shipping.html">
                                    <span class="label2">
                                        <i class="fa fa-check fa-2x"></i>
                                    </span>
                                    <span class="span-pad-t5">Shipping</span>
                                </a>
                            </li>
                            <li>
                                <a href="Payment.html">
                                    <span class="label3">
                                        <i class="fa fa-check fa-2x"></i>
                                    </span>
                                    <span class="span-pad-t5">Payment</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="order-summary.html">
                                    <span class="label4">
                                        4 <!--<i class="fa fa-check-square-o fa-2x"></i> -->
                                    </span>
                                    <span>Order summary</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row" id="order-summary-panel">
                        <div class="panel-body order-summary panelbg">
                            <div class="mar-t20 clearfix">
                                <div class="col-sm-12">
                                    <div class="pull-left">
                                        <h3 class="h4 thankyou">Thank you!</h3>
                                        <p class="lead successfully">You have successfully placed your order</p>
                                    </div>
                                    <span class="mar-t10 pull-right hidden-xs hidden-sm print">
                                        <a href=""> Print <i class="fa fa-print fa-2x mar-r5"></i></a>
                                    </span>
                                </div>     
                            </div>       
                            <div class="clearfix">
                                <div class="col-sm-4 pad-l0">
                                    <div class="panel panel-default blockHeight ordersBoxOne">
                                        <div class="panel-body orderbox">
                                            <h5>Your order number is:</h5> 
                                            <h4><strong>9591011190</strong></h4> 
                                            </div>
                                            <div class="panel-body black">      
                                            <p>You can track your order status at 
                                                <span>
                                                    <a href=""><strong>Open orders</strong></a>
                                                </span>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-default blockHeight ordersBoxTwo">
                                        <div class="panel-body orderbox">
                                            <h5>Bill to</h5>
                                            <p class="name"><strong>Marvin J. Converse</strong></p>
                                            </div>
                                            <div class="panel-body">   
                                            <p>Monk House 88 Warner Close, HASTIGROW KW1 6BA</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="panel panel-default blockHeight ordersBoxThree">
                                        <div class="panel-body orderbox">
                                            <h5>Delivery to</h5>
                                            <p class="name"><strong>Marvin J. Converse</strong></p>
                                            </div>
                                            <div class="panel-body">   
                                            <p>Monk House 88 Warner Close, HASTIGROW KW1 6BA</p> 
                                            

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="col-sm-12">
                                    <div class="panel  ">
                                        <div class="panel-body ">
                                           <h5>Payment</h5>
                                           <p>Mode: <span><strong>Offline payment</strong></span></p> 
                                           <p>You have chosen to arrange payments offline against your order.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="col-sm-12">
                                    <div class="panel">
                                        <div class="panel-body ">
                                            <h5>Payment</h5>
                                            <p>Mode: <span><strong>Credit card</strong></span></p>
                                            <p>You have successfully made payment against this order using the card number: <strong> XXXX XXXX XXXX 1505</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="col-sm-12">
                                    <div class="panel ">
                                        <div class="panel-body  summary-container ">
                                            <h5>Order Summary</h5>
                                            <table class="table payment-summary-table">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-6 col-sm-3 text-left">
                                                            <span class="">Product name</span>
                                                        </th>   
                                                        <th class="col-sm-3 text-left hidden-xs ">
                                                            <span class="">Product type</span>
                                                        </th>                        
                                                        <th class="col-sm-3 text-left hidden-xs ">
                                                            <span class="">Price/Unit</span>
                                                        </th>
                                                        <th class="col-xs-2 col-sm-1 text-left ">
                                                            <span class="">Qty</span>
                                                        </th>
                                                        <th class="col-xs-4 col-sm-2 text-right ">
                                                            <span class="">Total</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">
                                                           UK SIM 10
                                                        </td>
                                                        <td class="text-left hidden-xs ">
                                                           micro
                                                        </td>  
                                                        <td class="text-left hidden-xs">
                                                            &#163;9.50
                                                        </td>                       
                                                        <td class="text-left">
                                                            20                             
                                                        </td>
                                                        <td class="text-right">
                                                           &#163;150.00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                           UK SIM 15
                                                        </td>
                                                        <td class="text-left hidden-xs ">
                                                           micro
                                                        </td>     

                                                        <td class="text-left hidden-xs">
                                                            &#163;9.50
                                                        </td>                   
                                                        <td class="text-left">
                                                            20                             
                                                        </td>
                                                        <td class="text-right">
                                                            &#163;150.00
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                        <td class="text-left">
                                                           UK SIM 25
                                                        </td>
                                                        <td class="text-left hidden-xs ">
                                                           micro
                                                        </td>
                                                        <td class="text-left hidden-xs">
                                                        &#163;9.50
                                                        </td>                   
                                                        <td class="text-left">
                                                            20                             
                                                        </td>
                                                        <td class="text-right">
                                                            &#163;150.00
                                                        </td>
                                                    </tr> 
                                                </tbody>

                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5" class="text-right">
                                                            <p>
                                                                <span>Subtotal :</span>
                                                                <span>&#163;450.00</span>
                                                            </p>
                                                            <p>
                                                                <strong>Offer applied: Buy 50 Get 50 Free :</strong>
                                                                <span>- &#163;50.00</span>
                                                            </p>
                                                            <!--<hr class="col-sm-6 col-xs-offset-6 mar-t5 mar-b5">-->
                                                            <p>
                                                                <span>Subtotal after offer :</span>
                                                                <span>&#163;400.00</span>
                                                            </p>
                                                            <p>
                                                                <strong>Tax :</strong>
                                                                <span>&#163;50.00</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="align-left"><strong>Total</strong></td>
                                                        <td colspan="3" class="text-right  color-00ADEF">&#163;500.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="align-left">
                                                            <strong>Adjust with commission(FTC)</strong>
                                                        </td>
                                                        <td colspan="3" class="text-right">
                                                            <p>
                                                                July FTC (#181) :
                                                                <span> - &#163;100.00</span>
                                                            </p>
                                                             <p>
                                                                August FTC (#222) :
                                                                <span> - &#163;100.00</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr class="totallast">
                                                        <td colspan="2" class="align-left border-none"><strong>Total after adjustment</strong></td>
                                                        <td colspan="3" class="text-right border-none  color-00ADEF">&#163;250.00</td>
                                                    </tr>
                                                </tfoot>
                                            </table>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        <!-- /#page-wrapper -->
		</div>
    
    <!-- /#wrapper -->

    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    
        jQuery(document).ready(function($) {
        
            $('.header').load("header.html");
            $('.footer').load("footer.html");

            var heights = $("div.blockHeight").map(function ()
                {
                    return $(this).height();
                }).get(),

                maxHeight = Math.max.apply(null, heights);
                maxHeight=maxHeight+40;
                $('.blockHeight').css('height', maxHeight+'px');


        });   
            
          
    </script>

