
<div class="header"></div>
<div id="page-wrapper">
	<div class="container content-body">
		<div class="row">
	        <div class="col-xs-12 col-md-9 col-md-push-3 products">
				<div class="">
					<div class="panel">
						<div class="panel-body">
					  		<p class="pull-left">Receipt-Nr.: 123456789</p>
					  		<p class="pull-right">Date: 24/11/2014</p>
					  	</div>
					</div>
				</div>
				<div class="">
					<div class="panel">
						<div class="panel-body">
							<h4 class="title">Name of retailer</h4>
					  		<p>Address of retailer <br>221B Baker St, <br>London 2265</p>

					  		<p>Value: $6</p>
								<p>Serial number: 4986461</p>
								<p>Top up code: 4444 5555 2222 1111</p>
								<p class="help-block">[optional: if available] Valid until input validity date of epin available in LVMS
								Print bar code of EAN code (available from Thivi)
								</p>
								<p class="small">
								To top up please follow these steps</p>
								<ul class="small">
									<li>1-	Call for free our customer service under 5588 with your own Lebara Mobile SIM card</li>
									<li>2-	Enter the pin code on the keyboard of the mobile phone</li>
									<li>3-	Wait for top up confirmation</li>
								</ul>
								 <p class="small">
								Customer service 01806 – 532272 
								20 ct per call from a German landline; maximum of 60 ct per call from mobiles.
								5588: 15ct per call from the Lebara mobile network 

								Very low rates to call abroad. Directly from your mobile phone.
								</p>
					  	</div>
					</div>
				</div>

			</div>	
	    </div>
	</div>
	<!-- /#page-wrapper -->
</div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
  </script>