
<div class="header"></div>
            
        <div id="page-wrapper">
           
            <div class="container content-body">
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-8 col-md-6 col-md-push-3 products">
                        <h1 class="mar-t15 title-header">Quick buy</h1>
                           <div class="panel panel-default">
                              <div class="panel-body"> 
                                <div class="col-xs-2 col-sm-3 image-section">
                                    <img src="images/sim.png" alt="" class="img-responsive centered">
                                </div>
                                <div class="col-xs-9 product-section">
                                    <h4>Sim cards</h4>
                                    <a href="#" class="text-primary simhead">Browse sim cards</a>
                                    <div class="row mar-t10">
                                        <div class="form-group col-xs-11 col-sm-4">
                                            <select class="form-control" id="select" name="">
                                                <option value="">&#163;10 Sim</option>
                                            </select>
                                        </div>     
                                        <div class="form-group col-xs-11 col-sm-4">
                                            <select class="form-control" id="select" name="">
                                                <option value="">Standard</option>
                                            </select>
                                        </div>  
                                        <div class="col-xs-9 col-sm-2 form-group">
                                            <input placeholder="QTY" type="text" class="form-control  pad-l5">
                                        </div>
                                        <div class="col-xs-3 col-sm-2 mar-t10">
                                            <span class="pull-left">X 20</span>
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="pull-left">
                                                <a href="#" class="btn btn-circle btn-lg btn-info btn-inline">
                                                    <i class="icon icon-addcart"></i>
                                                </a>
                                            </div>
                                            <div class="pull-left highlight mar-l5 mar-t10">
                                                <div>
                                                    <span class="strike-line"><strong>&#163;10</strong></span>
                                                    <span class="mar-l5 text-right"><strong>&#163;9.50</strong></span>
                                                </div>
                                                <span>Discount: 5%</span>
                                            </div> 
                                        </div>        
                                    </div> 
                                </div>
                                <div class="clearfix"></div>
                            </div>   
                        </div>
                        <div class="panel panel-default">
                              <div class="panel-body"> 
                            <div class="col-xs-2 col-sm-3 image-section">
                                <img src="images/sim.png" alt="" class="img-responsive centered">
                            </div>
                            <div class="col-xs-9 product-section">
                                <h4>Top-Up vouchers</h4>
                                <a href="#" class="text-primary simhead">Browse Top-Up vouchers</a>
                                <div class="row mar-t10">
                                    <div class="form-group col-xs-11 col-sm-5">
                                        <select class="form-control" id="select" name="">
                                            <option value="">&#163;10 Top-Up</option>
                                        </select>
                                    </div>     
                                    <div class="col-xs-9 col-sm-3 form-group">
                                        <input placeholder="QTY" type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-3 col-sm-2 mar-t10">
                                        <span class="pull-left">X 20</span>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-circle btn-lg btn-info btn-inline">
                                                <i class="icon icon-addcart"></i>
                                            </a>
                                        </div>
                                        <div class="pull-left highlight mar-l5 mar-t10">
                                            <div>
                                                <span class="strike-line"><strong>&#163;10</strong></span>
                                                <span class="mar-l5 text-right"><strong>&#163;9.50</strong></span>
                                            </div>
                                            <span>Discount: 5%</span>
                                        </div> 
                                    </div>        
                                </div>    
                            </div>
                            <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                              <div class="panel-body"> 
                                <div class="col-xs-2 col-sm-3 image-section">
                                    <img src="images/sim.png" alt="" class="img-responsive centered">
                                </div>
                                <div class="col-xs-9 product-section">
                                    <h4>Top-Up E-Pins</h4>
                                    <a href="#" class="text-primary simhead">Browse E-Pins</a>
                                    <div class="row mar-t10">
                                        <div class="form-group col-xs-11 col-sm-5">
                                            <select class="form-control" id="select" name="">
                                                <option value="">&#163;10 Top-Up</option>
                                            </select>
                                        </div>     
                                        <div class="col-xs-9 col-sm-3 form-group">
                                            <input placeholder="QTY" type="text" class="form-control">
                                        </div>
                                        <div class="col-xs-3 col-sm-2 mar-t10">
                                            <span class="pull-left">X 20</span>
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="pull-left">
                                                <a href="#" class="btn btn-circle btn-lg btn-info btn-inline">
                                                    <i class="icon icon-addcart"></i>
                                                </a>
                                            </div>
                                            <div class="pull-left highlight mar-l5 mar-t10">
                                                <div>
                                                    <span class="strike-line"><strong>&#163;10</strong></span>
                                                    <span class="mar-l5 text-right"><strong>&#163;9.50</strong></span>
                                                </div>
                                                <span>Discount: 5%</span>
                                            </div> 
                                        </div>        
                                    </div>    
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-md-push-3 mar-t20 hidden-xs">
                    <div class="panel-heading CartSummary">
                                    <div class="row">
                                        <div class=" col-xs-10">
                                            <h5> <strong>Cart Summary</strong></h5>
                                        </div>
                                        <button type="button" class="close mar-r10 edit btn btn-link"><span aria-hidden="true"><i class="fa fa-pencil"></i></span><span class="sr-only">Edit</span></button>
                                    </div>
                                </div>
                        <div class="panel panel-default panel-lebara">
                            
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Products</th>
                                            <th class="text-right">Total price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="pro-name">&#163;10 Sim - Micro</span><span class="pro-qty">Qty: 200</span></td>
                                            <td class="text-right">&#163;19,0000.00</td>
                                        </tr>

                                        <tr>
                                            <td><span class="pro-name">&#163;10 Sim - Micro</span><span class="pro-qty">Qty: 200</span></td>
                                            <td class="text-right">&#163;19,0000.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="text-right">
                                        <tr>
                                            <td>Subtotal</td>
                                            <td class="text-right"><strong>&#163;238,000.00</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="view-cart.html" class="pull-right btn btn-warning">View cart</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                
            </div>
        </div>
        <!-- /#page-wrapper -->
  <div class="footer"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  
  <script src="js/jQuery.equalHeights.js"></script>  

  <script>    
    jQuery(document).ready(function ($) {
        $('.header').load("header.html");
        $('.footer').load("footer.html");
        $('.nav-second-level li').removeClass('active');
        
    });    
  </script>

