
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel sim-reg-master">

						   <h4 class="mar-t0 title-header">New SIM registration</h4>
						   <p>The activation process can take up to a minute. Please do not press any button on your browser or close the window</p>
						   <div class="mar-t25 note">
						    <p>Note: All Fileld marked with * are necessary</p>
						   </div>
						   <div class="panel panel-default mar-b10">
						     <button type="button" class="btn btn-info block col-sm-12 snum">SIM number</button>
						   </div>
						    <hr class="sim-reg-master"/>
							<div class="circleSimMaster">OR</div>
						   <div class="panel panel-default mar-t35">
						     <button type="button" class="btn btn-info block col-sm-12 scode">SIM code</button>
						   </div
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	  $('.snum').click(function(){
	    window.location="http://localhost:86/sim-registration.html";
	  })
	  
	  $('.scode').click(function(){
	    window.location="http://localhost:86/sim-registration2.html";
	  })
	  
	})
	
  </script>
  <style type="text/css">
   hr.sim-reg-master{
   clear:both !important;
   border-bottom:1px solid #999;
   margin-top:70px;
  }
  div.circleSimMaster{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:#efefef;
  text-align:center;
  line-height:50px;
  color:#333;
  position:absolute;
  left:50%;
  top:58%;
 }
  </style>