
<div class="header"></div>
        <div id="page-wrapper">
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3">
                    <div class="col-xs-12 col-sm-8">
                        <h4 class="mar-t15 title-header">View Sub-Accounts</h4>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a class="btn btn-link pull-right mar-r5"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-filter mar-r10"></i> Filter By <i class="fa fa-sort-desc mar-l5"></i></a>
                    </div>

                    <div class="row" id="order-summary-panel">
                        <div class="panel-body order-summary">
                            <div class="clearfix">
                                <div class="col-sm-12">
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="col-md-9">
                                                  <div class="form-group col-xs-4">
                                                    <label class="" for="exampleInputEmail2">Role</label>
                                                    <select name="" class="form-control" id="">
                                                        <option value="0">All</option>
                                                    </select>
                                                  </div>
                                                  <div class="form-group col-xs-4">
                                                    <label class="" for="exampleInputPassword2">City</label>
                                                    <select name="" class="form-control" id="">
                                                        <option value="london">London</option>
                                                    </select>
                                                  </div>
                                                  <div class="form-group col-xs-4">
                                                    <label class="" for="exampleInputPassword2">Status</label>
                                                    <select name="" class="form-control" id="">
                                                        <option value="all">All</option>
                                                    </select>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table payment-summary-table table-bordered table-striped table-hover tree-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="">
                                                                <span class="">Name</span>
                                                            </th>   
                                                            <th class="">
                                                                <span class="">Role</span>
                                                            </th>                        
                                                            <th class="">
                                                                <span class="">Phone</span>
                                                            </th>
                                                            <th class="">
                                                                <span class="">Address Line</span>
                                                            </th>
                                                            <th class="">
                                                                <span class="">Action</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="parent open">
                                                            <td class="text-left">
                                                                <a href="#" class="btn btn-sm btn-link"><i class="fa fa-minus-square"></i></a>
                                                               <a href="child-account-profile.html" class="btn-link">Sudheer R</a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                        <tr class="child open">
                                                            <td class="text-left">
                                                               <a href="child-account-profile.html" class="btn-link"><span>Sudheer R</span></a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                        <tr class="child open">
                                                            <td class="text-left">
                                                               <a href="child-account-profile.html" class="btn-link"><span>Sudheer R</span></a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                        <tr class="parent">
                                                            <td class="text-left">
                                                               <a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-square"></i></a>
                                                               <a href="child-account-profile.html" class="btn-link"><span>Sudheer R</span></a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                        <tr class="parent">
                                                            <td class="text-left">
                                                            <a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-square"></i></a>
                                                               <a href="child-account-profile.html" class="btn-link"><span>Sudheer R</span></a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                        <tr class="child">
                                                            <td class="text-left">
                                                               <a href="child-account-profile.html" class="btn-link"><span>Sudheer R</span></a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                        <tr class="child">
                                                            <td class="text-left">
                                                               <a href="child-account-profile.html" class="btn-link"><span>Sudheer R</span></a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                        <tr class="child">
                                                            <td class="text-left">
                                                               <a href="child-account-profile.html" class="btn-link"><span>Sudheer R</span></a>
                                                            </td>
                                                            <td class="text-left">
                                                               Sub Wholesaler
                                                            </td>  
                                                            <td class="text-left">
                                                                9845040840
                                                            </td>                       
                                                            <td class="text-left">
                                                                221B Baker Street, London
                                                            </td>
                                                            <td class="">
                                                               <a href="#" class="btn btn-warning"><i class="fa fa-lock"></i> Deactivate</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>   
                                            </div>                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        <!-- /#page-wrapper -->
		</div>
    
    <!-- /#wrapper -->

    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    
        jQuery(document).ready(function($) {
        
            $('.header').load("header.html");
            $('.footer').load("footer.html");

            var heights = $("div.blockHeight").map(function ()
                {
                    return $(this).height();
                }).get(),

                maxHeight = Math.max.apply(null, heights);
                maxHeight=maxHeight+40;
                $('.blockHeight').css('height', maxHeight+'px');


        });   
            
          
    </script>

