
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <h4 class="mar-t15 title-header">Sub-Accounts</h4>
						   <div class="panel panel-default">
						     <div class="panel-body account-details">
							  <div class="user-card user-image-card col-sm-2 clearfix">
							    <img src="images/52.jpg" class="img-circle" width="90"></img>
								<h4>Shantanu</h4>
								<a href="#" class="btn btn-profile-image">Change picture</a>
							  </div>
							  <hr class="visible-xs">
							  <div class="col-sm-10 profile-card">
								  <div class="col-sm-4">
								    <p class=" mar-b5">Role</p>
									<h4 class="mar-t0">Sub-Wholesaler</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
								    <p class=" mar-b5">Account name</p>
									<h4 class="mar-t0">Shantanu</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
								    <p class=" mar-b5">Userr id</p>
									<h4 class="mar-t0">Shantanu982</h4>
								  </div>
								  <hr class="visible-xs col-xs-12">
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">Address</p>
									<h4 class="mar-t0">C4, CoolTech Park</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">City</p>
									<h4 class="mar-t0">London</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">Phone</p>
									<h4 class="mar-t0">0 9986279359</h4>
									<div class="clear"></div>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">Email ID</p>
									<h4 class="mar-t0">rajr@hotmail.com</h4>
									<div class="clear"></div>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">Region</p>
									<h4 class="mar-t0">Region 1</h4>
									<div class="clear"></div>
								  </div>

								  <div class="col-xs-12 mar-t10">
									  <a href="#" class="btn btn-warning mar-r10 mar-b10">Change Password</a>
									  <a href="#" class="btn btn-inverse mar-b10">Deactivate Account</a>
								  </div>
							  </div>
							 </div>
						   </div>
						   
						   <h4 class="mar-t15">Sub-Accounts</h4>
						   <div class="panel panel-default">
						     <div class="panel-body">
							 </div>
						   </div>
						   
						   <h4 class="mar-t15">Child Accounts</h4>
						   <div class="panel panel-default">
						     <div class="panel-body child-account">
							   <p>List of Child Accounts created under Shantanu Singh</p>
							   <div class="table-responsive">
								   <table class="table table-striped">
								     <thead>
									   <tr>
									     <th class="text-left">name</th>
										 <th class="text-left">role</th>
										 <th class="text-left">phone</th>
										 <th class="text-left">area</th>
										 <th class="text-left">region</th>
									   </tr>
									 </thead>
									 <tbody>
									  <tr>
									    <td>Mervin</td>
										<td>Reseller</td>
										<td>9591011190</td>
										<td>W.East field</td>
										<td>W.East field</td>
									  </tr>
									  <tr>
									    <td>Mervin</td>
										<td>Reseller</td>
										<td>9591011190</td>
										<td>W.East field</td>
										<td>W.East field</td>
									  </tr>
									  <tr>
									    <td>Mervin</td>
										<td>Reseller</td>
										<td>9591011190</td>
										<td>W.East field</td>
										<td>W.East field</td>
									  </tr>
									 </tbody>
								   </table>
							   </div>
							 </div>
						   </div>
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
	
  </script>