
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <div class="col-sm-12">
							 <h4 class="mar-t15 title-header">Top-Up</h4>
							 <div class="col-sm-12">
							   <div class="panel panel-default">
							     <div class="panel-body top-up-panel-msg">
								   <p class="h4 text-success"><strong>&#163;10 Top-up</strong> was successful added</p>
								   <h4 class="mar-t25">Previous balance: <strong>&#163;120 Top-up</strong></h4>
								   <h4 class="mar-t15">Current balance: <strong>&#163;110 Top-up</strong></h4>
								   <div class="row mar-25" align="center">
								   <button type="button" class="btn btn-default backto-top-up-btn">Back to Top-Up</button>
								   </div>
								 </div>
							   </div>
							 </div>
						   </div>

					   </div>
					</div>
    			</div>	
		    </div>
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  $('.backto-top-up-btn').click(function(){
	    $(location).attr('href','http://localhost:86/top_up.html?pickEpin')
	  })
	  
	})
  </script>