
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <h4 class="mar-t15 title-header">User profile</h4>
						   <div class="panel panel-default">
						     <div class="panel-body account-details">
							  <div class="user-card user-image-card mar-l10 col-sm-2 clearfix">
							    <img src="images/52.jpg" class="img-circle" width="90"></img>
								<h4>Shantanu</h4>
								<a href="#" class="btn btn-profile-image">Change picture</a>
							  </div>
							  <hr class="visible-xs">
							  <div class="col-sm-9 mar-l15 profile-card">
								  <div class="col-sm-4">
								    <p class=" mar-b5">Role</p>
									<h4 class="mar-t0">Sub-Wholesaler</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
								    <p class=" mar-b5">Account name</p>
									<h4 class="mar-t0">Shantanu</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
								    <p class=" mar-b5">User Id</p>
									<h4 class="mar-t0">Shantanu982</h4>
								  </div>
								  <hr class="visible-xs col-xs-12">
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">Address</p>
									<h4 class="mar-t0">C4, CoolTech Park</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">City</p>
									<h4 class="mar-t0">London</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">Phone</p>
									<h4 class="mar-t0">0 9986279359</h4>
									<div class="clear"></div>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class=" mar-b5">Email ID</p>
									<h4 class="mar-t0">rajr@hotmail.com</h4>
									<div class="clear"></div>
								  </div>
								  <div class="clearfix"></div>

								  	<!--<div id="collapseChangePassword" class="panel-collapse collapse clearfix">-->
								  	<div id="" class="panel-collapse collapse collapseChangePassword clearfix">
								  		<hr>
								  		<div class="col-xs-12 col-sm-7">
		                                  <div class="form-group">
		                                    <label class="" for="exampleInputEmail2">Enter currenct password</label>
		                                    <input type="password" class="form-control" />
		                                  </div>
		                                  <div class="form-group">
		                                    <label class="" for="exampleInputPassword2">Enter new password</label>
		                                    <input type="password" class="form-control" />
		                                    <p class="help-block">Password should be minimum of 6 charector</p>
		                                  </div>
		                                  <div class="form-group">
		                                    <label class="" for="exampleInputPassword2">Confirm new password</label>
		                                    <input type="password" class="form-control" />
		                                    <p class="help-block">This should exactly same as new password</p>
		                                  </div>
		                                </div>
		                            </div>
								  <div class="col-xs-12 mar-t10">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChangePassword" class="btn btn-warning btn-changepassword mar-r5 mar-b10">Change password</a>
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChangePassword" class="btn btn-warning btn-savepassword mar-r5 mar-b10" style="display:none;">Save Password</a>
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChangePassword" class="btn btn-default btn-cancelpassword mar-r5 mar-b10" style="display:none;">Cancel</a>
									  <a href="#" class="btn btn-inverse btn-editprofile mar-b10">Edit</a>
								  </div>
							  </div>
							 </div>
						   </div>
						   <h4 class="mar-t15">Sales performance</h4>
						   <div class="panel panel-default">
						     <div class="panel-body">
                                <div class="col-xs-12 col-sm-8"><h4>Gross activation (GA)</h4></div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <div class="col-xs-3">
                                            <label for="exampleInputPassword2">Filter</label>
                                        </div>
                                        <div class="col-xs-9">
                                            <select name="" id="" class="form-control">
                                                <option value="">Last 4 months</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
						     	<div class="text-center mar-t30">
						     		<img src="images/chart.jpg" class="img-responsive" alt="">
						     	</div>
							 </div>
						   </div>
                           <div class="row">
                               <div class="col-xs-12 col-sm-8">
    						        <h4 class="mar-t15">Child accounts</h4>
                               </div>
                               <div class="col-xs-12 col-sm-4">
                                    <a class="btn btn-link pull-right mar-r5"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-filter mar-r10"></i> Filter by <i class="fa fa-sort-desc mar-l5"></i></a>
                               </div>
                           </div>
                           <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-9">
                                          <div class="form-group col-xs-4">
                                            <label class="" for="exampleInputEmail2">Role</label>
                                            <select name="" class="form-control" id="">
                                                <option value="0">All</option>
                                            </select>
                                          </div>
                                          <div class="form-group col-xs-4">
                                            <label class="" for="exampleInputPassword2">City</label>
                                            <select name="" class="form-control" id="">
                                                <option value="london">London</option>
                                            </select>
                                          </div>
                                          <div class="form-group col-xs-4">
                                            <label class="" for="exampleInputPassword2">Status</label>
                                            <select name="" class="form-control" id="">
                                                <option value="all">All</option>
                                            </select>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						   <div class="panel panel-default">
						     <div class="panel-body child-account">
							   <div class="table-responsive">
                                    <table class="table payment-summary-table table-bordered table-striped table-hover tree-table">
                                        <thead>
                                            <tr>
                                                <th class="">
                                                    <span class="">Name</span>
                                                </th>   
                                                <th class="">
                                                    <span class="">Role</span>
                                                </th>                        
                                                <th class="">
                                                    <span class="">Phone</span>
                                                </th>
                                                <th class="">
                                                    <span class="">City</span>
                                                </th>
                                                <th class="">
                                                    <span class="">Action</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="parent open">
                                                <td class="text-left">
                                                    <a href="#" class="btn btn-sm btn-link"><i class="fa fa-minus-square"></i></a>
                                                   Sudheer R
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                            <tr class="child open">
                                                <td class="text-left">
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                            <tr class="child open">
                                                <td class="text-left">
                                                   <span>Shantanu</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                            <tr class="parent">
                                                <td class="text-left">
                                                   <a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-square"></i></a>
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                            <tr class="parent">
                                                <td class="text-left">
                                                <a href="#" class="btn btn-sm btn-link"><i class="fa fa-plus-square"></i></a>
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                            <tr class="child">
                                                <td class="text-left">
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                            <tr class="child">
                                                <td class="text-left">
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                            <tr class="child">
                                                <td class="text-left">
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="">
                                                   <a href="#" class="btn btn-inverse"><i class="fa fa-lock"></i> Deactivate</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>   
                                </div> 
							 </div>
						   </div>
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
	
  </script>