
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3">
                    <div class="order-flow">
                        <ul>
                            <li class="active">
                                <a href="view-cart.html">
                                    <span class="label1">
                                        1 <!--<i class="fa fa-shopping-cart fa-2x"></i> -->
                                    </span>
                                    <span class="span-pad-t5">Your Cart</span>
                                </a>
                            </li>
                            <li>
                                <a href="shipping.html">
                                    <span class="label2">
                                        2 <!-- <i class="fa fa-truck fa-2x"></i> -->
                                    </span>
                                    <span class="span-pad-t5">Shipping</span>
                                </a>
                            </li>
                            <li>
                                <a href="Payment.html">
                                    <span class="label3">
                                        3 <!-- <i class="fa fa-credit-card fa-2x"></i> -->
                                    </span>
                                    <span class="span-pad-t5">Payment</span>
                                </a>
                            </li>
                            <li>
                                <a href="order-summary.html">
                                    <span class="label4">
                                      4 <!--  <i class="fa fa-check-square-o fa-2x"></i>  -->
                                    </span>
                                    <span>Order summary</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-smart mar-t20 cart-panel">
                        <div class="col-xs-12">
                            
                                <table class="table table-cart table-main-cart">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center">
                                                Product and type
                                            </th>   
                                            <th class="col-xs-2 text-center">
                                                Price
                                            </th>                        
                                            <th class="col-xs-4 col-sm-3 text-center">
                                                Quantity
                                            </th>
                                            <th class="col-xs-2 text-center">
                                                Subtotal
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center col-xs-1">
                                                <button type="button" title="" class="btn btn-default tool-tip btn-cross mar-t10 mar-l5" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                            <td class="text-center">
                                                <a href="product-full.html">UK SIM 10</a>
                                                <p><span>Standard</span></p>
                                            </td>  

                                            <td class="text-center">
                                            &#163;150.00
                                            </td>                       
                                            <td class="text-center wid-100">
                                                <div class="input-group btn-block">
                                                    <input  type="text" name="quantity" placeholder="Qty" size="1" class="form-control">
                                                    <span class="input-group-addon">X 20</span>
                                                </div>                              
                                            </td>
                                            <td class="text-center">
                                               &#163;150.00
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <button type="button" title="" class="btn btn-default btn-cross tool-tip mar-t10 mar-l5" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                            <td class="text-center">
                                                <a href="product-full.html">UK SIM 10</a>
                                                <p><span>Standard</span></p>
                                            </td>    

                                            <td class="text-center">
                                                &#163;150.00
                                            </td>                   
                                            <td class="text-center">
                                                <div class="input-group btn-block">
                                                    <input type="text" name="quantity" placeholder="Qty" size="1" class="form-control">
                                                    <span class="input-group-addon">X 20<br class="visible-xs"> = 100</span>
                                                </div>                              
                                            </td>
                                            <td class="text-center">
                                                &#163;150.00
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td class="text-center">
                                                <button type="button" title="" class="btn btn-default btn-cross tool-tip mar-t10 mar-l5" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                            <td class="text-center">
                                                <a href="product-full.html">UK SIM 10</a>
                                                <p><span>Standard</span></p>
                                            </td>    

                                            <td class="text-center">
                                                &#163;150.00
                                            </td>                   
                                            <td class="text-center">
                                                <div class="input-group btn-block">
                                                    <input type="text" name="quantity" placeholder="Qty" size="1" class="form-control">
                                                    <span class="input-group-addon">X 20</span>
                                                </div>                              
                                            </td>
                                            <td class="text-center">
                                                &#163;150.00
                                            </td>
                                        </tr>
                                         <tr class="highlight">
                                            <td class="text-center">
                                                <button type="button" title="" class="btn btn-default btn-cross tool-tip mar-t10 mar-l5" data-original-title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                            <td class="text-center">
                                                <a href="product-full.html">UK SIM 10</a>
                                                <p><span>Standard</span></p>
                                            </td>    

                                            <td class="text-center">
                                                &#163;150.00
                                            </td>                   
                                            <td class="text-center">
                                                <div class="input-group btn-block">
                                                    <input type="text" name="quantity" placeholder="Qty" size="1" class="form-control">
                                                    <span class="input-group-addon">X 20</span>
                                                </div>                              
                                            </td>
                                            <td class="text-center">
                                                &#163;0.00
                                            </td>
                                        </tr>                      
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="text-right">
                                                <p>
                                                    <strong>Subtotal :</strong>
                                                    <span> &#163;450</span>
                                                </p>
                                                
                                                <p>
                                                <strong class="offer-applied"> <br class="visible-xs"> Offer applied:<br> <a class="btn btn-xs btn-link text-center no-uppercase colorred"><i class="fa fa-times"></i> Remove offer</a>Buy 50  Get 50 Free :</strong>
                                                    <span> - &#163;50.00</span>
                                                </p>
                                                </td></tr>
                                             <tr>
                                          <td colspan="5" class="text-right">
                                                <p>
                                                    <strong>Subtotal after offer :</strong>
                                                    <span> &#163;400</span>
                                                </p>
                                                 <p>
                                                    <strong>Tax :</strong>
                                                    <span> &#163;50</span>
                                                </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td colspan="5" class="text-right">
                                            <p>
                                                <strong>July FTC (#181) :</strong>
                                                <span>- &#163;100</span>
                                            </p>
                                             <p>
                                                <strong>August FTC (#222) :</strong>
                                                <span>- &#163;100</span>
                                            </p>
                                             <p class="adjust-ftc">
                                                <strong>Adjust with commission(FTC) :</strong>
                                            </p>
                                            <ul>
                                                <!-- /.dropdown -->
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="fa fa-plus fa-fw"></i>  <i class="fa fa-caret-down"></i>
                                                    </a>
                                                        <ul class="dropdown-menu dropdown-ftc">
                                                            <li>
                                                                <h4 class="">June</h4>
                                                                <table class="table table-striped ftccheckbox">
                                                                    <tr>
                                                                        <td>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                  <input type="checkbox"> FTC 1
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            &#163;5000
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                  <input type="checkbox"> FTC 2
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            &#163;5000
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <h4 class="">July</h4>
                                                                <table class="table table-striped">
                                                                    <tr>
                                                                        <td>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                  <input type="checkbox"> FTC 1
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            &#163;5000
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                  <input type="checkbox"> FTC 2
                                                                                </label>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            &#163;5000
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </li>
                                                        </ul>
                                                        <!-- /.dropdown-user -->
                                                    </li>
                                                </ul>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td colspan="5" class="text-right amounttext">
                                            <p>
                                                <strong>Amount Payable :</strong>
                                                <span>&#163;250</span>
                                            </p>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td colspan="5" class="text-right" style="border-bottom:0;">
                                            <p>
                                                <a href="javascript:;" class="btn btn-default pull-left cancelbox">Cancel</a>
                                                <a href="shipping.html" class="btn btn-warning cancelbox">Place Order</a>
                                            </p>
                                          </td>
                                        </tr>
                                    </tfoot>
                                </table> 
                                           
                        </div>
                    </div>
                    <div class="col-xs-12 clear">
                       <div class="clearfix">
                            <div class="col-xs-6 col-sm-3">
                                <div class="panel panel-default shipping-name-panel" id="shipping-name-panel">
                                  <div class="panel-body">
                                  <div class="panel-head"><b>Voucher</b>  <span class="Voucherbox">S</span></div>
                                    <div class="">
                                        <h4 class="name"><strong>Buy 50 &amp; Get 50</strong></h4>
                                        <h6 class="text-muted">Valid Till: Nov, 14</h6>
                                        <p class="">Buy any 50 SIM And %0 more free.</p>
                                    </div>
                                  </div>
                                  <a href="#" class="bg-warning bg-warning-btn offer-applied-btn">
                                      <div class="panel-footer">
                                        <p class="text-center">Remove this offer</p>
                                      </div>
                                  </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="panel panel-default shipping-name-panel" id="shipping-name-panel">
                                  <div class="panel-body">
                                  <div class="panel-head"><b>Voucher</b>  <span class="Voucherbox">S</span></div>
                                    <div class="">
                                        <h4 class="name"><strong>Buy 50 &amp; Get 50</strong></h4>
                                        <h6 class="text-muted">Valid Till: Nov, 14</h6>
                                        <p class="">Buy any 50 SIM and %0 more free.</p>
                                    </div>
                                  </div>
                                  <a href="#" class="bg-warning bg-warning-btn">
                                      <div class="panel-footer">
                                        <p class="text-center">Apply this to your cart</p>
                                      </div>
                                  </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="panel panel-default shipping-name-panel" id="shipping-name-panel">
                                  <div class="panel-body">
                                  <div class="panel-head"><b>Voucher</b>  <span class="Voucherbox">S</span></div>
                                    <div class="">
                                        <h4 class="name"><strong>Buy 50 &amp; Get 50</strong></h4>
                                        <h6 class="text-muted">Valid Till: Nov, 14</h6>
                                        <p class="">Buy any 50 SIM and %0 more free.</p>
                                    </div>
                                  </div>
                                  <a href="#" class="bg-warning bg-warning-btn">
                                      <div class="panel-footer">
                                        <p class="text-center">Apply this to your cart</p>
                                      </div>
                                  </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="panel panel-default shipping-name-panel" id="shipping-name-panel">
                                  <div class="panel-body">
                                  <div class="panel-head"><b>Voucher</b>  <span class="Voucherbox">S</span></div>
                                    <div class="">
                                        <h4 class="name"><strong>Buy 50 &amp; Get 50</strong></h4>
                                        <h6 class="text-muted">Valid Till: Nov, 14</h6>
                                        <p class="">Buy any 50 SIM And %0 more free.</p>
                                    </div>
                                  </div>
                                  <a href="#" class="bg-warning bg-warning-btn disabled">
                                      <div class="panel-footer">
                                        <p class="text-center">Apply this to your cart</p>
                                      </div>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Empty Shopping cart-->
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-center text-muted"><i class="fa fa-warning fa-4x text-center"></i><br/>Your shopping cart is empty</h4>
                        </div>
                    </div>
                    <!--End Empty Shopping Cart-->
    				
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
  </script>
