/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@import url(../fonts/stylesheet.css);

body {
    font-family: 'Gotham Book', Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 13px;
}
.panel, .panel-body {
    background-color: #efefef;
    border:0px;
}
.panelbg{
    background:#fff !important;
}

.hidden-xs .panel-body{
    background: none; border:0px;
}
a:active, button:active, .form-control:active{
    outline: 0;
}
button:focus, a:focus {outline:0 !important;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .sidebar > div > ul > li > a, .select-country{
    font-family: 'Gotham Medium', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
h1, .h1 {
    font-size: 4em;
}
h4, .h4 {
    font-size: 1.4em;
}
.main-login-page {
    background: #000 url(/images/image4retouchedwebsize.jpg) no-repeat top;
    background-size: cover;
    color: #fff;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: rgba(0,0,0,.2);
}
a {
    color: #00a6eb;
    text-decoration: none;
}
.form-control:focus {
    border-color: #00a6eb;
}
.sidebar > div > ul > li > a {
    font-weight: 400;
}
#wrapper {
    width: 100%;
    background-color: #00a6eb;
}

#page-wrapper {
    min-height: 568px;
}
.navbar-inverse a{
    color: #ccc;
}
.navbar-inverse a:hover, a:focus{
    color: #ccc;
}
.navbar-toggle .icon-bar {
    background-color: #666;
    margin-top: 8px;
}
.navbar-Lebara {
    min-height: 55px;
}
.navbar-brand {
    padding: 14px 5px 5px 0px;
    height:inherit !important;
    line-height:22px !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}
.navbar-top-links > li {
    float: left;
}
.panel-smart {
    border: none;
    box-shadow: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.pad-l0 {
    padding-left: 0px;
}
.select-country{
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-size: 14px;
}
.select-country li{
    margin: 10px 0 0;
}
.select-country li a{
    color: #666;
    -moz-transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}
.title-header {
    font-weight: 400;
    font-size: 24px;
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
    }
    #wrapper {
        
    }
    .navbar-header {
        float: none;
    }
    .navbar-top-links > li > a {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navbar-collapse-cart {
        float: right;
    }
    .btnSummaryCancel {
        margin-right: 20px;
    }
    .profile-card .col-sm-4{
        margin-bottom: 20px;
    }
}
.sidebar .user-card h4 {
    color: #fff;
}
.shipping-name-panel, #shipping-name-panel{
    border-radius: 3px;
}
.panel-default{
    position: relative;
}
/*Defaults
.form-control {
    background-color: #f5f5f5;
}*/
.bootstrap-select .dropdown-menu {
    margin-top: -3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.bootstrap-select.btn-group .btn .caret {
    font-size: 1.2em;
}
.panel, .form-control, .btn{
    /*border-radius: 3px ;*/
}
.panel {
    /*-webkit-box-shadow: 0 1px 2px rgba(0,1,2,0.15);
    box-shadow: 0 1px 2px rgba(0,1,2,0.15);
    border-radius: 3px;*/
}
.panel-default{
    border-radius: 0px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f0d7";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
    position: absolute;
    right: 10px;
    top: 8px;
}
.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0da";    /* adjust as needed, taken from bootstrap.css */
}
.bg-primary-card {
    background-color: #00adef;
}
.bg-primary-card {
    padding: 10px;
    margin-left: 0px;
    display: block;
    margin-bottom: 15px;
    color: #fff;
    background-image: 
}
.bg-primary-card label{
    font-weight: normal;
}
.mar--l15 {
    margin-left: -7px;
}
.retailer-address > .col-xs-12::before{
    content: " ";
    line-height: 2em;
}
.retailer-address > .col-xs-12 {
    border-bottom: #ccc 1px solid;
    margin-top: 15px;
}
.navbar-toggle {
}
.navbar-top-links li {
    display: inline-block;
    margin-right: 5px;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links > li > a, .navbar-top-links > li.open > a {
    margin-top: 7px;
    font-size: 1.2em;
    color: #FFF;
    min-height: 43px;
    background-color: #0085ba;
}

.navbar-top-links .dropdown-menu {
    background-color: #555;
    border-color: #555;
}
.navbar-top-links .dropdown-menu>li>a {
    color: #fff;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 12px 20px;
    min-height: 0;
    font-size: .85em;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}
.navbar-top-links .dropdown-menu .text-muted {
    color: #ccc;
}
.navbar-right .dropdown-menu .divider {
    margin: 0px;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links > li > a {
    /*color: #666;*/
}
.navbar-top-links > li.open > a {
    color: #00a6ec;
}
.navbar-top-links > li > a:hover, .nav-top-links > li > a:focus {
    color: #00a6ec;
}
.dropdown-menu .divider {
    background-color: rgba(255,255,255,.2);
}
.payment-tabs > li > a > .fa {
    display: block;
    text-align: center;
}
.nav.navbar-top-links .open>a, .nav.navbar-top-links .open>a:hover, .nav .open>a:focus {
    background-color: rgba(255,255,255,.2);
}
.nav.navbar-top-links .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #00adef;
    background-color: rgba(0,0,0,0);
}
h4.navbar-brand{
    font-family: 'Gotham Medium';
    color: #fff;
    margin-top: 5px;
}
.page-header {
    padding-bottom: 9px;
    margin: 10px 0 10px;
    border-width: 0;
    font-weight: bold;
    font-size: 1.6em;
    color: #00adef;
}
@media(min-width: 992px){
    h4.navbar-brand{
        margin-left: 0px !important;
    }
}
@media(max-width:767px) {
    .navbar-top-links {
        max-width: 124px; display: none;
    }
    .navbar-top-links li a {
        padding: 10px 5px;
    }
    .navbar-brand {
        float: left;
        padding: 14px 14px 14px 12px;
        line-height: 20px;
        margin-top: 5px;
        margin-left: -7px;
    }
    .navbar-brand img {
        width: 110px;
    }
    .navbar-Lebara {
        min-height: 50px;
    }
    .navbar-top-links li:last-child {
        margin-right: 0px;
    }
    .navbar-right .dropdown-menu {
        top: 54px;
    }
    .smd-nav {
        padding: 0px 5px;
        font-size: .8em;
    }

}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts,
.navbar-top-links .dropdown-cart {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -130px;
}
.navbar-top-links .dropdown-cart {
    margin-left: -250px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.user-card{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.dropdown-ftc{
    left: -78px;
    top: -63px;
}
.navbar-right .dropdown-menu {
    top: 57px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar.col-md-3{
    padding: 0px;
}
.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    -webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
    transition: color 2s;
}

@media(min-width: 992px){
    .sidebar ul li.active {
        background-color: #00adef;
    } 
    .navbar-top-links > li > a {
        padding: 10px;
    }  
}
.sidebar ul li.active .nav-second-level li.active a{
    color: #fff !important;
    background-color: rgba(0,0,0,.2);
}
.sidebar ul li.active .nav-second-level li.active a::after {
    content: "";
    position: relative;
    right: -5px;
    float: right;
    background-color: #fff;
    border-right: 2px solid #fff;
}
.nav-second-level li.active a{
    background-color: #055f82;
}
.sidebar ul li.active .nav-second-level li.active a:hover, .sidebar ul li.active .nav-second-level li.active a:focus{
    background-color: rgba(0,0,0,.1) !important;
}
.sidebar ul li a.active {
    color: #fff;
}
.sidebar ul li.active > a {
    color: #fff;
}
.k-connect {
    width: 230px;
}
@media(min-width: 768px and max-width: 991px){
    .k-connect {
        width: 200px !important;
    }
}
@media(max-width: 991px){
    #side-menu > li {
        width: 31%;
        display: inline-table;
        text-align: center;
        font-size: .7em;
    }
    #side-menu > li > a .fa.arrow {
        display: none;
    }
    #side-menu > li > a{
        min-height: 100px;
    }
    #side-menu > li > ul.nav-second-level li{
        width: 32%;
        float: left;
        min-height: 100px;
    }
    #side-menu > li > ul.nav-second-level li:first-child{
        clear: both;
    }
    .sidebar > ul > li.active {
        background-color: transparent;
    }
    #side-menu > li.left {
        margin-left: 15px;
        /*border-right: 1px solid rgba(255,255,255,.5);*/
    }
     #side-menu > li > ul.nav-second-level{
        width: 303%;
        position: relative;
        background-color: #055f82;
    }
    #side-menu > li.left > ul.nav-second-level{
        left: 0%;
    }
    #side-menu > li.middle > ul.nav-second-level{
        left: -105.5%;
        margin: 0 10px;
    }
    #side-menu > li.right > ul.nav-second-level{
        left: -207%;
        margin: 0 10px;
    }
    .sidebar ul li.active .nav-second-level li.active a:hover, .sidebar ul li.active .nav-second-level li.active a:focus {
        background-color: rgba(0,0,0,.1) !important;
    }
	
}
a > div > h4.panel-title{
    color: #000000;
}
.accordion-toggle:hover, .accordion-toggle:focus {
    text-decoration: none;
}
button.edit, a.edit{
   /* font-size: 1.5em;*/
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    padding: 5px 7px; opacity: 1; margin-top: 3%;
    background-color: #fff; border-radius: 50%;
    color: #000;
    text-shadow: 0 0px 0 #fff;
}
a p .text-lg, p .text-lg{
    font-size: 2em;
}

.loginoptions .form-control .btn {
    z-index: 1036;
}
.loginoptions .dropdown-menu.open {
    margin-top: 12px;
    background: #444;
}
.loginoptions .dropdown-menu {
    background: #444;
}
.loginoptions .dropdown-menu:hover li {
    background: #333;
}
/*******************************Login**************************/
.loginoptions {
    margin-top: 8em;
}
.loginoptions .form-control {
    padding: 20px;
}
.loginoptions .btn  {
    padding: 14px;
}

.panel-body-login form {
    max-width: 320px;
}
.bg-primary1 {
    color: #fff;
    background-color: #00adef;
}
.bg-warning-btn .panel-footer {
    background-color: #00a6eb;
    color: #fff; border-radius: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight:  bold;
}
.bg-warning-btn .panel-footer p{
    margin-bottom: 0px;
    font-size: 13px;
}
.bg-warning-btn:hover, .bg-warning-btn:focus{
    text-decoration: none;
}
.bg-warning-btn:hover .panel-footer, .bg-warning-btn:focus .panel-footer{
    background-color: #007bae;
}
.offer-applied-btn .panel-footer {
    background-color: #f4aa00;
}
.offer-applied-btn:hover .panel-footer, .offer-applied-btn:focus .panel-footer{
    background-color: #fabb2b;
}
.link-primary:hover{
    text-decoration: none;
}
.link-primary .panel {
    background-color: #fff;
    font-family: 'Gotham Book', Arial, Helvetica, sans-serif;
    color: #333;
}
.link-primary .panel .fa-3x{
    color: #665b9b;
}
.table {
   font-size: 1em;
   color: #000;
}
.panel-group .panel{
    /*border-radius: 3px;*/
}
.panel-smart .table * {
    text-align: left;
}
.panel-smart .table {
   border-collapse: separate;
   border-spacing: 0px 5px;
}
.panel-smart .table>thead>tr>th:last-child, .panel-smart .table>tbody>tr>td:last-child, .panel-smart .table>tfoot>tr>td:last-child{
    text-align: right;
}
.panel-smart .table>tfoot>tr>td:last-child{
    border-bottom: 1px solid #999;
}
.panel-smart .table>tfoot>tr>td{
    text-align: right;
    padding-right: 20px;
}
 .panel-smart .table>tfoot>tr>td>p{
    text-align: right;
}
.offer-applied {
    display: inline-block;
    text-align: right !important;
}
 .panel-smart .table>tfoot>tr>td>p>span{
    min-width: 120px;
    display: inline-block;
    text-align: right;
 }
 .panel-smart .table>tfoot>tr>td>ul{
    min-width: 120px;
    display: inline-block;
    text-align: right;
    list-style: none;
 }
  .panel-smart .table>tfoot>tr>td>ul>li>a{
    text-align: right;
    margin-left: 40px;
  }
 .adjust-ftc {
    min-width: 120px;
    display: inline-block;
    text-align: right;
    list-style: none;
 }
.panel-smart .table>thead>tr>th {
    background: #f2a602;
    border-width: 0;
    height: 55px;
    padding-bottom: 18px;
}
.panel-smart .table>tbody>tr>td {
    border-width: 0;
    background-color: #ededed;
}
.cart-panel .table > tbody > tr > td {
    vertical-align: middle;
}
.panel-smart .table>tfoot>tr>td {
    border-width: 0;
}
.panel-smart .table>tbody>tr {
}
.panel-smart .table>tbody>tr>td:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.panel-smart .table>tbody>tr>td:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.panel-smart .table>thead>tr>th{
    text-transform: capitalize;
}
.btn-info{
    background-color: #00adef;
    color: #fff;
}
.btn-info:hover, .btn-info:focus{
    background-color: #0094cd;
}
.btn-inverse{
    background-color: #666666;
    color: #fff;
}
.btn-inverse:hover, .btn-inverse:focus{
    background-color: #444;
    color: #fff;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: inline-block;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|";
}
.breadcrumb > .active {
  color: #777;
}
.wid-100 {
    width: 150px;
}
.profile-card h4{
    margin-bottom: 20px;
}
.products {
}
.account-details {
    padding-top: 30px;
}
.user-image-card {
    border: 1px solid #00adef;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.user-image-card:hover, .user-image-card:focus {
    border: 1px solid #666;
}
.user-image-card:hover .btn-profile-image {
    background-color: #666;
}
.btn-profile-image {
    color: #fff;
    background-color: #00adef;
    width: 100%;
    font-size: 12px;
    border-radius: 0px;
}
.form-control, .form-control.bootstrap-select.open .btn {
    /*border: 1px solid #00adef;*/
}
.panel-infoform {
    padding: 15px;
}
.panel-infoform .alert{
    margin-bottom: 0px !important;
    border-radius: 3px;
    border-width: 0;
}
.btn-profile-image:hover, .btn-profile-image:focus{
    background-color: #666;
    color: #fff;
}
.products > div > .product {
    background-color: #ededed;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    min-height: 260px;
    margin-left: -5px;
}
.product > img {
    height: 60px;
}
.product .form-group{
    width: 48%;
    display: inline-block;
}
.btn-inline {
    display: inline-block;
    float: left;
    margin-right: 8px;
}
.btn-inline {
    padding: 3px 0 !important;
}
.strike-line{
    text-decoration: line-through;
}
.qdetails {
    padding: 0px;
    margin-top: 5px;
}
.offer {
    float: left;
}
.sidebar .nav>li>a {
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    /*background: #00a6e8;*/
    margin-bottom: 1%;
}
.sidebar .nav>li>a:hover, .sidebar .nav>li>a:focus {
    background-color: #00a6e8;
    /*color: #00a6e8 !important;*/


}
.nav-second-level {
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before, .sidebar .icon.arrow:before {
    content: "\f105";
}



.sidebar .active>a>.fa.arrow:before, .sidebar .active>a>.icon.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}
.btn, .form-control{
    font-size: inherit;
}
.sidebar .nav-second-level li a {
    background: none repeat scroll 0 0 #545454;
    color: rgba(255, 255, 255, 0.85) !important;
    margin-bottom: 0;
    padding-left: 55px;
}
.sidebar .nav-second-level li a:hover{
    color: #00a6e8 !important;
    background-color: #545454;

}
.sidebar > div > ul > li > a{
    color: #fff !important;
}
.sidebar > div > ul > li > a > .fa, .sidebar > div > ul > li > a > .icon {
    margin-right: 5px;
    font-size: 1.4em !important;
    position: relative;
    top: 2px;
    opacity: .85;
    color: #fff;
}
.sidebar > div > ul > li > a > .arrow {
    color: #fff;
}
.sidebar > div > ul > li.active > a > .fa, .sidebar > div > ul > li.active > a > .icon {
    color: #fff;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
.new-address-popup:hover {

}
@media(min-width: 1200px){
    .login-selectdetails {
        margin-left: 20px;
    }
}
@media(min-width:992px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        margin-top: 35px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
    .content-body {
        margin-top: 25px;
    }
}
@media(min-width:768px) { 
    .navbar-brand img {
        width: 130px;
    }
}
.sidebar-container{
    position: relative;
    clear: both;
}
@media(max-width: 991px) {
    .sidebar-container {
        margin: 0;
    }
}
@media(min-width:992px) {
    .sidebar-container{
        margin-right: 25px;
    }
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.v-align-t {
    vertical-align: top !important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.btn-addcart {
    color: #fff;
    background-color: #e52f66;
    border-color: #d52a5e;
}
.btn-addcart:hover,
.btn-addcart:focus,
.btn-addcart:active,
.btn-addcart.active,
.open > .dropdown-toggle.btn-addcart {
  color: #fff;
  background-color: #d52a5e;
  border-color: #c02654;
}
.btn-addcart:active,
.btn-addcart.active,
.open > .dropdown-toggle.btn-addcart {
  background-image: none;
}
.btn-addcart .badge {
  color: #d52a5e;
  background-color: #fff;
}
.font-bold {
    font-weight: bold;
}
.inline-el{
    display: inline-block;
}
.total-price {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin-top: 0;
}
.lead-new-address {
    font-size: 16px;
    display: inline-block;
    position: relative;
}
.panel-title {
    font-size: 1.1em;
}
.address-content {
    min-height: 75px;
}
.badge-xs-number {
    position: absolute;
    font-weight: normal;
    font-size: 10px;
    padding: 6px 5px;
    border-radius: 100%;
    top: 0px;
    color: #00adef;
    background-color: #fff;
    min-width: 22px;
    border: 1px solid #00adef;
}
.help-block-right{
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: .8;
    font-size: .9em;
}
.search-button {
    padding: 0 !important;
}
.btn-link{
    color: #428bca;
}
.btn-link:hover, .btn-link:focus{
    color: #333;
    text-decoration: none;
}
/******************TREE Table ************************/
table.tree-table tbody tr.child td:first-child {
    padding-left:25px;
    position:relative;
}
tr.child td:first-child span {
    padding-left: 37px;
    position: relative;
}
.summary-container .table > tbody > tr.child.open > td:nth-child(n), .summary-container .table > tbody > tr.parent.open > td:nth-child(n) {
    border-bottom: 1px solid #eee !important;
}
.summary-container .table > tbody > tr.parent > td:nth-child(n) {
    border-top: 1px solid #999 !important;
}
table.tree-table tbody tr.child.open td:first-child::before {
    content: " ";
    color: #ccc;
    left: 26px;
    position: absolute;
    border-color: #ccc;
    border-left-width: 1px;
    border-left-style: solid;
    top:0px;
    bottom:0px;
}
table.tree-table tbody tr.child.open td:first-child::after {
    content: " ";
    color: #ccc;
    left: 26px;
    position: absolute;
    border-color: #ccc;
    border-top-width: 1px;
    border-top-style: solid;
    top: 50%;
    width: 25px;
}
table.tree-table tbody tr.child.open.level2 td:first-child::before {
    left: 52px;
}
table.tree-table tbody tr.child.open.level2 td:first-child::after {
    left: 53px;
}
table.tree-table tbody tr.child.level2 td:first-child {
padding-left: 80px;
}
table.tree-table tbody tr.child.open td {
    background-color: aliceblue;
}
table.tree-table tbody tr td {
vertical-align: middle;
}

span.activeLabel:before, span.inActiveLabel:before {
    content: " ";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 10px 0px 0px;
    position: relative;
    top: 5px;
}
span.activeLabel:before {
    background-color: #56A024;
}
span.activeLabel:before {
    background-color: #ccc;
}

/*
tr.child.open td:first-child span::before, tr.child.open td:first-child span::after{
    content: ".";
    color: #fff;
    left: 16px;
    position: absolute;
    border-color: #ccc;
}
tr.child.open td:first-child span::before{
    border-left-width: 1px;
    border-left-style: solid;
    top: -30px;
    height: 38px;
}
tr.child.open td:first-child span::after{
    border-top-width: 1px;
    border-top-style: solid;
    top: 8px;
    width: 15px;
}*/
/******************************Footer******************************************/
.footer, .footer-main {
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
    background: #444;
    border-top: 5px solid #A2A2A2;
    color: #A2A2A2;
}
.footer {
    position: relative;
}
.footer-main {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
@media (min-width: 48.0625em) {
    .footer h2, .footer-main h2 {
    }
}
.footer h2, .footer-main h2 {
    font-family: "Gotham Medium";
    font-size: 3rem;
    line-height: 3.4rem;
    margin-right: 15px;
    display: block;
    float: left;
    clear: none;
}

.footer .footer-social, .footer-main .footer-social{
    display: block;
    float: left;
    clear: none;
    margin-bottom: 15px;
    margin-top: 20px;
}
.footer .footer-social .social, .footer-main .footer-social .social {
    -webkit-transition: background .3s ease-out;
    transition: background .3s ease-out;
    border-radius: 50%;
    background: #A2A2A2;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    margin-right: 5px;
}
.footer .footer-social .social svg, .footer-main .footer-social .social svg {
    display: inline-block;
    vertical-align: middle;
    fill: #444;
}
.footer-links {
    float: right;
    margin-top: 30px;
}
.footer-links li {
    display: inline-block;
    margin-bottom: 0;
    float: left;
    margin-left: 5px;
    font-size: .85em;
    font-family: 'Gotham Medium', sans-serif;
}
.footer-links li a {
    color: #A2A2A2;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.footer-links li:after {
    content: '|';
    margin-left: 5px;
}
.footer-links li.last:after {
    content: '';
}
.footer-links li a:hover, .footer-links li a:focus {
    color: #727272;
    text-decoration: none;
}
@media (max-width: 992px) {
    .footer-main {
        position: relative;
        margin-top: 30px;
    }
}
.table.treetable span.indenter a {
    padding-right: 0px;
}
@media(max-width: 991px){
    .badge-xs-number {
        left: 15px;
    }
}
@media(min-width: 992px){
    .badge-xs-number {
        left: 20px;
    }
}
/************************************************************************************************************************************************************************************************/
.mar-l5{
    margin-left: 5px;
}
.mar-l10{
    margin-left: 10px;
}
.mar-l15{
    margin-left: 15px;
}
.mar-l20{
    margin-left: 20px;
}
.mar-l25{
    margin-left: 25px;
}
.mar-l30{
    margin-left: 30px;
}
.mar-l35{
    margin-left: 35px;
}
.mar-l40{
    margin-left: 40px;
}
.mar-t5{
    margin-top: 5px;
}
.mar-t10{
    margin-top:-5px;
}
.mar-t15{
    margin-top: 15px;
}
.mar-t20{
    margin-top: 20px;
}
.mar--t20{
    margin-top: -20px;
}
.mar-t25{
    margin-top: 25px;
}
.mar-t30{
    margin-top: 30px;
}
.mar-t35{
    margin-top: 35px;
}
.mar-t40{
    margin-top: 40px;
}
.mar-r5{
    margin-right: 5px;
}
.mar-r10{
    margin-right: 10px;
}
.mar-r15{
    margin-right: 15px;
}
.mar-r20{
    margin-right: 20px;
}
.mar-r25{
    margin-right: 25px;
}
.mar-r30{
    margin-right: 30px;
}
.mar-r35{
    margin-right: 35px;
}
.mar-r40{
    margin-right: 40px;
}
.mar-b5{
    margin-bottom: 5px;
}
.mar-b10{
    margin-bottom: 10px !important;
}
.mar-b15{
    margin-bottom: 15px;
}
.mar-b20{
    margin-bottom: 20px;
}
.mar-b25{
    margin-bottom: 25px;
}
.mar-b30{
    margin-bottom: 30px;
}
.mar-b35{
    margin-bottom: 35px;
}
.mar-b40{
    margin-bottom: 40px;
}
.mar-t0 {
    margin-top: 0;
}
.mar-r0 {
    margin-right: 0;
}
.mar-b0 {
    margin-bottom: 0;
}
.mar-l0 {
    margin-left: 0;
}
.mar-v0{
    margin-top: 0;
    margin-bottom: 0;
}
.mar-h0{
    margin-right: 0;
    margin-left: 0;
}
.mar--t5 {
    margin-top: -5px;
}
.pad-t0 {
    padding-top: 0;
}
.pad-r0 {
    padding-right: 0;
}
.pad-b0 {
    padding-bottom: 0;
}
.pad-l0 {
    padding-left: 0;
}
.pad-v0{
    padding-top: 0;
    padding-bottom: 0;
}
.pad-h0{
    padding-right: 0;
    padding-left: 0;
}
.cMegentha {
    background-color: #d21190;
    color: #fff;
}
.cPurple {
    background-color: #675a9f;
    color: #fff;
}
.column-3{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.btn-sm-nobg{
 background:#FFF !important;
 outline:none !important;
}
.btn-rounded {
    border-radius: 50% !important;
    padding: 10px !important;
}
.btn-white {
    background-color: #fff;
    position: absolute;
    color: #000;
    right: 15px;
    width: 48px;
    height: 48px;
    top: 20px;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    box-shadow: 0px 2px 2px #ccc;
}
.btn-blue {
    background-color: #00a6eb;
    position: absolute;
    color: #fff;
    right: -50px;
    width: 32px;
    height: 32px;
    padding: 8px !important;
    top: -5px;
}
.btn-blue:hover {
    color: #fff;
    background-color: #428bca;
}
.cMegentha .btn-white {
    color: #d21190;
}
.cPurple .btn-white {
    color: #675a9f;
}
.display-card .panel-head h3{
    margin:0px;
}
.display-card .panel-head {
    padding: 10px;
    position: relative;
}
.help-block-right {
margin-top: 0px;
margin-bottom: 0px;
opacity: .8;
font-size: .9em;
}
.panel-float-text {
    float: left;
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #fff;
}
.panel-dash-voucher {
    background-color: #000;
}
.panel-dash-voucher > img {
    opacity: .7;
}
.placeholder
{
  color: #aaa;
}
.offer-applied-btn .panel-footer {
    background-color: #00adef;
}
.offer-applied-btn:hover .panel-footer, .offer-applied-btn:focus .panel-footer{
    background-color: #63CEFC;
}
 tr.highlight > td {
  	background-color: #ffe0b2 !important;
 }
 .form-inline .form-group .checkbox {
    margin-left: 8px;
 }

@media(max-width:399px) {
 .navbar-top-links > li > a, .navbar-top-links > li.open > a {
   margin-right: 4%;
}
.panel-smart .table>thead>tr>th {
    background: #f2a602;
    border-width: 0;
    height: 30px;
    padding-bottom: 0;
}
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
    background-color: #7b7b7b;
}
}
