
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="">
					   <div class="open-order-panel">
					   		<div class="col-xs-12 col-sm-8">
						   		<h4 class="mar-t15 title-header">Available stock summary</h4>
						   	</div><!--
						   	<div class="col-xs-12 col-sm-4">
		                        <a class="btn btn-link pull-right mar-t10"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-filter mar-r10"></i> Filter By <i class="fa fa-sort-desc mar-l5"></i></a>
		                    </div>
		                    <div class="row">
			                    <div class="col-sm-12">
	                                <div id="collapseOne" class="panel-collapse collapse">
	                                    <div class="panel panel-default mar-b0">
	                                        <div class="panel-body">
	                                            <div class="col-md-9">
	                                              <div class="form-group col-xs-4">
	                                                <label class="" for="exampleInputEmail2">Products</label>
	                                                <select name="" class="form-control" id="">
	                                                    <option value="0">All</option>
	                                                </select>
	                                              </div>
	                                              <div class="form-group col-xs-4">
	                                                <label class="" for="exampleInputPassword2">Quantity</label>
	                                                <select name="" class="form-control" id="">
	                                                    <option value="1-25">1 to 25</option>
	                                                </select>
	                                              </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
						   </div>-->
						   <div class="panel panel-default clear mar-t15">
						    <div class="">
						     <div class="panel-body">
							   <div class="table-responsive">
							     <table class="table table-striped table-hover">
								  <thead>
								    <tr>
									  <th  class="text-left">
									    <span class="">Products</span>
									  </th>
									  <th  class="text-right">
									    <span class="">Your stock</span>
									  </th>
									  <th  class="text-right">
									    <span class="">Stock with resellers</span>
									  </th>
									  <th  class="text-right">
									    <span class="">Ordered stock</span>
									  </th>
									</tr>
								  </thead>
								  <tbody>
								   <tr>
								     <td class="text-left">
									  Sim Standard
									 </td>
									 <td class="text-right">
									   15
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								   <tr>
								     <td class="text-left">
									  Sim nano
									 </td>
									 <td class="text-right">
									   18
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								   <tr>
								     <td class="text-left">
									  Sim Standard
									 </td>
									 <td class="text-right">
									   15
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								   <tr>
								     <td class="text-left">
									  Sim nano
									 </td>
									 <td class="text-right">
									   18
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								  </tbody>
								 </table>
							   </div>
							 </div>
							</div>
						   </div>
						   
							<div class="col-xs-12 col-sm-8">
						   		<h4 class="mar-t15 title-header">Available stock report</h4>
						   		<h5>Self</h5>
						   </div>

						   <div class="col-xs-12 col-sm-4">
						   			<!--<a class="btn btn-link pull-right mar-t10"  data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-filter mar-r10"></i> Filter By <i class="fa fa-sort-desc mar-l5"></i></a>-->
						   			<!--<a class="mar-l5 btn btn-link pull-right mar-t5"><i class="fa fa-file-excel-o fa-2x"></i></a>-->
		                    </div><!--
		                    <div class="row">
			                    <div class="col-sm-12">
	                                <div id="collapseTwo" class="panel-collapse collapse">
	                                    <div class="panel panel-default mar-b0">
	                                        <div class="panel-body">
	                                            <div class="col-md-9">
	                                              <div class="form-group col-xs-4">
	                                                <label class="" for="exampleInputEmail2">Seller</label>
	                                                <select name="" class="form-control" id="">
	                                                    <option value="0">All</option>
	                                                </select>
	                                              </div>
	                                              <div class="form-group col-xs-4">
	                                                <label class="" for="exampleInputPassword2">Products</label>
	                                                <select name="" class="form-control" id="">
	                                                    <option value="All">All</option>
	                                                </select>
	                                              </div>
	                                              <div class="form-group col-xs-4">
	                                                <label class="" for="exampleInputPassword2">Quantity</label>
	                                                <select name="" class="form-control" id="">
	                                                    <option value="1-25">1 to 25</option>
	                                                </select>
	                                              </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
						   </div>-->
						   <div class="panel panel-default clear mar-t15">
						     <div class="panel-body avlStock-rprt">
							  <div class="table-responsive">
							    <table class="table  table-bordered">
								  <thead>
								    <tr>
									  <th class="col-xs-3">
									   <!--<div class="btn-group">
									     <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Seller<span class="glyphicon glyphicon-chevron-down pull-right mar-t10"></span></a>
										 <ul class="dropdown-menu">
                                            <li><a href="#">Reseller 1</a></li>
                                            <li><a href="#">Reseller 2</a></li>
                                            <li><a href="#">Reseller 3</a></li>
											<li><a href="#">Reseller 1</a></li>
                                            <li><a href="#">Reseller 2</a></li>
                                            <li><a href="#">Reseller 3</a></li>
                                         </ul>
									   </div>-->
									   </th>
									  <th>
									   <div class="btn-group">
									    <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Category</a>
									   </div>
									  </th>
									  <th>
									   <div class="btn-group">
									    <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Product<span class="glyphicon glyphicon-chevron-down pull-right mar-t10"></span></a>
										<ul class="dropdown-menu">
                                            <li><a href="#">Reseller 1</a></li>
                                            <li><a href="#">Reseller 2</a></li>
                                            <li><a href="#">Reseller 3</a></li>
											<li><a href="#">Reseller 1</a></li>
                                            <li><a href="#">Reseller 2</a></li>
                                            <li><a href="#">Reseller 3</a></li>
                                         </ul>
									   </div>
									  </th>
									  <th>
									  <div class="btn-group">
									  <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Type</a>
									  </div>
									  </th>
									  <th><div class="btn-group">
									  <a href="#" data-toggle="dropdown" class="">Face value</a>
									  </div>
									  </th>
									  <th>
									  <div class="btn-group">
									  <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Qty<span class="glyphicon glyphicon-chevron-down pull-right mar-t10"></span></a>
									  <ul class="dropdown-menu">
                                            <li><a href="#">Reseller 1</a></li>
                                            <li><a href="#">Reseller 2</a></li>
                                            <li><a href="#">Reseller 3</a></li>
											<li><a href="#">Reseller 1</a></li>
                                            <li><a href="#">Reseller 2</a></li>
                                            <li><a href="#">Reseller 3</a></li>
                                      </ul>
									  </div>
									  </th>
									</tr>
								  </thead>
								  <tbody>
								    <tr>
									  <td rowspan="3" vertical-align="middle">Reseller 1</td>
									  <td rowspan="2" class="selected" vertical-align="middle" >SIM</td>
									  <td class="selected">
                                        UK SIM Free
                                      </td>
									  <td class="selected">
                                        UK SIM Free
                                      </td>
									  <td class="selected" align="center">
                                       0
                                      </td>
									  <td class="selected" align="center">
                                       0
                                      </td>
									  <tr>
									  <td class="selected">
                                        UK SIM  10
                                      </td>
									  <td class="selected">
                                        UK SIM  10
                                      </td>
									  <td class="selected" align="center">
                                         10
                                      </td>
									  <td class="selected" align="center">
                                         10
                                      </td>
									  </tr>
									  <tr>
									   <td>Voucher</td>
									   <td>UK 10</td>
									   <td>NA</td>
									   <td align="center">10</td>
									   <td align="center">40</td>
									  </tr>
									</tr>
									<tr>
									  <td rowspan="2">
									    Reseller 2
									  </td>
									   <td class="selected">
									    SIM
									   </td>
									   <td class="selected">
									    UK SIM Free
									   </td>
									   <td class="selected">
									    UK SIM Free
									   </td>
									   <td class="selected" align="center">
									    0
									   </td>
									   <td class="selected" align="center">
									    0
									   </td>
									  <tr>
									   <td class="selected">
									    SIM
									   </td>
									   <td class="selected">
									    UK SIM 10
									   </td>
									   <td class="selected">
									    UK SIM 10
									   </td>
									   <td class="selected" align="center">
									    10
									   </td>
									   <td class="selected" align="center">
									    10
									   </td>
									  </tr>
									</tr>
									<tr>
									 <td rowspan="2">Reseller 3</td>
									 <td>Voucher</td>
									 <td>UK SIM Free</td>
									 <td>UK SIM Free</td>
									 <td align="center">0</td>
									 <td align="center">0</td>
									 <tr class="selected">
									 <td>SIM</td>
									 <td>UK SIM 10</td>
									 <td>UK SIM 10</td>
									 <td align="center">10</td>
									 <td align="center">10</td>
									 </tr>
									</tr>
								  </tbody>
								</table>
							  </div>
							 </div>
						   </div>

						   <h4 class="mar-t15 title-header">Sub-Accounts</h4>
						   <div class="panel panel-default clear mar-t15">
						     <div class="panel-body avlStock-rprt">
							  <div class="table-responsive">
							    <table class="table  table-bordered">
								  <thead>
								    <tr>
									  <th class="col-xs-3">
									     <div class="btn-group">
											  <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Reseller<span class="glyphicon glyphicon-chevron-down pull-right mar-t10"></span></a>
											  <ul class="dropdown-menu">
		                                            <li><a href="#">Reseller 1</a></li>
		                                            <li><a href="#">Reseller 2</a></li>
		                                            <li><a href="#">Reseller 3</a></li>
													<li><a href="#">Reseller 1</a></li>
		                                            <li><a href="#">Reseller 2</a></li>
		                                            <li><a href="#">Reseller 3</a></li>
		                                      </ul>
										  </div>
									   </th>
									  <th>
									   <a href="#" data-toggle="dropdown" class="dropdown-toggle">Category</a>
									  </th>
									  <th>
									  	<div class="btn-group">
											  <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Product<span class="glyphicon glyphicon-chevron-down pull-right mar-t10"></span></a>
											  <ul class="dropdown-menu">
		                                            <li><a href="#">Reseller 1</a></li>
		                                            <li><a href="#">Reseller 2</a></li>
		                                            <li><a href="#">Reseller 3</a></li>
													<li><a href="#">Reseller 1</a></li>
		                                            <li><a href="#">Reseller 2</a></li>
		                                            <li><a href="#">Reseller 3</a></li>
		                                      </ul>
										  </div>
									  </th>
									  <th>
									  	Type
									  </th>
									  <th>
									  	Face value
									  </th>
									  <th>
									  	<div class="btn-group">
											  <a href="#" data-toggle="dropdown" class="dropdown-toggle ">Qty<span class="glyphicon glyphicon-chevron-down pull-right mar-t10"></span></a>
											  <ul class="dropdown-menu">
		                                            <li><a href="#">Reseller 1</a></li>
		                                            <li><a href="#">Reseller 2</a></li>
		                                            <li><a href="#">Reseller 3</a></li>
													<li><a href="#">Reseller 1</a></li>
		                                            <li><a href="#">Reseller 2</a></li>
		                                            <li><a href="#">Reseller 3</a></li>
		                                      </ul>
										  </div>
									  </th>
									</tr>
								  </thead>
								  <tbody>
								    <tr>
									  <td rowspan="3" vertical-align="middle">Reseller 1</td>
									  <td rowspan="2" class="selected" vertical-align="middle" >SIM</td>
									  <td class="selected">
                                        UK SIM Free
                                      </td>
									  <td class="selected">
                                        UK SIM Free
                                      </td>
									  <td class="selected" align="center">
                                       0
                                      </td>
									  <td class="selected" align="center">
                                       0
                                      </td>
									  <tr>
									  <td class="selected">
                                        UK SIM  10
                                      </td>
									  <td class="selected">
                                        UK SIM  10
                                      </td>
									  <td class="selected" align="center">
                                         10
                                      </td>
									  <td class="selected" align="center">
                                         10
                                      </td>
									  </tr>
									  <tr>
									   <td>Voucher</td>
									   <td>UK 10</td>
									   <td>NA</td>
									   <td align="center">10</td>
									   <td align="center">40</td>
									  </tr>
									</tr>
									<tr>
									  <td rowspan="2">
									    Reseller 2
									  </td>
									   <td class="selected">
									    SIM
									   </td>
									   <td class="selected">
									    UK SIM Free
									   </td>
									   <td class="selected">
									    UK SIM Free
									   </td>
									   <td class="selected" align="center">
									    0
									   </td>
									   <td class="selected" align="center">
									    0
									   </td>
									  <tr>
									   <td class="selected">
									    SIM
									   </td>
									   <td class="selected">
									    UK SIM 10
									   </td>
									   <td class="selected">
									    UK SIM 10
									   </td>
									   <td class="selected" align="center">
									    10
									   </td>
									   <td class="selected" align="center">
									    10
									   </td>
									  </tr>
									</tr>
									<tr>
									 <td rowspan="2">Reseller 3</td>
									 <td>Voucher</td>
									 <td>UK SIM Free</td>
									 <td>UK SIM Free</td>
									 <td align="center">0</td>
									 <td align="center">0</td>
									 <tr class="selected">
									 <td>SIM</td>
									 <td>UK SIM 10</td>
									 <td>UK SIM 10</td>
									 <td align="center">10</td>
									 <td align="center">10</td>
									 </tr>
									</tr>
								  </tbody>
								</table>
							  </div>
							 </div>
						   </div>
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
  </script>