
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">
                            <!--
                            <ul class="breadcrumb">
                                <li><a href="">Sub-Accounts</a></li>
                                <li class="active">Profile</li>
                            </ul>
                            -->
                            <h4>User Profile</h4>
						   <div class="panel panel-default">
						     <div class="panel-body account-details"><!--
							  <div class="user-card mar-l10 col-sm-2 clearfix">
							    <img src="images/52.jpg" class="img-circle" width="90"></img>
								<h4>Shantanu</h4>
							  </div>-->
							  <hr class="visible-xs">
							  <div class="col-sm-12 mar-l15 profile-card">
								  <div class="col-sm-4">
								    <p class="text-uppercase mar-b5">role</p>
									<h4 class="mar-t0">Sub-Wholesaler</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
								    <p class="text-uppercase mar-b5">account name</p>
									<h4 class="mar-t0">Shantanu</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
								    <p class="text-uppercase mar-b5">userr id</p>
									<h4 class="mar-t0">Shantanu982</h4>
								  </div>
								  <hr class="visible-xs col-xs-12">
								  <div class="col-sm-4 col-xs-9">
									<p class="text-uppercase mar-b5">address</p>
									<h4 class="mar-t0">C4, CoolTech Park</h4>
								  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class="text-uppercase mar-b5">Phone</p>
									<h4 class="mar-t0">+4412457845</h4>
								  </div>
                                  <div class="col-sm-4 col-xs-9">
                                    <p class="text-uppercase mar-b5">Email Id</p>
                                    <h4 class="mar-t0">johnp@aditi.com</h4>
                                  </div>
								  <div class="col-sm-4 col-xs-9">
									<p class="text-uppercase mar-b5">phone</p>
									<h4 class="mar-t0">+4412457845</h4>
									<div class="clear"></div>
								  </div>
								  <div class="clearfix"></div>

								  	<!--<div id="collapseChangePassword" class="panel-collapse collapse clearfix">-->
								  	<div id="" class="panel-collapse collapse collapseChangePassword clearfix">
                                        <h3 class="h4">Reset Password</h3>
								  		<hr class="mar-t0">
								  		<div class="col-xs-12 col-sm-7">
		                                  <div class="form-group">
		                                    <label class="" for="exampleInputPassword2">Enter New Password</label>
		                                    <input type="password" class="form-control" />
		                                    <p class="help-block">Password should be minimum of 6 charector</p>
		                                  </div>
		                                  <div class="form-group">
		                                    <label class="" for="exampleInputPassword2">Confirm New Password</label>
		                                    <input type="password" class="form-control" />
		                                    <p class="help-block">This should exactly same as new password</p>
		                                  </div>
		                                </div>
		                            </div><!--
								  <div class="col-xs-12 mar-t10">
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChangePassword" class="btn btn-warning btn-changepassword mar-r5 mar-b10">Reset Password</a>
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChangePassword" class="btn btn-warning btn-savepassword mar-r5 mar-b10" style="display:none;">Reset Password</a>
									  <a data-toggle="collapse" data-parent="#accordion" href="#collapseChangePassword" class="btn btn-default btn-cancelpassword mar-r5 mar-b10" style="display:none;">Cancel</a>
									  <a href="#" class="btn btn-inverse btn-editprofile mar-b10">Deactivate Account</a>
								  </div>-->
							  </div>
							 </div>
						   </div>
                           <!--
						   <h4 class="mar-t15">Sales Performance</h4>
						   <div class="panel panel-default">
						     <div class="panel-body">
						     	<h4>Gross Activation (GA)</h4>
						     	<div class="text-center">
						     		<img src="images/chart.jpg" class="img-responsive" alt="">
						     	</div>
							 </div>
						   </div>
                           <div class="row">
                               <div class="col-xs-12 col-sm-8">
    						        <h4 class="mar-t15">Child Accounts</h4>
                               </div>
                               <div class="col-xs-12 col-sm-4">
                                    <a class="btn btn-link pull-right mar-r5"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-filter mar-r10"></i> Filter By <i class="fa fa-sort-desc mar-l5"></i></a>
                               </div>
                           </div>
                           <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-9">
                                          <div class="form-group col-xs-4">
                                            <label class="" for="exampleInputEmail2">Role</label>
                                            <select name="" class="form-control" id="">
                                                <option value="0">All</option>
                                            </select>
                                          </div>
                                          <div class="form-group col-xs-4">
                                            <label class="" for="exampleInputPassword2">City</label>
                                            <select name="" class="form-control" id="">
                                                <option value="london">London</option>
                                            </select>
                                          </div>
                                          <div class="form-group col-xs-4">
                                            <label class="" for="exampleInputPassword2">Status</label>
                                            <select name="" class="form-control" id="">
                                                <option value="all">All</option>
                                            </select>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
						   <div class="panel panel-default">
						     <div class="panel-body child-account">
                                <p class="panel-muted">List of Child Accounts created under Shantanu Singh</p>
							   <div class="table-responsive">
                                    <table class="table payment-summary-table table-bordered table-striped table-hover tree-table">
                                        <thead>
                                            <tr>
                                                <th class="">
                                                    <span class="text-uppercase">Name</span>
                                                </th>   
                                                <th class="text-uppercase">
                                                    <span class="text-uppercase">Role</span>
                                                </th>                        
                                                <th class="text-uppercase">
                                                    <span class="text-uppercase">Phone</span>
                                                </th>
                                                <th class="text-uppercase">
                                                    <span class="text-uppercase">City</span>
                                                </th>
                                                <th class="text-uppercase">
                                                    <span class="text-uppercase">Action</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr class="child">
                                                <td class="text-left">
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="text-uppercase">
                                                   <i class="fa fa-lock"></i> Deactivate
                                                </td>
                                            </tr>
                                            <tr class="child">
                                                <td class="text-left">
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="text-uppercase">
                                                   <i class="fa fa-lock"></i> Deactivate
                                                </td>
                                            </tr>
                                            <tr class="child">
                                                <td class="text-left">
                                                   <span>Sudheer R</span>
                                                </td>
                                                <td class="text-left">
                                                   Sub Wholesaler
                                                </td>  
                                                <td class="text-left">
                                                    9845040840
                                                </td>                       
                                                <td class="text-left">
                                                    London
                                                </td>
                                                <td class="text-uppercase">
                                                   <i class="fa fa-lock"></i> Deactivate
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>   
                                </div> 
							 </div>
						   </div>-->
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
  </script>