
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <div class="">
						   		<h4>You have successfully created an account for </h4>
								<h3 class="mar-t0">Sub-Wholesaler Nirmal Networks</h3>
							</div>
						   <div class="panel panel-default mar-t20">
						     <div class="panel-body">
								<h4>Nirmal Networks can login to this portal using following credential</h4>
								<div class="well well-sm col-sm-5">
									<h4><span class="">User ID:</span> <strong>Youraccout_Nimalnet</strong></h4>
									<h4><span class="">Password:</span> 324XHAG</h4>
								</div>
								<p class="clear"><i class="fa fa-envelope mar-r20"></i>An email with sub-account details has been sent to <a href=""><strong>youraccount@mail.com</strong></a> and 
								<a href=""><strong>nirmal_networks@gmail.com</strong></a></p>
								<hr>
								<p><a href=""><i class="fa fa-link mar-r5"></i>Click Here</a> to view the profile of Nirmal Networks</p>
							 </div>
						   </div>
						   
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
	
  </script>
