
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
				<div class="row">
	                <div class="col-xs-12 col-md-9 col-md-push-3 products">
						<div class="row">
					   		<div class="panel-body order-summary open-order-panel">
						     	<div class="panel panel-default">
						     		<div class="panel-body">
						     			<h4>Done!</h4>
						     			<p>Below stock has been successfully allocated to</p>
						     			<p><strong>Sudha Mobile Communication.</strong></p>
						     		</div>
						     	</div>
					   		</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<div class="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
	$('.header').load("header.html");
	$('.footer').load("footer.html");

</script>