
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <div class="col-sm-12">
							 <h4 class="mar-t15">Open Orders</h4>
							 <div class="col-sm-12">
							 
							   <div class="panel panel-default">
							    <div class="panel-body  summary-container">
								   <button class="btn  btn-lg btn-block btn-sm-nobg" data-toggle="collapse" data-target="#openOrderSummary"><span class="fa arrow"></span><h5>Open Orders Summary</h5></button>

								   <div id="openOrderSummary" class="collapse in">
								   <p>
								   Your open orders comprises following items to deliver to you. <br>
								   The summary does not include, reject or cancelled orders.
								  </p>
								  <table class="table  payment-summary-table">
								   <thead>
								    <tr>
									  <th class="col-xs-1 col-sm-1 text-left">PRODUCT</td>
									  <th class="col-xs-1 col-sm-1 text-left">QUANTITY</td>
									  <th class="col-xs-6 col-sm-2 text-left">INCLUDED IN</td>
									</tr>
								   </thead>
								   <tbody>
								     <tr>
									   <td class="col-xs-1 col-sm-1 text-left">UK SIM 10 -Micro</td>
									   <td class="col-xs-1 col-sm-1 text-left">5000</td>
									   <td class="col-xs-6 col-sm-2 text-left">105-1411289-4737803, 105-1411289-4737803, 105-1411289-4737803</td>
									 </tr>
									 <tr>
									   <td class="col-xs-1 col-sm-1 text-left">UK SIM 10 -Nano</td>
									   <td class="col-xs-1 col-sm-1 text-left">3000</td>
									   <td class="col-xs-6 col-sm-2 text-left">105-1411289-4737803, 105-1411289-4737803</td>
									 </tr>
								   </tbody>
								  </table>
								</div>
								</div>
							   </div>
							   
							   <div class="panel panel-default">
							    <div class="panel-body">
								   <h5 class="pull-left">Open order List <i>(4 orders)</i></h5>
									<div class="col-sm-4 col-lg-3 pull-right">
										<select name="" id="" class="form-control">
											<option value="">All</option>
											<option value="">In Progress</option>
										</select>
									</div>
								  <table class="table table-condensed cf">
								   <thead>
								    <tr>
									  <th class="col-sm-2 text-left">ORDER STATUS</th>
									  <th class="col-sm-2 text-left">PLACED ON</th>
									  <th class="col-sm-2 text-left">TOTAL</th>
									  <th class="col-sm-2 text-left">SHIP TO</th>
									  <th class="col-sm-3 text-left">ORDER #</th>
									  <th class="col-sm-1 text-left">ACTION</th>
									</tr>
								   </thead>
								   <tbody>
								     <tr>
									   <td>In Process</td>
									   <td>Sept 22, 2014</td>
									   <td>&#163;15000.00</td>
									   <td>Raj radio House #4, Church Street</td>
									   <td><a href="open_order_summary.html">105-1411289-4737803</a></td>
									   <td><a href="#" class="btn btn-warning">Cancel</a></td>
									 </tr>
									 <tr  class="warning">
									  <td>Cancelled</td>
									   <td>Sept 22, 2014</td>
									   <td>&#163;15000.00</td>
									   <td>Raj radio House</td>
									   <td><a href="open_order_summary.html">105-1411289-4737803</a></td>
									   <td></td>
									 </tr>
									 <tr>
									   <td>In Process</td>
									   <td>Sept 22, 2014</td>
									   <td>&#163;15000.00</td>
									   <td>Raj radio House #4, Church Street</td>
									   <td><a href="open_order_summary.html">105-1411289-4737803</a></td>
									   <td><a href="#" class="btn btn-warning">Cancel</a></td>
									 </tr>
									 <tr>
									   <td>In Process</td>
									   <td>Sept 22, 2014</td>
									   <td>&#163;15000.00</td>
									   <td>Raj radio House #4, Church Street</td>
									   <td><a href="open_order_summary.html">105-1411289-4737803</a></td>
									   <td><a href="#" class="btn btn-warning">Cancel</a></td>
									 </tr>
								   </tbody>
								  </table>
								</div>
							   </div>
							   
							 </div>
						   </div>

					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
  </script>