
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
          <div class="payment-panel">
        			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-md-push-3 products">
                <div class="order-flow">
                      <ul>
                          <li class="">
                              <a href="view-cart.html">
                                  <span class="label">
                                      <i class="fa fa-shopping-cart fa-2x"></i>
                                  </span>
                                  <span class="span-pad-t5">YOUR CART</span>
                              </a>
                          </li>
                          <li class="">
                              <a href="shipping.html">
                                  <span class="label">
                                      <i class="fa fa-truck fa-2x"></i>
                                  </span>
                                  <span class="span-pad-t5">SHIPPING</span>
                              </a>
                          </li>
                          <li class="active">
                              <a href="Payment.html">
                                  <span class="label">
                                      <i class="fa fa-credit-card fa-2x"></i>
                                  </span>
                                  <span class="span-pad-t5">PAYMENT</span>
                              </a>
                          </li>
                          <li>
                              <a href="order-summary.html">
                                  <span class="label">
                                      <i class="fa fa-check-square-o fa-2x"></i>
                                  </span>
                                  <span>ORDER SUMMARY</span>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="clearfix mar-t20"></div>
                  <div class="col-xs-12">
                  <h4><strong>Select Payment Mode</strong></h4>

                  <div class="panel-group mar-t20" id="accordion">
                    <div class="panel panel-default">
                      <a data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed" href="#offlinePayment">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Offline Payment
                            </h4>
                        </div>
                      </a>
                      <div id="offlinePayment" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="row">
                            <form action="#" class="col-xs-12 col-sm-9" role="form">
                              <div class="form-group">
                                  <p class="form-control-static">Please select Confirm to complete the order</p>
                              </div>
                              <div class="form-group">
                                <a class="btn btn-warning" href="order-summary.html">Confirm</a>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default panel-mar-t15">
                      <a data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed" href="#creditCard">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Credit Card
                            </h4>
                        </div>
                      </a>
                      <div id="creditCard" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>Pay using Credit Card</p>
                          <div class="row">
                            <form action="#" class="col-xs-12 col-sm-9" role="form">
                              <p class="help-block">Support Cards</p>
                              <div class="bg-primary-card row">
                                <div class="col-xs-12">
                                  <h4>Fill in the payment details</h4>
                                </div>
                                <div class="form-row">
                                  <div class="col-xs-12 form-group required">
                                    <label class="control-label">Name on Card</label>
                                    <input class="form-control" size="4" type="text">
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="col-xs-12 form-group card required">
                                    <label class="control-label">Card Number</label>
                                    <input autocomplete="off" class="form-control card-number" size="20" type="text">
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="col-xs-5 form-group expiration required">
                                    <label class="control-label">Expiration Date</label>
                                    <input class="form-control card-expiry-month" placeholder="MM/YY" size="5" type="text">
                                  </div>
                                 
                                  <div class="col-xs-4 form-group cvc required">
                                    <label class="control-label">CVC</label>
                                    <input autocomplete="off" class="form-control card-cvc" placeholder="" size="4" type="text">
                                  </div>
                                </div>
                              </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox"> Save this card for Faster Payment
                                      </label>
                                    </div>
                                </div>
                              <div class="form-group">
                                <a class="btn btn-warning" href="order-summary.html">Pay and Confirm</a>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--
                    <div class="panel panel-default panel-mar-t15">

                      <a data-toggle="collapse" data-parent="#accordion" class="accordion-toggle collapsed" href="#bankTransfer">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Bank Transfer
                            </h4>
                        </div>
                      </a>
                      <div id="bankTransfer" class="panel-collapse collapse">
                        <div class="panel-body">
                          
                        </div>
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-3 col-md-push-3 mar-t20 hidden-xs">
                  <div class="panel panel-default panel-lebara">
                        <div class="panel-heading">
                            <div class="row">
                                <div class=" col-xs-10">
                                    <h5><i class="fa fa-shopping-cart mar-r10"></i> <strong>Shipping Details</strong></h5>
                                </div>
                                <button type="button" class="close mar-r10 edit btn btn-link"><span aria-hidden="true"><i class="fa fa-pencil"></i></span><span class="sr-only">Edit</span></button>
                            </div>
                          </div>
                                <div class="panel-body">
                                   <div class="retailer-address mar-t10">
                                      <p class="name"><strong>Marvin J. Converse</strong></p>
                                      <p>Monk House <br />88 Warner Close, <br />HASTIGROW <br />KW1 6BA</p>
                                      <p>Phone: 070 1735 7171</p>
                                  </div>
                                </div>
                            </div>
                        
                      
                            <div class="panel panel-default panel-lebara">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class=" col-xs-10">
                                            <h5><i class="fa fa-shopping-cart mar-r10"></i> <strong>Cart Summary</strong></h5>
                                        </div>
                                        <button type="button" class="close mar-r10 edit btn btn-link"><span aria-hidden="true"><i class="fa fa-pencil"></i></span><span class="sr-only">Edit</span></button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-cart">
                                        <thead>
                                            <tr>
                                                <th>PRODUCTS</th>
                                                <th class="text-right">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>&#163;10 Sim - Micro</strong><br/><span class="small">Qty: 1 x 20</span></td>
                                                <td class="text-right">&#163;150.00</td>
                                            </tr>

                                            <tr>
                                                <td><strong>&#163;10 Sim - Nano</strong><br/><span class="small">Qty: 1 x 20</span></td>
                                                <td class="text-right">&#163;150.00</td>
                                            </tr>
                                            <tr>
                                                <td><strong>&#163;10 Sim - Nano</strong><br/><span class="small">Qty: 1 x 20</span></td>
                                                <td class="text-right">&#163;150.00</td>
                                            </tr>
                                        </tbody>
                                        
                                        <tfoot class="text-right">
                                            <tr>
                                                <td>July FTC (#181) :</td>
                                                <td class="text-right"><strong>- &#163;100.00</strong></td>
                                            </tr>
                                            <tr>
                                                <td>August FTC (#222) :</td>
                                                <td class="text-right"><strong>- &#163;100.00</strong></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot class="text-right">
                                            <tr>
                                                <td>Subtotal:</td>
                                                <td class="text-right  color-00ADEF"><strong>&#163;450.00</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Offer Applied: Buy 50 Get 50 Free :</td>
                                                <td class="text-right"><strong>- &#163;50.00</strong></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot class="text-right">
                                            <tr>
                                                <td>
                                                    Subtotal After Offer
                                                </td>
                                                <td class="text-right  color-00ADEF">
                                                    &#163;400.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tax:</td>
                                                <td class="text-right"><strong>&#163;50.00</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <table class="table">
                                        <tbody class="text-right">
                                            <tr>
                                                <td colspan="2" class="text-right">Amount Payable</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-right color-00ADEF"><h4 class="total-price"><strong>&#163;300.00</strong></h4></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                       
              </div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
  </script>
  <script>
    $('.footer').load("footer.html");
  </script>
