
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="shipping-panel">
                        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-md-push-3 products">

                            <div class="order-flow">
                                <ul>
                                    <li class="">
                                        <a href="view-cart.html">
                                            <span class="label">
                                                <i class="fa fa-shopping-cart fa-2x"></i>
                                            </span>
                                            <span class="span-pad-t5">YOUR CART</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="shipping.html">
                                            <span class="label">
                                                <i class="fa fa-truck fa-2x"></i>
                                            </span>
                                            <span class="span-pad-t5">SHIPPING</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="Payment.html">
                                            <span class="label">
                                                <i class="fa fa-credit-card fa-2x"></i>
                                            </span>
                                            <span class="span-pad-t5">PAYMENT</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="order-summary.html">
                                            <span class="label">
                                                <i class="fa fa-check-square-o fa-2x"></i>
                                            </span>
                                            <span>ORDER SUMMARY</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mar-t30">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-default shipping-name-panel" id="shipping-name-panel">
                                      <div class="panel-body">
                                        <div class="">
                                            <h5 class="name"><strong>Marvin J. Converse</strong></h5>
                                            <p class="address-content">Monk House<br/> 88 Warner Close,<br/> HASTIGROW <br/>
                                            KW1 6BA</p>
                                             
                                            <h5 class="mar-b0">Phone</h5>
                                            <p class="mar-t0">070 1735 7171</p>
                                            <a href="" class="btn btn-shipping"><i class="fa fa-pencil mar-r5"></i> Edit</a>
                                            <a href="" class="btn btn-shipping"><i class="fa fa-trash-o mar-r5"></i> Delete</a>
                                        </div>
                                      </div>
                                      <a href="Payment.html" class="bg-warning bg-warning-btn">
                                          <div class="panel-footer">
                                            <p class="text-center">Deliver To This Address</p>
                                          </div>
                                      </a>
                                    </div>
                                </div><!--
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-default shipping-name-panel" id="shipping-name-panel">
                                      <div class="panel-body">
                                        <div class="">
                                            <h5 class="name"><strong>Marvin J. Converse</strong></h5>
                                            <p class="address-content">Monk House<br /> 88 Warner Close,<br/> HASTIGROW<br/>
                                            KW1 6BA</p>
                                             
                                            <h5 class="mar-b0">Phone</h5>
                                            <p class="mar-t0">070 1735 7171</p>
                                            <a href="" class="btn btn-shipping"><i class="fa fa-pencil mar-r5"></i> Edit</a>
                                            <a href="" class="btn btn-shipping"><i class="fa fa-trash-o mar-r5"></i> Delete</a>
                                        </div>
                                      </div>
                                      <a href="Payment.html" class="bg-warning bg-warning-btn">
                                          <div class="panel-footer">
                                            <p class="text-center">Deliver To This Address</p>
                                          </div>
                                      </a>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="panel panel-default" id="shipping-name-panel">

                                        <div class="panel-body pad-b0"><p class="lead-new-address">Add New Delivery Address</p></div>
                                        <a href="#" class="add-address-card text-muted collapsed shipping-name-panel-event-up" data-toggle="collapse" data-target=".navbar-example">
                                          <div class="panel-body pad-v0">
                                            <div class="retailer-address new-address-popup">
                                                <p class="col-xs-12"></p>
                                                <p class="col-xs-12"></p>
                                                <p class="col-xs-12"></p>
                                            </div>
                                          </div>
                                        </a>
                                        <div class="panel-body">
                                          <div class="navbar-example collapse">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="inputFname" placeholder="Full Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="inputAddress1" placeholder="Address/1">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="inputAddress2" placeholder="Address/2">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="inputCity" placeholder="City">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="inputPostCode" placeholder="Postal Code">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <select class="form-control" id="inputCountry1">
                                                                <option>- All Countries -</option>
                                                                <option>India</option>
                                                                <option>USA</option>
                                                                <option>UK</option>
                                                                <option>China</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-warning">
                                                                Save and Deliver
                                                            </button>
                                                            <button type="button" class="btn btn-default shipping-name-panel-event-down" data-toggle="collapse" data-target=".navbar-example">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-lg-3 col-md-push-3 mar-t20 hidden-xs">
                            <div class="row">
                            <div class="panel panel-default panel-lebara">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class=" col-xs-10">
                                            <h5><i class="fa fa-shopping-cart mar-r10"></i> <strong>Cart Summary</strong></h5>
                                        </div>
                                        <button type="button" class="close mar-r10 edit btn btn-link"><span aria-hidden="true"><i class="fa fa-pencil"></i></span><span class="sr-only">Edit</span></button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-cart">
                                        <thead>
                                            <tr>
                                                <th>PRODUCTS</th>
                                                <th class="text-right">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>&#163;10 Sim - Micro</strong><br/><span class="small">Qty: 1 x 20</span></td>
                                                <td class="text-right">&#163;150.00</td>
                                            </tr>

                                            <tr>
                                                <td><strong>&#163;10 Sim - Nano</strong><br/><span class="small">Qty: 1 x 20</span></td>
                                                <td class="text-right">&#163;150.00</td>
                                            </tr>
                                            <tr>
                                                <td><strong>&#163;10 Sim - Nano</strong><br/><span class="small">Qty: 1 x 20</span></td>
                                                <td class="text-right">&#163;150.00</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="text-right">
                                            <tr>
                                                <td>July FTC (#181) :</td>
                                                <td class="text-right"><strong>- &#163;100.00</strong></td>
                                            </tr>
                                            <tr>
                                                <td>August FTC (#222) :</td>
                                                <td class="text-right"><strong>- &#163;100.00</strong></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot class="text-right">
                                            <tr>
                                                <td>Subtotal:</td>
                                                <td class="text-right  color-00ADEF"><strong>&#163;450.00</strong></td>
                                            </tr>
                                            <tr>
                                                <td>Offer Applied: Buy 50 Get 50 Free :</td>
                                                <td class="text-right"><strong>- &#163;50.00</strong></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot class="text-right">
                                            <tr>
                                                <td>
                                                    Subtotal After Offer
                                                </td>
                                                <td class="text-right  color-00ADEF">
                                                    &#163;400.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tax:</td>
                                                <td class="text-right"><strong>&#163;50.00</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="panel-footer">
                                    <table class="table table-cart">
                                        <tbody class="text-right">
                                            <tr>
                                                <td colspan="2" class="text-right">Amount Payable</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-right color-00ADEF"><h4 class="total-price"><strong>&#163;250.00</strong></h4></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
  </script>
  <script>
    $('.footer').load("footer.html");
  </script>