
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-sm-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <h4 class="mar-t0">New SIM Registration</h4>
						   <p>The activation process can take up to a minute. Please do not press any button on your browser or close the window</p>
						   <div class="mar-t25 note">
						    <p>Note: All Fileld marked with * are necessary</p>
						   </div>
						   <div class="panel panel-default">
						     <div class="panel-body">
						     	<form class="form-horizontal" role="form">

						     	  <div class="form-group">
								    <label for="" class="col-sm-4 control-label">10 digit code*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder=" ">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-4 control-label">PUK Code*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder=" ">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-4 control-label">Name*</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-4 control-label">Last Name / Surname* </label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder="">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-4 control-label">Citizenship / Nationality* </label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder=" ">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="subacInputEmail" class="col-sm-4 control-label">Document Type / ID Type:</label>
								    <div class="col-sm-5">
								    	<select class="form-control">
										 <option></option>
										</select>
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-4 control-label">ID Card /ID* DNI/NIE/CIF/Passport </label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder=" ">
								    </div>
								  </div>
								  <div class="form-group">
								    <label for="" class="col-sm-4 control-label">Please insert your USER (Mobile number) <a href="#">Lebara rewards you</a> for the points here:</label>
								    <div class="col-sm-5">
								      <input type="text" class="form-control" id="" placeholder=" ">
								    </div>
								  </div>

								  <div class="form-group">
								    <div class="col-sm-offset-1 col-sm-10">
								      <div class="checkbox">
								        <label class="text-muted">
								          <input type="checkbox"> I declare that the information inserted through this website exactly matches the document evidencing the personality that has been shown me by the holder thereof in person and information provided by him through the Information Request Form. / I Hereby Declare That the registered information-through this website coincides With The identification document Exactly Which Was Presented to me by ITS holder in person and With The holder Such information provided by the Identification Form-through.
								        </label>
								      </div>
								    </div>
								  </div>
								  <div class="form-group">
								    <div class="col-sm-offset-4 col-sm-10">
								      <a href="" class="btn btn-warning mar-r5">Register</a>
								      <button type="button" class="btn btn-default cancelbtn">Cancel</button>
								    </div>
								  </div>
								</form>
							 </div>
						   </div>
						   <p class="text-muted"> <small>Please note that once the registration procedure cumplimentes, your data will become part of the Record Book Lebara Customers who manages enforcement Conservation Data 25/2007. Lebara to assign this data when fulfilling their purpose they are required by the Security Forces and authorized agents. We also inform you that if you request the inclusion of your data in subscriber directories, Lebara transmit these data to the Commission's Telecommunications Market, so that it can make them available to institutions to develop guides and entities that provide information or consultation services. Similarly, you can request that your information not included in the above guides or services. You can exercise your rights of access, rectification, cancellation and opposition to Lebara Mobile in writing to PO Box 48052, 28020 Madrid, or by sending an email to: datospersonales@lebara-movil.es.</small></p>
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	  
	  $('.cancelbtn').click(function(){
	    window.location="http://localhost:86/sim-registration-master.html";
	  })
	})
	
  </script>