
<div class="header"></div>
        <div id="page-wrapper">
           
            <div class="container content-body">
           
            
			<div class="row">
                <div class="col-xs-12 col-md-9 col-md-push-3 products">
					<div class="row">
					   <div class="panel-body order-summary open-order-panel">

						   <h4 class="mar-t15">Available Stock Summary</h4>
						   
						   <div class="panel panel-default mar-t15">
						    <div class="panel panel-default">
						     <div class="panel-body avlStock-sum">
							   <div class="table-responsive">
							     <table class="table   table-striped table-hover">
								  <thead>
								    <tr>
									  <th  class="text-left">
									    <span class="text-uppercase">Products</span>
									  </th>
									  <th  class="text-right">
									    <span class="text-uppercase">your stock</span>
									  </th>
									  <th  class="text-right">
									    <span class="text-uppercase">stock with resellers</span>
									  </th>
									  <th  class="text-right">
									    <span class="text-uppercase">ordered stock</span>
									  </th>
									</tr>
								  </thead>
								  <tbody>
								   <tr>
								     <td class="text-left">
									  Sim Standard
									 </td>
									 <td class="text-right">
									   15
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								   <tr>
								     <td class="text-left">
									  Sim nano
									 </td>
									 <td class="text-right">
									   18
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								   <tr>
								     <td class="text-left">
									  Sim Standard
									 </td>
									 <td class="text-right">
									   15
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								   <tr>
								     <td class="text-left">
									  Sim nano
									 </td>
									 <td class="text-right">
									   18
									 </td>
									 <td class="text-right">
									   10
									 </td>
									 <td class="text-right">
									   50
									 </td>
								   </tr>
								  </tbody>
								 </table>
							   </div>
							 </div>
							</div>
						   </div>
						   

						   <h4 class="mar-t15">Available Stock Report</h4>
						   <a class="xcel-icon">&nbsp;</a>
						   <div class="panel panel-default mar-t15">
						     <div class="panel-body avlStock-rprt">
							  <div class="table-responsive">
							    <table class="table  table-bordered">
								  <thead>
								    <tr>
									  <th>
									   <div class="btn-group">
									     <a href="#" data-toggle="dropdown" class="dropdown-toggle text-uppercase">seller<span class="glyphicon glyphicon-chevron-down"></span></a>
										 <ul class="dropdown-menu">
                                            <li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
											<li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
                                         </ul>
									   </div>
									   </th>
									  <th>
									   <div class="btn-group">
									    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-uppercase">category<span class="glyphicon glyphicon-chevron-down"></span></a>
										<ul class="dropdown-menu">
                                            <li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
											<li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
                                         </ul>
									   </div>
									  </th>
									  <th>
									   <div class="btn-group">
									    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-uppercase">product<span class="glyphicon glyphicon-chevron-down"></span></a>
										<ul class="dropdown-menu">
                                            <li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
											<li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
                                         </ul>
									   </div>
									  </th>
									  <th>
									  <div class="btn-group">
									  <a href="#" data-toggle="dropdown" class="dropdown-toggle text-uppercase">type<span class="glyphicon glyphicon-chevron-down"></span></a>
									  <ul class="dropdown-menu">
                                            <li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
											<li><a href="#">reseller 1</a></li>
                                            <li><a href="#">reseller 2</a></li>
                                            <li><a href="#">reseller 3</a></li>
                                      </ul>
									  </div>
									  </th>
									  <th><div class="btn-group">
									  <a href="#" data-toggle="dropdown" class="text-uppercase">face value</a>
									  </div>
									  </th>
									  <th>
									  <div class="btn-group">
									  <a href="#"  class="text-uppercase">qty</span></a>
									  </div>
									  </th>
									</tr>
								  </thead>
								  <tbody>
								    <tr>
									  <td rowspan="3" vertical-align="middle">RESLLER 1</td>
									  <td rowspan="2" class="selected" vertical-align="middle" >SIM</td>
									  <td class="selected">
                                        UK SIM FREE
                                      </td>
									  <td class="selected">
                                        UK SIM FREE
                                      </td>
									  <td class="selected" align="center">
                                       0
                                      </td>
									  <td class="selected" align="center">
                                       0
                                      </td>
									  <tr>
									  <td class="selected">
                                        UK SIM  10
                                      </td>
									  <td class="selected">
                                        UK SIM  10
                                      </td>
									  <td class="selected" align="center">
                                         10
                                      </td>
									  <td class="selected" align="center">
                                         10
                                      </td>
									  </tr>
									  <tr>
									   <td>Voucher</td>
									   <td>UK 10</td>
									   <td>NA</td>
									   <td align="center">10</td>
									   <td align="center">40</td>
									  </tr>
									</tr>
									<tr>
									  <td rowspan="2">
									    RESELLER 2
									  </td>
									   <td class="selected">
									    SIM
									   </td>
									   <td class="selected">
									    UK SIM FREE
									   </td>
									   <td class="selected">
									    UK SIM FREE
									   </td>
									   <td class="selected" align="center">
									    0
									   </td>
									   <td class="selected" align="center">
									    0
									   </td>
									  <tr>
									   <td class="selected">
									    SIM
									   </td>
									   <td class="selected">
									    UK SIM 10
									   </td>
									   <td class="selected">
									    UK SIM 10
									   </td>
									   <td class="selected" align="center">
									    10
									   </td>
									   <td class="selected" align="center">
									    10
									   </td>
									  </tr>
									</tr>
									<tr>
									 <td rowspan="2">RESELLER 3</td>
									 <td>Voucher</td>
									 <td>UK SIM FREE</td>
									 <td>UK SIM FREE</td>
									 <td align="center">0</td>
									 <td align="center">0</td>
									 <tr class="selected">
									 <td>SIM</td>
									 <td>UK SIM 10</td>
									 <td>UK SIM 10</td>
									 <td align="center">10</td>
									 <td align="center">10</td>
									 </tr>
									</tr>
								  </tbody>
								</table>
							  </div>
							 </div>
						   </div>
					   </div>
					</div>
    			</div>	
		    </div>
            <!-- /.row -->
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		</div>
    </div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	
	$(document).ready(function(){
	  setTimeout(function(){$('.user-card:eq(0)').hide();}, 50);
	})
	
  </script>