
<div class="header"></div>
<div id="page-wrapper">
	<div class="container content-body">
		<div class="row">
	        <div class="col-xs-12 col-md-9 col-md-push-3 products">
				<div class="row">
					   <div class="col-sm-8">
							<h4 class="mar-t15">Top-Up</h4>
							<div class="">
							   <div class="panel panel-default">
								    <div class="panel-body top-up-panel">
									   <!-- code for drop down and text box -->
									   <div class="row dropDtextBlabel">
									     <div class="col-xs-4 col-sm-2">
										   	<span>Country</span>
										  </div>
										  <div class="col-xs-8 col-sm-6">
										   	<span>Enter subscriber MSISDN</span>
										  </div>
									   </div>
									    <div class="row mar-t10 ropDtextB">
										  <div class="col-xs-4 col-sm-2">
										   <select class="form-control">
										    <option>+44</option>
										   <select>
										  </div>
										  <div class="col-xs-8 col-sm-6">
										   <input type="text" class="form-control"/>
										  </div>
										</div>
										
										<!-- code for balance Info -->
										<div class="row balance mar-t15">
										 <div class="col-xs-12 col-sm-6">
										   <label>Current Balance:</label>
										  <label>$10</label>
										 </div>
										 <div class="alert col-xs-12 alert-danger mar-t10 clear"><p>Please enter valid MSISDN</p></div>
										</div>
									</div>
							    </div>
						   		<div class="panel panel-default physical-voucher-panel pad-b0" id="physical-voucher-panel">

	                                <a href="#" class="add-address-card btn btn-block text-muted enter-voucher-panel-event-up" data-toggle="collapse" data-target=".voucher-form1">
	                                  <div class="panel-body">
	                                    <div class="retailer-address new-voucher-popup" style="display: block; opacity: 1;">
	                                        Enter Physical Voucher PIN Number <i class="fa fa-chevron-right mar-l10"></i>
	                                    </div>
	                                  </div>
	                                </a>
	                                <div class="">
	                                  <div class="voucher-form1 collapse" style="height: 0px;">
	                                        <!-- Form Starts -->
	                                        <form class="form-horizontal" role="form">
	                                            <div class="form-group">
	                                                <div class="col-sm-12">
	                                                    <input type="text" class="form-control" id="inputFname" placeholder="Enter Physical Voucher PIN Number">
	                                                </div>
	                                            </div>
	                                            <div class="form-group">
	                                                <div class="col-sm-12">
	                                                    <a href="top_up_sucess_msg.html" class="btn btn-warning">
	                                                        Submit
	                                                    </a>
	                                                    <button type="button" class="btn btn-default enter-voucher-panel-event-down collapsed" data-toggle="collapse" data-target=".voucher-form1">
	                                                        Cancel
	                                                    </button>
	                                                </div>
	                                            </div>
	                                        </form>
	                                    <!-- Form Ends -->
	                                    </div>
	                                </div>
	                            </div>

	                            <h4 class="badge orBadge">Or</h4>

	                            <div class="panel panel-default printed-epin-panel pad-b0" id="printed-epin-panel">

	                                <a href="#" class="add-address-card text-muted btn btn-block enter-epin-panel-event-up" data-toggle="collapse" data-target=".voucher-form2">
	                                  <div class="panel-body">
	                                    <div class="retailer-address new-epin-popup" style="display: block; opacity: 1;">
	                                        Enter Printed E-Pin <i class="fa fa-chevron-right mar-l10"></i>
	                                    </div>
	                                  </div>
	                                </a>
	                                <div class="">
	                                  <div class="voucher-form2 collapse" style="height: 0px;">
	                                        <!-- Form Starts -->
	                                        <form class="form-horizontal" role="form">
	                                            <div class="form-group">
	                                                <div class="col-sm-12">
	                                                    <input type="text" class="form-control" id="inputFname" placeholder="Enter Voucher Number">
	                                                </div>
	                                            </div>
	                                            <div class="form-group">
	                                                <div class="col-sm-12">
	                                                    <a href="top_up_sucess_msg.html" class="btn btn-warning">
	                                                        Submit
	                                                    </a>
	                                                    <button type="button" class="btn btn-default enter-epin-panel-event-down collapsed" data-toggle="collapse" data-target=".voucher-form2">
	                                                        Cancel
	                                                    </button>
	                                                </div>
	                                            </div>
	                                        </form>
	                                    <!-- Form Ends -->
	                                    </div>
	                                </div>
	                            </div>

	                            <h4 class="badge orBadge">Or</h4>

	                            <div class="panel panel-default pick-epin-panel pad-b0" id="pick-epin-panel">

	                                <a href="#" class="add-address-card text-muted btn btn-block btn-lg pick-epin-panel-event-up" data-toggle="collapse" data-target=".voucher-form3">
	                                  <div class="panel-body">
	                                    <div class="retailer-address pick-epin-popup" style="display: block; opacity: 1;">
	                                        Pick E-Pin From Stock <i class="fa fa-chevron-right mar-l10"></i>
	                                    </div>
	                                  </div>
	                                </a>
	                                <div class="">
	                                  	<div class="voucher-form3 collapse" style="height: 0px;">
	                                        <div class="row" style="">
	                                        	<div class="col-xs-12">
		                                        	<table class="table table-hover table-striped">
			                                        	<tbody>
															 <tr class="">
															  	<td class=""><label>Click below to select</label></td>
															  	<td class="text-right"><label>Available Qty</label></td>
															 </tr>		
															 <tr class="">
																  <td class="col-xs-8 col-sm-6">
																   	<button type="button" class="btn btn-info btn-block btn-xs mar-l10 selectScheme">&#163; Top-Up</button>
																  </td>
																  <td class="col-xs-4 col-sm-4 text-right">
																    	<p>&#163;50</p>
																  </td>
															 </tr>
															 
															 <tr class="">
																  <td class="">
																   		<button type="button" class="btn btn-info btn-block btn-xs mar-l10 selectScheme">&#163; Top-Up</button>
																  </td>
																  <td class="text-right">
																    	<p>&#163;50</p>
																  </td>
															 </tr>
														</tbody>
													</table>
												</div>
												<div class="clear mar-t15">
												 	<div class="col-xs-8 col-sm-6">
														 <a href="top_up_sucess_msg.html" class="btn btn-warning">
		                                                    Top up
		                                                 </a>
													     <button type="button" class="btn btn-default pick-epin-panel-event-down collapsed" data-toggle="collapse" data-target=".voucher-form3">
			                                                Cancel
			                                             </button>
		                                            </div>
	                                            </div>
											</div>
	                                    </div>
	                                </div>
	                            </div>
							</div>
					    </div>
				</div>

			</div>	
	    </div>
	</div>
	<!-- /#page-wrapper -->
</div>
    <!-- /#wrapper -->

  <div class="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script>
    $('.header').load("header.html");
    $('.footer').load("footer.html");
	$(document).ready(function(){	
	  $('div.balance').hide();
	  $('input:text:eq(0)').keyup(function(){
	    thisval=$(this).val();
		isnan=isNaN(thisval);
		if(isnan || 0==thisval.length){
		 $('div.balance').hide();
		 $('.divOr').css({'top':'48%'});
		 $('.divOr2').css({'top':'69%'});
		 $('fieldset').attr("disabled", "disabled");
		}else{
		 $('div.balance').show();
		 $('fieldset').removeAttr("disabled");
		 $('.divOr').css({'top':'53%'});
		 $('.divOr2').css({'top':'73%'});
		}
	  });
	  
	  $('.vnumber-row').hide();
	  /*
	  $('input:radio:eq(0)').change(function(){
	   var checkedr0=$(this).is(":checked");
	   if(checkedr0){
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').hide();
		$('.vNumber, .ePin, .fstock').hide();
	    $('.vnumber-row').show();
	   }else{
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	    $('.vnumber-row').hide();
	   }
	  })
	  */
	  $('.btnEnterVoucher').click(function(){
	  	$('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	    $('.vnumber-row').hide();
	  });
	  $('.e-pin-row').hide();
	  
	  $('input:radio:eq(1)').click(function(){
	   var checkedr1=$(this).is(":checked");
	   if(checkedr1){
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').hide();
		$('.vNumber, .ePin, .fstock').hide();
	    $('.e-pin-row').show();
	   }else{
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	    $('.e-pin-row').hide();
	   }
	  })
	  
	  $('.back2').click(function(){
	    $('input:radio:eq(0)').prop('checked', false);
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	    $('.vnumber-row').hide();
	  })
	  
	  $('.back4').click(function(){
	    $('.e-pin-row').hide();
	    $('input:radio:eq(1)').prop('checked', false);
	    $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
		$('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
	  })
	  
	  $('.pickEpin').hide();
	  
	  $('input:radio:eq(2)').change(function(){
	   var checkedr2=$(this).is(":checked");
	   if(checkedr2){
	     $('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').hide();
		 $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').hide();
	     $('.pickEpin').show();
		}
	  })
	  
	  $('.back3').click(function(){
	     $('input:radio:eq(2)').prop('checked', false);
	     $('.dropDtextBlabel,   .ropDtextB, .vNumber, .ePin, .fstock').show();
		 $('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
	     $('.pickEpin').hide();
	  })
	  
	  $('.sldtopup').hide();
	  
	  $('.selectScheme').click(function(){
	    $('input:radio:eq(2)').prop('checked', true);
	    $('.ePin, .vNumber').hide();
		$('.ePin, .vNumber').next('hr').hide();
	    $('.dropDtextBlabel,   .ropDtextB, .fstock').show();
		$('.ropDtextB, .fstock').next('hr').show();
		$('.pickEpin').hide();
		$('.sldtopup').show();
	  })
	  
	  $('.sldtopup-btn').click(function(){
	    $('input:radio:eq(2)').prop('checked', false);
	    $('.dropDtextBlabel,   .vNumber, .ePin, .fstock').show();
		$('.ropDtextB, .vNumber, .ePin, .fstock').next('hr').show();
	    $('.sldtopup').hide();
	  })
	  
	  $('.top-up-btn').click(function(){
	    $(location).attr('href','http://localhost:86/top_up_sucess_msg.html');
	  })
	  
	  url= window.location.href.toString();
	  classFurl=url.split('?');
	  classtoShow=classFurl[1];
	  if(classtoShow=='pickEpin'){
	    $('input:radio:eq(2)').prop('checked', true);
	    $('.ePin, .vNumber').hide();
		$('.ePin, .vNumber').next('hr').hide();
		$('.sldtopup').show();
		 history.replaceState({}, '', window.location.href.slice(0, -9));
	  }
	})
  </script>