@font-face {
    font-family: 'gotham_thinregular';
    src: url('gotham-thin_0-webfont.eot');
    src: url('gotham-thin_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-thin_0-webfont.woff2') format('woff2'),
         url('gotham-thin_0-webfont.woff') format('woff'),
         url('gotham-thin_0-webfont.ttf') format('truetype'),
         url('gotham-thin_0-webfont.svg#gotham_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gotham_lightregular';
    src: url('gotham-light_0-webfont.eot');
    src: url('gotham-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-light_0-webfont.woff2') format('woff2'),
         url('gotham-light_0-webfont.woff') format('woff'),
         url('gotham-light_0-webfont.ttf') format('truetype'),
         url('gotham-light_0-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gotham_mediumregular';
    src: url('gotham-medium_0-webfont.eot');
    src: url('gotham-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-medium_0-webfont.woff2') format('woff2'),
         url('gotham-medium_0-webfont.woff') format('woff'),
         url('gotham-medium_0-webfont.ttf') format('truetype'),
         url('gotham-medium_0-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gotham_boldregular';
    src: url('gotham-bold_0-webfont.eot');
    src: url('gotham-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-bold_0-webfont.woff2') format('woff2'),
         url('gotham-bold_0-webfont.woff') format('woff'),
         url('gotham-bold_0-webfont.ttf') format('truetype'),
         url('gotham-bold_0-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'Gotham-Book';
  src: url('Gotham-Book.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src:  url('Gotham-Book.otf')  format('opentype'),
         url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAEBgAA8AAAAAc7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABARAAAABoA
AAAcS9XXZEdERUYAADRQAAAAHwAAACABEAAGR1BPUwAANJAAAAuzAAAY1v6PBfNHU1VCAAA0cAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAAUAAAAGCJqX5VY21hcAAABFQAAAHfAAACOmKt5TBnYXNwAAA0
SAAAAAgAAAAI//8AA2dseWYAAAf8AAAoqQAASqihl39CaGVhZAAAAVgAAAAzAAAANgQRK0hoaGVh
AAABjAAAACAAAAAkB9AEzWhtdHgAAAIcAAACNQAAA4wNizbmbG9jYQAABjQAAAHIAAAByKmWv7Zt
YXhwAAABrAAAAB4AAAAgAWkEZ25hbWUAADCoAAACLgAABG4H8NyDcG9zdAAAMtgAAAFuAAAB9K9c
T4B42mNgZGBgAOJ5S0+6xvPbfGXgZn4BFGG4EP55H4z+v+d/DEsbczeQy8HABBIFAJazDtEAeNpj
YGRgYO7+H8PAwLL7/57/l1jaGIAiKOAxAKebB6R42mNgZGBgeMySwuDCAAJMQMzIABJzAPMZACpy
AdUAAHjaY2Bi/ML4hYGVgYVpD1MXAwNDD4RmvMtgxPCLgYGJgY2ZBUQBCQZGBiRQUFlUzODAoPCb
ienW/wQGZ+ZuhiUwNUysTHuAlAIDEwAJ0w75eNptk99Lk1EYx7/Pc0ZeVXaRYEVBQmM551tzYzVb
rM1YyEpM5hDtZiqRUldlQRcSoXUnUSERRX9AXggyI7sOMij6cdFNQUE3QRfxihGy9T1HB0YbfHjO
nud5z3nP55xXfLif5EmYbMeALCKtS2jT60iYE+jQRbRhBWmZR5YkZA5dOolu5iIyizRjXtaqP3QZ
KRnFHu2HpyM4rI/RqsOI6TSOaR+yeoVzTeM4quglUc6RIwOkpM3Yaz4gZpoQ1Hf8/xVZs43xEZlB
yTTy+d8oSQsuaAj79A3zY8wPkybSy/rDjfietUmuewuHdBVF/Ylg4Cz38xERfY3duoCMlHGO7/yH
MSk+91usVhhnNIN2nUVBk4gzJrQHcbmEsBufR0EaUJSG6poeceMhU2Yv8zrl+gu2T+6x9gutchch
1k5rN1rMEA5qins7g/0aZs830o4Jxrh8wqmae+3CUb2JjL7lenN816t06uOySSEmU6wdgOfGPgbl
Ff0Nch0fC3bfUoHnzsLHffZ67E3Sq2ed1iOwEzusZ+d4E3Ss1jPZQraaMOI1x3XodI43Yx0/4Vzj
9GF91sE8Y7SOe/6FblesV8ZVUtFrzNf8/k/Q+d2M9WvPgdHOo7c5ZwZeYAzZQDOf4b2wZ1O7B/Ys
VBGis4sbjJJlcoeUSYH0WefaiLS54e57jkTd/X+BHImSiDxAJ7+Nk/IZ47yD+cBzdEgOHknK0+qS
zmOXfkHYfF9HJ9ax3595iZG/GCS7/AAAAHjaY2BgYGaAYBkGRiDJwGgC5DGC+SyMEkDaicGBgZWB
iaGOYSnDaoaNDDsYdjNcY/jG8J/RkNGJMZgxkbGCsY5xEtNxprvMBxREFKQU5BSUFNQUDBSsFFwU
lRTVlKSUPH4z/f8PNEuBYQHDcoZ1DFsYdjHsZ7jB8ANohiNjEGMC0IxaoBnHmG4AzRBWkFCQUVAA
m2GJZAbj////H/8/9P/g//3/9/7f83/n/x3/t/9v+1/+P+N/zH+3/07/9f/++fvmL9eDHQ+2Ptjy
YPODDQ+WP5j/YNr9nfe33Tt8bxrrPYgfKQWMbAxwgxiZgAQTugJgkLKwsrFzcHJx8/Dy8QsICgmL
iIqJS0hKScvIyskrKCopq6iqqWtoamnr6OrpGxgaGZuYmplbWFpZ29ja2Ts4Ojm7uLq5e3h6efv4
+vkHBAYFh4SGhUdERkXHxMbFJyQy1NY1NHX1T5k5Y9ac2XPnL1ywaPHSJcuWr1y9as26tRs3bNp8
OT8lNeNq8fTcrNuFmQz1ExgKGBjSi4BuO8WQXcYwb31FMsPdg/cYcsqvJVXW9O3affrMhYtnzzEw
bNt3i+HGzfsPrpScv3S9urmqpbGtvaO1p5ehe9LkidsPncg7cvRY6cnjhwG19q+fAAAAAAAAAAAA
AAAAFgAuAF4ApAD0ATwBTAFiAXgBmgGwAcQB0gHeAewCDAIeAkgCcAKMArYC7AMAAz4DdAOGA6AD
tAPIA9wEBgReBHoErATSBPAFCAUeBUYFXgVsBYgFpAW0BdAF5gYGBigGVgZ8BrIGxAbkBvgHFAcw
B0YHXAduB34HkAeiB7AHvgf0CB4IQghqCJYItgjqCQoJHgk8CVYJYgmQCbAJ0gn8CiYKPgqACqAK
wArSCvALCgssC0ILfguKC8QL5gvmC/wMNgxgDKIMxg0cDS4Nag2mDcQOBg4UDjIOZg50Dp4OtA7A
Ds4O+A8WD0APZA+ID7AP6BAQEEIQZhCSELIQ0hD0ERgRLBFAEVgRcBGWEcgR8BIYEkISfhKqEuQT
ChMwE1oThBOiE8YT+BQ0FHAUsBUAFUAVjBXiFgoWPBZuFqQW3BbwFwIXGBcwF2oXphfQF/gYJBhi
GJAYyhjyGRgZQhluGZYZwBnsGfgaEhoqGlIamhraGyYbSBtqG4wbvBvOG+Ab9hwEHCIcOBxaHHAc
rBy6HMgc3hzyHQYdLB1OHXAdih2wHcId2h5GHlgeah54Hpwe1h8YH2Afjh+2H7YlVHjanXwJfFTV
9f87982eTJLJZDIhIYHJMJnsCZlMJvu+Zyb7RsgGSchCQgIJi+zgAorghoIFAXeh2p/an7VWRFHb
oq3WBfmpVUtbP/1rbf25on80L/9z73szWYn0H5mZ92buPfd7zz3bPec+OcK1cBz3K3Kak3NqjtPb
DLyZ15vttuUtQTHG5a2t5HSaUADPjW/r5wiXB4/CDmwro22BNaZvIFvUWvPvsLYa/NlPLnzL3jhs
H4dvB7B9CLcI25uVNoNZaXawl93GXjYleynxN3Jgk2XDrkXFYWfwNXSNZePusOLQM/gafP7MkjPw
6vmiJ/Cv6HzRY/hXdJ7jeC514hhJI5e4UG4JF8NxlgCF0mC2R1gdgUZ7PNiTUxx2myHQqIywGsLA
YvcBQ0CgPBnvsoGkbejI3bU6rr17pGdDa2738pjCunWrhM+zy9MgIKM6x/lcda9iZbf38sx6r8sh
LZWuXnl6prokM93nUnDrdZ+R3IT41H8mpOr/l89FBiL3kie+57XkZc6L8+WCuQguCWccoDCHRyAM
W1KgBczgP3lvSY4whysQji0pBaZer11WXLSspbioGerHJ0oJuQXvm/ElbE6xRiWlWCNtcJS+0zvi
Xz7QX4avFeOF5LSQfpDdPWkvKU7Gl/C6dEHx8VzcxFfkMDmH2CxcPPJKaRXBOBijEKEhQGlMcRgV
St6Nx5iitzKe2ZLI4cw1PTs7t560mHpry1Y8eCLOmmdPXJ8ak5ARFrnH8GxBQW1u6+L4tUNDzTfm
x5RElXS2FmxLvz9vedjaHNgb40iPXZQaEy/8/uyCqoQ0J7KGyhL3HJMlLgRQiPLC2t3yw9HfCydG
YTP5A6fEG4WfUbnEzwKbP/nEJHwGBnL4oJBy0HaULD7K2qZi2zViW71D5ie3pvilmsAgfGb6hBy2
HR2/eNR2EF7lWNsi2A/95Aynwxul1Wh2KK0Oq8NotSkdRiX0h/RqkjW9IWNj7gv4IqFs27ayBHtK
fOm2baXxKUijgltD7KQW15oDlDAUaxQ7sx1Cyt94o/wNuO7110vxnzhe/MQN3Emun2qMMcWKMm9A
KY0vUyxptac3BWf1t2TmakV+yKAJGnClODDZTdAk/BMCQVZDf3MhJUoDf7MhhZOtrf2U9sRnEzsJ
4cNYHxsK2LMlQmIJH/bjStS97IlvyH5cbyXKI8f5KRZH+KUs9k+OCFcEBCaR/Q8I39//IKiqN57Z
sOkMfCe88fabkPi2EPrFz09+8XM65kJ8A3KWU1Ce2nRmnXLhz9MrryM3ZIznkOEoNrdE1O8F5Hdc
EN6EK5TWbGBypPAFk8Fkd2SjZEWALa0pNt22rqljc2XXszAqGIXa3FqyIz072lk20lS2rvGh0qyL
ZR3JmeWMZhLiNqFcBIl8MCjDUAJRVFGpUT+QYAxY4THhFDz/Qc/uPV0PdqY1bMprXr0szo+sL0n/
RtW1vG3jNlufMyuvJIHaILQLpB/noeEom206cbFMVosO4OmioSGncEsAXC+8T84K1vyHHkpTQ79w
CHHYEUcU4gim8onTUYo6MhWJOVzZFQB3CE/6lhT033jzmn3DyV3dFe0rXKUV0AsNZRcXrV/Zu3M4
rbO5ML82ErFkIc1SXBMjZ6bSR9XMOElWUkT9FHNAEuJr69pHoGx7z/5bV68tiYu554ah6M4KZ1e3
y9lGNmUVPXrj6k2dPdeXxG3tffBdQZ/f0Jpd2NJK9QfnvQjx0/VDNqJ0FMKfhRebIZOMlWaM7yBj
ol1InrhE8nEN9VwYF8lsKDNRDvrGjEIYeAxCUoqeChC7Ivl3/e2uyvxN+1/evym/sre1sGh5695W
Y//R/q5Hus4sGx5uzmoOcqyuHhioXu1Y0ATa5OIie1ppqfBlRkVFRqrTifzIQX6UIz8CuXDJWoq8
tXrspDFQOZUd5fftGumLb2hqHyPFOwf3HlgzUtrU2V3pbO10ulbAyCPnG7MqHt0zsrlz1Y2lTSWF
rZ1FhY0ddJ6Eq8X3XxA5zphaCdQiHb5+0Yp/cLR//Id+2saGuiq20YpteI/GYsstotLS5g+4FRe4
Uq6RhJIBxmeLQQsGSym8I+yAXUIM7PrUdfq5yk/Z+C3c70gEXJbGR4Gi/7XAH4Vk9rpcfkKU/y6k
lyrSA7k9DuxykkpJIcl3IMdNkOBqcfAp+S0XQDVFz1QN5dGa4tZAs5VO4K3O3ur8nhpb577uraNt
GptvI853iFTkpVa0Lx0baVq2Sjt4n3C4X+SRfaKdP47rsZTLcnuvKUuB9lFaB/vkmqDDMIdz9mTO
liSTT1kq/viw017qW9Je0XdLc1eCtiBSGReZXvvpwz//P588ef2Y35YDZyY4buLpp7gJ4fdF9ryu
wpTcbsjcuD3OWt9T03t7XZH679bAiJiB7gMf/OuRk58WhlRwE0/9N5B/3+coHXCmFwwhXiuC/l/U
bSVqN6fGKZuUZtB7ATwOOQ21wrV1NZDz0vET5Ox4zjPPoILnQI9wBFegC/sdRt3w5gyMj0zOmRaa
dCAZGYPefQH7+7YO33XTmPAKhJY115S/81l1a8fyD8npjurRxLhtLavQ957Ly7Jnfym8VJCRnvOd
5L++Ic8yXecsPuCJA4xM6xmLHOTZzN0th869cvey7ekpPRvHjhwdLexLGc7KfuPuw2+nOtI7H7z0
cJIN50nxvop43bY8BnS2JH8KDj/Jq2/e//XX9+84sfuBB3bDt8L5VxBP9OfHxy9I8sSRldiX+iqD
yf2fjrQJDbBd2A2PC0BOl/5v6bel2Ehq34KXak97tP2kRWiGLcL1VeR02eVS4U+0qTTHszjHBThH
dDBTZygKBzpFEzm7STjz0m9/Vn9Nqq31mtFDh7aPNb4Dpo7Vrx+580J8Qmb1I5t2PlD8ixJp7Dsl
rHRYm86ELzMpFgarquAgvjKE3+LsXgHHeCG2H0AUz2B7nkauOvNAFeLDHxi2RROX4E38zYfZNGpZ
woCKrs4Gb25aebMzLbzMnuWs/mT9tq1LbUubauAdzsOvp0UMKFGAASVCQO+6HdK6hK/vRAy3r4Kb
hA1Qd+g0QmmH+yb7ZbI4mrNR4IauKrgJ4ewv8/zOA5M5DjDGprNTA53ckxOyCVc1N8FNVFcRh3Aj
bBjHtcaV2c7mSOn+UlwPC2UG0J5klStHyHSV7yNLMfTLHn+RLgih68H7XMnn8z6vCufOvQqpG+75
/Mg9n8M3woUL5yH6grDwq5MPf3WSk+RsGElp0BtQ/UfhN+tMSdQGM1FLIcP3bDhVBYqNt1T3ND3x
WFM/fDh0zXfk9KaB8irhjw0ihs94I2LQYtTPWYximIkwqIphnEV1SpR/8pu2lNbObUcppHMv7bbv
yqK4NraOujLqKyiw83fu7RnOWF/Ve81UfA8hPi16DM5k5s06Bo/aZ4cH4kMr/nCuCuJGb+prXNPe
8O7/VHeDn/AFOb2uo6HP79W8cuHjSo75d9HvoefRY6jriTJEKcFNguSORXE+UTW8ceiG/nu3LU1d
W1Lc6BzYOry7e9/q+LahglqitWcGBbdVtwyNpNsSC+zJmYEhyxvqBxuznHni2i9F3E1Mfzm6fGbq
jwerPyMRZHR8PxktK8M2zRPfkuPYhsalOnGjgMstmlsdOX7shuuPVa3t6RpB0Ri+68Tx2+CQsGbt
lg1r4ZA4hnXiB/J70d9b9DQYtMGmyw3C28XC280ryHIM2s6ydnETP8isGP96s3YYevNmLzDzNqh4
Ie+Fc3WXC144m3+5cT0pG3+alGCv1PFz2BPonoE8LOqFifZA4cXOQB5uv3hxOWiF8bb/eadVGIc4
4W3owej1bxAmnMJ+KAXkCeynEucu9jpQLXzY+a/PWyEQo1wDPCzcB+3YtgDbjkm2h8Z+LIwkKqGc
hAvp8LvxP2GIZx9/ocSObdsntsNWiadUR9FOwdZ33hH+Rk5njqdn8tkYH1/G+Fgnxsd65EgevIEB
Mo2P+WOMFxlIY5lIQ2/SmWhMkIGw/3bhAjn944uZKB00Lv83/BL5Rf07blxtRvP/3ZB/JPNIIdnz
szffZLyfECY6ScvEcTqOEiET0jr+wIoccV1uJXWQQz5mMTrKP8Da6g5SN2i5DeU5YeJb+JZ4i/Eg
5/beKB+TTteerHS71CyIgOUH64zt7QPrygs3Vo5u6qmpPFRaVeEo7XHCuYicmIFVwsuVyxqdNU2B
/kWb05MSU6uykgJF396I8tVJ3kfdQWvNMVlnpm1mxNl5sGuz0+Wq3NRVNOCsGBmpqOyDbd8cXNNF
3hdeGhW+ahle29S8dpDNLQXtvz/xQy+K9t8DeYr9J/4t14zcfffIpiZbeV3l6qGaxtLm7mPDI8db
UyrX1zesd4nYUhFbvhubSZw+I6Wz8VOx5VNYBxnAcgqMAuwbvQPRQaoQ1bR2sBXRIT2KaxHi0tPo
nWk0C1MiPBtdiykeXbLiOlVvSVtxYtP2oTsPDAzvBmEVuBSNZQVt/6hpL4tZcWjj2nuObvBVpzm7
u9l8Y/Gtm3yEMRfNlJiZKtvESRsQpuH5B+53lZTUVCxdEh/aQvh8DDjOFsTVL9MWaNeI82zHefqJ
622ZjHezwDNju21awJu/f/O1feblg009tdesvO32FVsrXeVrXc7e/nLnupYtu0oz8zuWZQ3d8P7e
vrZPK1d2VlV2dSHORhwsGPnpjzh10iJTudIx0ve7XFljrQOuisKCZogU3sWFfbNnbbvwPMSX1bVQ
nM0428dxP+2JldHS2h5vbla4XGRDw7gdQ2S6bhM/TrRJ7fzEdkobM11WO4K3Y4c6V35miME/IAO7
/W78w4J8eQ5fJOoFxWhCjNTX681Wj5/Nu9j6TL/LBcZOsArvfTmwB+GpwMz6tOH7KezD9sE62ymE
875Ei1+FfKWx3LSpihfip82AP8EXBaPLel0lOVm1zpKttS5X3qoxONk70im8APEVNY3lwgVILK1t
LRHeI/KmlR5e+nl4aZifl/KWqayUZLEG+yspBY7urnBfJWqcuMQ1R/9x95F/VAzX1A2sqalbDaMX
j99z8bjwZcOGsVPrxyTd7UTd9Zuqu24oV6W7wjh5sG+a7lJZ7GSyyGjKzbopEviTOncCVEzrugTB
rXTuNYUNxIf6FgezydlgNIhcCltTolg29vrrRL6noJqv28rax2CM9gy2j5e0IcKtDtT98vjhMSeh
EBDGG8NkBnimrzp1NMbavDwhMy/XGp++sMvV3Wh2OeMcfgExwQtDrUtDA24rrYsyO/LjLMQc4e/l
b0oKJ/m1aelJ0SbiE+Tnr1KrfRaExoYwDFET38FKci/TaV0AWgqD6HupZtPUzpmmCEu0raCqtNT1
AJwV3mr0zw8sqYDUwqNHC2n/SrRdOlQIfyk+s09z3fBbpzNnnSQgH0Lk+A9UPiBPeEuUD+DMEz+S
SOwv+m2eeuKI/6r7a+HFhmZ4bPw7osY20RM/8jaiZLHjpMcOAfjTzXurf1Ww7+bCp2r37iNKoQOO
j38Hh4U+ohZWwL0sLsDFNiJ9t56Z9Vab0YHu/o/LTtzb+IeXmu++uxHUwndvvw1KjA8ZpvCJNhKD
ffxorEo3L+K6OOiYJOY9U3VGakqwJdacaPys4fRDRD7+z6qC4Cx9TArhhRr4LzEnh2/fE/l0Xw63
CE/BfwuPQLOQCy/nLRWG8pZK+btH0Y5EYluWcKQRHYvIaBZSySIxthezi7EZzU/Ao92pQNcIUru9
d7SAPS84OM8OLTvI4eCcUk2KV2aeny430ytFU5oTbDO2Nygz1VkZmRlZ6kxlQ7uRYdw4sZP7tRgf
GFFcf52XtxMjA+rXRuGUiMfIdtZ0QDcKGiKKyDLAIOoJhZvS44bTo6VwcoODcymclqtCA1wZ92+4
FYZY5M32i2ZPRo2yHm71jVkS1O6nN3gn+MYuMXbQK+hMWxplCNWyd24yl89LuXwz2mS9Td/S2rq8
xRgTRE73jz+WBs8JBdg2feIyMZAXMT4zi94bRUOcYwY4bEqWNecDbbjoZrYkRmJYtkmv8c8LrFz5
s2Gtb55/SVZSSlyFn7q++ISisj8n+Tc9pG1g4c2NwydqWnQFySla4RoCTiiC0frsbprOY/FdOUZV
wTQnJSo388OhIG1L7XTHeGh937V1WaZiW0E5GIVPoWv8cn09DA4O7h5MjIpudg0W/bU43vCx5EdS
0b4exf1GrOiBKMMkqjQUw9Ux4gcL6h1Gxlea0cEF3VfXHnpH152tmZF1WXmrggCEr2QEdwrjgUNl
qXXWtPi1Vf2HQpbXEDicPXjDjTGp9nZXdpBJF55TsyI9LbLItXdtjp8pnGGgMe4dyPdAGou6s8E2
+uJZhG0zwLbXXnO+9tprTwntf/lry8SvQNOcPTaW3ZwNY8IpaBRuzuZYzvYSSUf+xHAZbP+lnJFw
FPckjhlxFu5dMGawuu+Y1U4vySrvrt/bllS1Ksle0rqufeZ9eU5VQXRiVk5VXmxiFjTEZWoicrPK
OhJdlrDQ6MCQ3ORZ32SGROv9okLZO2Jdj3HtDvKkGCMA9f34gh0tLY+3tJC6jo4O/MWO+1E124/q
uCVTdqR+FKsfDRBFr5M0mRVx8OrzwltvnYf4J57bd/MZfGlz66tWr74vx5KcmlbucqTZJ3euWgh4
4UXhXy+8lT9yYiQzMql2Q10SzWmmgwmyyfMYZ4VwEQzd1IA6wh1o69EuWe0eTwxpS5dkxuQWpEZG
RpUv9U1bmpEjF34EWYrFao60hCyxwbGI2MSYuKVe8nBLYPSCjDThQsKvg7zCEkOsYhybyEXBZ/AB
2nKaazYqcfdrt4of8ET6nj3p92Vl7NmTcR98YHr6mfALqnfED+wrm8arRdTyzOaWHiXCaLaaqWuV
NuUGmmqbybEFybGjhas7HA9lV6bFRQ4NRCbOZhkcj03V3HnzzTCalbIo/DoxvmolzXCYHPHUIA4L
L0MmaaZqy5WiddqN9kLMLUhxTKCUW4DdHVs7OrZa0urT0urJqs2trZtbX6zNzKzNlPz8NyQc52ae
7uenmvTJ3KUykITfMFCzNz69bmtxc1dzaXlZW13BQEV6653dOzfvf75prDA9qa80I7OwsDgzpag7
evdA7YaEeDrOUyiT3eJeS292GL/O7qgmdbdZODEvcYRPQwy+NCNHdQsjE09ugnhyJIVZj45dV1wn
ZiVqxUxJR93BpAcVW8JZUkL4QkqXiPUPuI/lS2hlAXcDTMggdaDaa8vR22guCgOl3p71Yg3ne+4k
rKDYHGIN5/t++v1dEz0QhxTo9zal9YssZ4XmwXAxN5+IctyIu29aUwyaXk/kqexKqFOgsSEnu56+
eOEiLLalVCfjPxKX3dyUhS/h6YQ/x2Sk12emIx8yUEYvuWXUwmpfBrn4AfVMOoUdTFSjTL/+dfg7
qgvihyjfGCtdZv4lSPIvUnnQs73KAZvxUmtrDUs7V9s6b+rZMtqmtvmh6xF+nJF2FufIcrj8PpbD
9ZmWxdXT7fL0TO4uunmels2Fy3QrPT8d8yw6Z6lkzKDD5MRNZzOjo5tOR9z+zyB1oiJ3oHAgfzo1
kl5w7bVT5zfC6IVNz1LP5eanE4ci9PWTXl+8mjFUV+rSSMNCLXtHOyKOt0zig//0Ed1mesYoEaLV
nsEQ0YaL9LqY3qDfBk9dSCTLSTJIqbc4suuzHWCTSN9nSbJYkq4/foI8EpoelZERlR463owD/IN+
bZGS8UyukM/8eyhXvjT6cSBW02Sm2u6FqvXmUB0cIZFCLwwKB+GY4B/0/ldIScxbP4MRzU2wgeWj
e1jOHXHK3WXtqQl3DAB8wQqj15+akXNPTttSn1+h1r1y85TEuy09S3ZLuDvvuBJli+rhtCw6VZup
mfQvqXy6s+nZTDLn7W8xT+8PMiqYHgJMJD39t2F//xnjiyI5lcT3kjy6iexikshLNJYxDPqZKESx
mIZkuygTHixUGigWQnPuOBcxN4BWj6rpQFWVmk19vJBcFnNbA9SHTGtnZu2K2QxpOzo7wupcYTg3
nlpR1k6cEza1uqcyXshniQrFi54V50Hperkpi/ixy2MSakqfIsb9Nw7yCctbGqW6HwoFLaFQ+0Xd
J3VCuyoqvr7/zTfv/7rqrbce2H3ixO4HILMUUn8vnH8Friv9+p7Pj3vW4Zeoy2oudGo23jKHIrsz
9LB7Dg2ekrZ/eKr20vmxHD6zY2ydZmXxkdszMvlHkfMzs/nkOVH4fpqeeRa9elyh2fREWXTT28bo
Bc5BT1y9GSSvEVdyJlWeo6vqpjnCaJpn09TPwd8ZA8TOweVZo0VM57VMGneZxBvjHCNLkjVjNC2T
stk8EnWE5zKRbiDaIb24uxIr28gYdyEVt1dSuG60JFuB1Ut9Xj26c3l2Xddy9+ezzo6NR3Pg0xxh
F72CjjsvlBcMrrqVfgx112c9snmw+jeD1UJH1iMsZ0frB/wNaEsNc1UQEgAtzWQV4XOmrTMrCWlM
aH6SltU8jdazTKNn0ZLiLpHWZqQVNCctyYJNkrvg1vqZFLd7fKpIs5HhWzA3QsmiTZKtlizDTKoZ
bNGIWKfAOatYlsVdqaAG2lOtEC5QzZhSsnDP0V0382b8kupmNoNtVuWs6unJylnP0Obt5PQmVjr7
Q6OYP5sQSBL5K7eYUhETIFY7S0BY7e6iO808Ur9GlPuqV922raWnp+VgWXpejWtLX9taErs107+5
rK2PZJPCnIxidZpj0J633Clo4NuB3b2Ud2LN4WOWg7ZeXdWB2pwrVx6WU/Nz5eoDuKhQ/f+Na55v
3Gi6GPONSxfHPe4FNm70VY4rBXpXHDpbMmfzjH6r21+J47/Cxndc3fhz2bsrg+mby/TNg+xX0+NF
Ed+T0rrEXCVCdyB5RVSloomcb32o4knj8wvY+DGc7erG95+5/7wijhgMSbPrA1goOh+ad2szMmoz
trHQVFq3b/gbiR/uxBNoNsYyLYMg7VaN0oE3pWmyxmQVS0tTimARcL5rR826jSsrKl2lRYhz2SHr
ov7s4d1E6FX1FrcVJzbszB7UgEvRUFbY1lCdW+wqTemr9W/tbXRWNyPKUoQ9bM8+ukHhz+pSjm+c
3V1bDGmIvTVOrMP1sDpc0GTcO7UKZ1TQqNe3fcu0QtzShuH8CqXfXSsnq3Hx7QoMeHmpfvYxq5+F
zVtBowHwFatoe9EyzK6kfSLag/9gDPM8YzyOVmCOMUTdF8e4wMYwzTuGFHRecZhjosbPHglimKLL
pLGelOYTPu9o7oD7isPBEqY+c0xMDDE4MvEtq4V9LMbXtBpGPfwpl6uQenZ5pWfv0Ubz/lPbUe+N
7VTUa8srkVFk4jts44t8YjE4ayOyA5tFSt5Yfpu4j5gQsK1Kyvt5ia0d0nSwebvoZeWVbpyML/nk
7yibS9iJWwctPxiV7gMXIm8WTTsDnb9zybVJrcFd5lU9cTF3bFxzcN/K+sr4oZrqFQNV1atIb05C
VrE1MSHhzvyR/KEjh1b373E8WzHQV1kxskaqdbOa3Su4W4qYs2o31857WiUvbS6bOrO8B86ZsbtY
6/uY1foC56z2UVc6s+L3EXWg06t+8JC0fldF0zyb5nHqHGfSxLV207vA6C2Ym54Uks0g+YLk9GZQ
/VTaX4p0X2F0I+amO9c2acYgIXMxfvqIxHc62yXdq0GZFHkUfAUuSSHhjBHTRUc1k1eS/PKcFWl3
srMEVx3L4xCjLSVxrqrcI6NthXGV1XlHEgvrBq2wzCp8k5Rfvxr4keP2+AZX98jxlKWNFWnRY43F
9mtK7MLfo8ao/Io1xYviis9RVWQB2dTK4kkUoZnVRfiNxwb8JD3zDHrbUHxm06O2QqJ1QZSeuWhJ
wdNUcreJojOTIgFJdkSaT7pXb06EUsAxlawXW7pZOM94bI9Yx7zI+dHq7qxKJtvGzKpm3srs4oyK
ZrmYqxDr8O/PrMPrrr4Oz2+efoiGlzA+yTAGzYlSkttZSGMlWzsDKzO97rMS8qlnJeQsVpDOd2o5
Lgp0SrsD8TsMSoOJtAjWiorKd9+FfRAXWGaEIuHt/PK8cSnPHSCe1aDW1N3pnJP+QZNwEvKCKoxQ
JZwLqmC5dlTKBJbPM9JRaI7d5kk3WXSiSsoSxm+kOReyzpPW099Ecy+/h9hXaNYJSDRLvDDbwn/C
zndYKBYx3yJm9+aIwBzMyfpMcSlkyeLNFSN3H1lbsWlx2HDJml2Akdcq6nobdpRudEdejUM1tQP4
2pnjOvbRCWdObgX1uswFV1zEiOuFUxvGGuo3sHPSl0g+vw29fNRVnR7MAVxCq22+Q4QPSn52nrOE
P0r7XyKdm7jAxXP2qz85wTsYiKs6QHFaRHOV5ygIJ+mxuIduZHtovym7aLcMe3bSvxON7pStdIY7
v8jOACJv1YzC5MkBEf3Uw4AQKvFMOhTIy0UGEenswYWZNPQSB6YcQvhEcmrSWQSyUuIxPRfyA3xE
zrIzRZSPvkCfXmPKSU835dBcuoNVm+GjyFBrtDrg1qNx2tLcoIX6BXna2JVDRp/ywkQTGdNEJw4W
fFOcK8uXOf9VsNFZ7MXoryF1cANinHKuUJrOXR4MU9uI2H+Q2tzhabOK1MABNld6bgAFwRaY5IAD
sprtNbLUgFsDyIXskpLsoiLa9g9IL4r8ktX36HJEtbeTuk5Rpm5HOitxHzZ3fW+luI1akrxkSTL5
aPpeCbinJ1qhD2NHDd0noSM0KOiDZQCKoYZWH03wAqciSpZhN5lYjoOUwzGME650zuHYXBWP01Nd
PuHqcR73uWNaQDMupw7MntVRIXyR3VFBa36DYr5yel114dxVaL07Y0PzNVeoqS5syq1LvT2/MrWt
oT7GNkc99Y7MvG0wmpteeruVE5/nUsCfoM5TS/2TsA4OgMIl/cbnTf7Go5HlOem3UviIe5E9r8Tp
fcCIQkdL/i9aFhNLa3I6OaaNXux5ZswG73G/EM/L6j1Pqtikx1R+nHxG5eqeQaM13o/gJja2ga2O
e3Tl5CXchEiWLE9OPz0LkXkSGn2WBt6D9Qybfio6q+fqBxwf6ZyfAdc8BQ/ihhGGWz8V+SSNS9No
NM0igXPP5D6HdvHccgiY9Uo7e9TP8DdFimLrFnW2egualH9AsMqh2r9f5RB1qhjf+rAPPdfKHhHE
Tg53T6tR6YA+1nWrQqJBL65nBFSnTkmk6BXSGuQ+hHXwdyqpbq2Cda5Bl2sQ7qLvLlx6XHiyh+t1
76lMkrlkbn9PS8uXy5Z9sWxZL/2j+JT0WVPZDZ5nTS3seZ2yGc+b2sC8ZPJe9tOPnlrmfgxVWzI+
USrTuB9D/cus51F5g/t5VGHPXE+mXhIfS+27wtOpyZ6nVIGdn9Cy2jSnF49NvDXtvAQ7s41tjGIb
h1i2Xj+1XM3OY5+eOAZ/Jpc8z0Xe4hTinOTSj4+gTAXDXrKX5WppTIg2lSq+0SHVcqhckbY1iqHY
hDVD8TGCM7brKzL28MP/guSTJ4U/gka4BJroaKQTi2v2NjsLHEVHmeM0sHyuL0nC/fc7S0qqK5LM
sWEtwq3znBiOnnF+mKdj8jdKY8b9J6MCfWZkvpFfxfBwvtHH36Ynbak9pRgOIAZ6BiCOPtlAPYn8
P0LCH2hqEu79CTQbGs7Nj0cu7s9i2XOOIp6F86BhLFjU3CycmDoUtDids4aSiItrvIDxO+gKJ74p
1ednEeTn5F0h1zNxiO8mn7Pz0sFI3c7lcaVcNbecW8dt5a7lbuYOcvdyv+Ce5Z7nXuL+AkqIhUTI
hAE4DC/DJ0RJ4shSkkcaSS/ZQnaQfeQR8kfyT17NG/kUPp2v4zfxP+Of4J/mX+O/4r/jf5SBTCbT
yPxkRlmYzCJLkNllmbJiWa2sQdYm62I7ABNPD4WKCR+MMQKYmUAD4kvPpNvdZ7MMAbYkekbbjgrn
QLtEj7jZDDY77YCXKUiBPtZPYxR2bwhw97dNEqCH+6aMIHX1BYmsWTo4Z2Zw6DeI6Mo3soDw5MX4
gmSrAnfkNhwpFMdEUInWCIyAkwIXgdKuyAIcNhQSjYGhKBsptiwwG9iNEluGZ6EOYR8r65Jiw7GN
KRmAhOg8bMkZGNfHYFCVAEqjTY5x5NRHHK3JVgz1xamxM6K2JNyIRLCZ4pYEJ2+jh/GkFpb/rLUi
ASIQidVsTFmEYCavAzFWMdqs+Du2Z9cmq6exwRaB6BfRsCoBzEZ6JzaapIfkjejPaUdHipuEI9ka
T9jEEEFSGBjDxcWzJ4eLc7XhG5u/nTKYVc7pYhqs9F5ptdEPo/Qtekp2+jHcfUbWfRzS3ZPeG2Zy
04KXRiooxmT62K80SytjlFF+FVOkd5Q/5nCxqV28tSXRW5sy3E1Aicy0OZCZSYuIQxrIzOg7GHcC
bdb5mSXyIYIJlpJKOH4aUKBsdBt9VZKE36Bzy6EQcSZKKyOwCGyBdoeRbioygHLIKP6ALQySrDqU
dD2SrOzaztCh9lBoBvY/vmDfGnBMnKxEk/6O2pVCwyUMbeXJSkOSFd8C6VuS0ap0MJIW9g500ZHb
CiqNSe4Pj8LKzeE4D6XUaPJrNjE7/hRoDEzyZURQuI1UppP47nEgE2oFryEaXqEArRYSdEqNv1Kd
CLzS38tHRniFt1aWpFX4KLzUVoWfAv/F6hTGJQqZD6/wJcFKlVxhVJoU2FqlUBCZ0ltLZGrfWJFM
Am0qdg73VngHe4OXBrwVSg1olElXvCEOldCsghAgYTwQmYIHmU4GCjmAXaHwl4GO3ct1crxIkAHI
QgniRGOqIIR+8NiSkDC4bryORBt9VL6Bvirf1T5yg1Yu45Ua4qdSyBVBSBrhqv0WCO9f8SeiVREl
yAiBhaAkPP5Ar0PB/S298nwrPOf5Pk4GPjI58AgJgJfzoJaJjYRv3U1CAvRqouQJ6L0JL1H4rVZG
1D5ylRzdglyp8ublRKOR4z+ZSgY/x9k8dscSL58aH69barx8fTXZ3hafGl/L4z4+nYbgYEOYb7uP
z/4oU1CQKYo8hq3L3XMf/1rp5QtKH29e5YeACU+nw8vVciVZ89OYH2PTlMv9fBQy+kUQqIlMbgyS
y/GuU8Fjd5yGT6ictTYgo1R8mAJ4ejOE46h4LwhbEKh1zjd1okLAkQqFhjLfV8EvkM+zskm+RC2X
KYIRLK9UEeSaFkClBm/APr3o3BS8r5xXoYSoEiMjs+Ryf61aqfJS8jJ5BEoQElOBj5zXaJU6osIR
CECGl1eNl9e1Xl6n5PJLgYHC3fj6Tu7rB3Ajr5LJhQ/oOxzzUvvhP+EDL63Wa4T9/LT01XMyuZcv
cog8oJG/wquUsrygIPL5j6cCDOg/goN1/hqlv8ZPwetUGmSutzZU7+OjB18fk6+vCYl5a0z8EpUq
PNzLy8RrlbxGhg1lcpnWmyjlwDoT2oaXuskXLpSHG43hYDQaA2dfBKvwj/dFsQFvDEDkBHlMjChP
JIiAwiDHGeMXajXjJxD8glA5I9KNBlS8Rq5VeNEe4BWrUFT6Gr28/AK9VN5y1HsvBRUiuTcuHSqM
zMtHzQNoNFr9vL/KQG3GNUTJ8vUVP6VbP7/JW51W4Ydmx+ilm/zOV0toCyNPu+HakQUGFF9vP6NC
S4VHrpSptMoYhWJFdvbCPJMpb+HCcMqJ8Hi9yRQQt9KUF27U+QfiTV549sKAIMPCLItCUSXNaInW
aPQGhQmXTEa8dEgpdi4oKQhGgw5IL6ewNPqQoEC5zKZZLJPz0WEyGfC8Og5iw+RyHqksUgMf6Bsw
F3zkZQ0B3PKRYH9CDQ3gUgZcifNmItdrVFT65VoqtyAPAfDzC+FRu+S4fPjuzX5WeWv8/fVA5EgY
dQOX0ltGfwY5pS1XExXlFK/W0jsVUSOBXSrQovbg3PGC9/ZGWWP/kb2+ajk1/aiZvF5r9PUJeijw
dfxuMbsOUAZ460Bxk1qhUsg0Op3f/wPp9NYbAAAAeNqdkr9v00AUx7+O06SIKmoYGJhOzK3lli0D
UlLVTaWqCZGHDCyuc46tJL7oclHknZE/ATEgxMw/xl/AwteXA4KEEJCTnM/7ee/eewCeeh142P/u
8d6xhxa+Om6g7T1x7KPrvXTcxGMvd3xEnzeOW9R/dNzGq0bs+BiB33R8ipbfd9xF258ys9d8ROmd
vaVmDyf44riBjtdw7OO598xxk/WPHR/RxzhuUf/WcRsfvM+Oj/G68cnxKU78F4676PhDDBEjgsAN
FAxyJFhREriivIZGQL5EaI+gbw7J/yGtEhmW/Gqrr+hdWyJatigxo77CGTW3lFKbp6aM9h55Z0/A
O+tIhTn9E1JOOaC/Yh0YxpG4USZPVkJcqbUOxGUYhiLOpRgqmS2lFnG1liJS23KmqzNxW6YBP5nq
id1uF5hqreY6WedVkCrmO3wk9omBCeues+Yl1ZqinG+XCSHCiNsR4w59DFjzyHbqGlOMyRNKiEb3
8V1/0BvF0fV0PJrEv15xzjjFs/h+2flAKQp1Ly/4yn1XEYYXAZ/1d7Fj2/MEG9ttbaewn4Ght7Dx
8sf8KloKvi6nXtiYlFTQVlKuZ6EPYjKrN1ZTT2NG7cp2ZUFdQq2x+R7YrZ9ZSlt1wcySNwQscSmT
jRRaZpyPUcJwXJxepYt5bsRGpqZQpciUtpZMlUYYnczkKtELkRiji4etdSmVKVK5Ycrfb+nhjv7/
Zh5u2X7J/rhf/7ZF3wBzws+lAAB42m3QVU8VAABA4e/eq2J3d3d3o2KLmNgFiC2i2IWFrdO56YOz
p06dXZvd3d0dM/+C3vns2c7jeTmC/vEnTV7/42PYgKCQdNLLIEJGmWSWRVbZZJdDTrnklifc55Nf
AQUVUlgRRRVTXAkllVJaGWWVU14FFVVSWRVVVVNdDTXVUlsdddVTXwMNNdJYE00101ykFlpqJUpr
bbTVTnsddNRJtM5idNFVN9310FOsXnrro69++htgoEEGGyIuELTNAmlOW2uhlZbZYJelXphvjRXW
WeyiNzbabau9rrtqn3gJVhnqpkTX3HDXLbfd8c0wD91z337DrfbEI4+N8MMvS4wy0mhjjZFks3HG
SzZBikkmmmyK76aabpoZZplpi1SzzTHXT7+d8NSH8PMDDvrks5O++GqHZ9576ZXX3nnurfUOOeyY
4y454qjL5rlgkT2uOOOsU5bbZLudzjkfCHkQkRSfkhyXkBiKiY3+C6wabHEAAAAAAAH//wACeNpj
YGRgYOADYgkGEGBiYGRgZngEJFnAPAYADhoBFwAAAQAAAAoAHAAeAAFsYXRuAAgABAAAAAD//wAA
AAAAAHjatZh/aFTZFcdvfhiTmJhMnCQ2atjVYEXWLbjiz4iBir9Wq2bdaDSKFbYUGooEwaUUg/8t
tf0nLAhLCPafiOgfKZh/XtgGYbpgNdPotMnEzEvCK+y4+qj7SvuoTOnr5553ZzKjY7fQLo8z9817
955zvufXPfepEqVUtWpV76iS3h9e+qmqVOU8UUGg9JuSn3zUp5+p8B/vSmWsVCXN/5CZ59QX6qFy
StpKzpU8LX239G7ZlbIbZcNld8t+X7ZQ9q/y1eUXyi+Vf8Z1Z8mFJb9c8peKjooLFe7SlqVblj6u
vFT5RdXhqh9V3a1uqP56WVONqnlWe2P5L+pUXVfdSF28fmV9X/2dSEvkrchO6K3Ip3Vx/s01bG/4
WaSl4c6K9StuREujP48OR//ZWNpY2bi8MdrYVXmp8XyjVdHRtLq+r6Kjvq/p3ZKnJU+b2puuNN3l
927zxsZo82Dz4/o7IGkJfLVEbQ1eqm3Bb9SO4HdqZ/AH1R58rurV+sBRG6FNgac2M26B9kH7oQPQ
ocBVR7BdJ/cnoC7m9TFa0Bi0XLUFg6weUXuRso/Z+5lxgPEQYyfjCcYu3p3EB/3MHeJ+jOdr1Qp+
o0Ec/Vz0SKJHEh2S6JBE00G1nZU7gk/QdhBtrxjuvnA/yLtD3B9RdUYKEoK06g5uq9OBpXqCBHom
0TMp0uKMj6AU62xoDpqHFqAIWjiqCQ4tzGgT6cNITiLZVrvQsB18u5nTzezTzDvDfQ/3Z7m/CPUz
9+3/C57iWGL/NZbNqiHoRhNbRbF3I7M1rubg12ol99/huY6GVcxczf82tMlqugmNstpuBd9u3u8N
xtFyBC0ttBxByzRaWuoYKI9DnTz7gPEEzz5k7ELjk6w7xX03dBo6A/VAZ0GhbaWR9CN3CN4hohGQ
pEGSBkkaJGmQpMm/OjhFoAaNJsiAxjde+jOcPCL7idqmykD3Jc/+xr924ryBGSuZ3RI8BWOGp63y
VPvG5eksT315ulSehlz1fEfmX5Q1UXnrs+aFkflM1l00HCNoN6jqWRNhbAguhd4Xm3uscNHqNnqk
sbmLvX1We4L/AWseQk+CAapLi7zJSt2gquDrw9OHZzqHOMTzXNY/IeLLiacZYsklljxiCe+pWtEn
qdZi5zbmrw+m8es0Pp3Gp9P49K8S19vhu4O5O7nfxbx29NiDP/bxfD90ADoo+ZvGv2l8m8anDj71
8ek9fDqJP/+kepnTB99+eFiMY8x7gPyH0AQ+jUOT0CNoFnkp5tvQHDQPLUDV4C1H4wyavcjh2cXY
LtnmS7b1aAuAzQeTCyYXTC6YXFYErAhY4bNC1x/fZJRvssmXbMpyOmO49bHWgsbEHz4642lVg8w6
tI9ADWJJnSGPyQydET46TiAxgcQUEu8jcZws+SPWS6oO5mru5xn7WTPFs8oCfTrz9OiRGuhTA6uI
XR1JYRRZPKlG5ghIPZB6yB4ArQdaD1k+GZmGq2e4ZmuGJyi7RIJnJOjqpGu1py5D/fAcYq3F/RgU
B+8jaAq5M/xfBlrfeOE5CL82NnVA56m9aNWNl3qgIe4r0Jm6CbXBc5NgTsPLU98F0Ut8FTcxOAGK
CRBMgGDCWNE3ldBBjoOMWbN3OCb+nLz4c0z8pYk/Fx1iUlN0PQnjb0LiT+8pFvd6R3rAu4dQsXjb
INrVYotsphSv0zqyfpWr02F2aE9mxJOhdhkTXRmpeIua5ddqPy8jklK3J03tniX7imn4piicxsoO
9tOZMol20yYK9d4UIzJm8qIwY6JwWqLwbTB7eTGmq4MFt0G4+HDJwMWR7NmtPS2e0Dgz6qDsreBj
PEUN7cbzp6EeqFd2c8vs5pmCeEox34bmoHloAaoAly9Y8vXXGbQCXTSql3n1LF1ob2QV2Jv/2rYp
Rhuag+ahBahZ4rgNLmGsZeMsDcq0xLPOoj2y42rPZfL2dM9kTQZkHt7J4J0M3sngnQzeQUtsec9U
/mFjz2G1Buu3Qm3crwfdRijM20liahJNdO6+wLZXwXUVXNfAdRUNEuC6pt7n/eFgQR2BjrKPHQtu
srveBO9VdtebYL7G7nqT/P4UjafIhFtofQut76D1LbS+hdafkRHDxN4k+W6BYBjfXCUOJ7HVVeJw
mDgcNvlugS4BugToEqBLgC4he0+Y1Q15mb1LbJPJZfhObDDBzE8khyKMDdAaZrZKpA7mdp5NPF/c
fdIm3nxT311TzyxsYmGTcWximQ5jHHvQd0JHmXMMOcehTt5/wHiC9x8ydhHLYbeRxB5J7GGbbiOJ
Pe5jj5jsUJel49Cdp2V2KiuXl1PoOCO91OsdiEY6bbxtG28PgtQDqWe8nQJpCqTXQZoCaQqkbh5S
7xWk4yCNgXQcpLq7joHUA6lnkNogtUE6DlIbpDGQ2gaproE2SG2DNAlS2yCNgzQFUtt4XiNNgXQc
pDZIbeN5G6QOSB2QOiB1QEr3D1JfqvZaQaYrdxxkcZD5IIuDLC5d4Xb+L+bpV6ZeJECVBFXC1MYk
qOjNoaOyPyVAkjS+ck1nmBQ/hZrH0dzNq+RxNE/kKvkM74rVSu2f3+KfK2g+gn+u4J8B/JPEP7qP
HwBFDBQx09vGQBEDhW0Q6Nj+ChQZ459BkAyA5DpIBkCSBMn1VyJxFP+MgmgA/4yC6jr+GcU/g6ZH
GjU7wX38E3buZ9Gtl/d93F/mfT9rh/hv8X+M+we8fwhNoeMM71PItaE5aB5agNaA9O/Sba6nzmyE
NkNboK1St33Tvbmme/Pl3BZ2b9reLhqF1S3cNWeQPmM6trAbTbHGhuageWgBasz1W2EUhD3X4jnP
lZNLeDp0RZI+HYbS3IJeK/SqK6eXpiJ77vArZ6MBwaA5n5Q+0IJjrGBvLabvUnZ2jwi2qe+jpraH
uvToU4TsrLWyF4YddjjTkl2zG1uEWuuTXVp6p/PSO2XYu332bR8P+XgoA4IakePJnvumbkz3S6eh
0A4ZLO+ry7JzeWqCMc6uOMn4iDGpOXO/3Ojo5umYRMpIno7pV3QM9VqlarBWLVRH5kSgBmitWqf2
8KyDnXkvs9/UH+tz7Hnm9TJnSDpEHx1b0XEdOrai4zqkJNDTU7PqPU5ee8jLCmNvR+ydH2VNxKor
1tmbi83wZFF4qvDNqSLrpTA+L/Ms7Ct0fLrEp4tkF9v7OS+6udPhWjRZtJBjLGTDzQGXa7wIHu4n
oSnDqQlrReGi9/FhrDUKF8f018/Q9zn6PkPf5+j7DH2fi5V6Rbc0uj3DQlFjoaix0LB4sh4d3Vwc
dmS/f+SQeuiXzn0/OG+4ZqNMc6jJiyzPRJZnIsuT2WEPr6OnWlZov9/G6nr/vh2eJKTPiYtdQlSL
/XV+b90ldvOMXn6uBwr1cuT0ECLWvbWHNzyQ3kaqIycHLdmS01mEUfeXhZLdgtqUX5fCauEVnMwW
JWfjwDVxEJ7SppCRjYWVUhHDPNTSfBPjtvl6ZSPNQZptvly5BeevUErC4NMxb+eqYZLnWWz/q1WL
Yftmq1YjJfEfIiA8xel8LF6lC1fqWrout7qryIn4bMGpWH9baZbfKJe+d+U7okdsb8MKi9/GdCc3
WtCt53fqr/bWuq6Uyvcx/Q2liT3aNX26/t4Wg2fcnGkG5TRy0Jxqw9xxTIVO5HK7XzqD13eCla99
KdgG93CPyUrRp1tLTrYHRYKOxYR0Vrqrkl2Ld9YbJJQbC2ZyFizDUq1YylErpQbo/nDxu2hxP4bf
RevE+h/nercwu2vNl9VBk0NTcJiFwxQcZuEwBYdZOHxpelvttyk6hW/7S2qxr46rv9XvncUk1n5j
bBTzWhU+aidjqom9DfhqlEiJqhb8topxNXQRK5TybymXYn4Vcb+MqxSJtfi4jrnlqk1tZO4m9T1m
bpYddq/ap95RB9T7PPsB13vqmDqntqiP1I/V9zkt96r98L7IjD6ug3QCH6tDqp/rsLrOdYRoG2Kd
pcbUUXWP67h6wM7SqR5znVJTXN0qSd6c5tybUmf/Da55ZXoAeNpjYGBgZACCk535hiD6oJqJJIwG
ADaxBFwAAA==) format('woff'), url('Gotham-Book.ttf')  format('truetype'), url('Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}